/* 

	General Button 
	
*/

// Background
$button-default-background-color: #ddd;
$button-default-background-color-disabled: #ccc;
$button-default-background-color-focus: #bbb;
$button-default-background-color-over: #bbb;
$button-default-background-color-pressed: #bbb;

$button-default-background-gradient: none;
$button-default-background-gradient-over: none;
$button-default-background-gradient-focus: none;
$button-default-background-gradient-pressed: none;
$button-default-background-gradient-disabled: none;

// Text Color
$button-default-color: #666;
$button-default-color-disabled: #222;
$button-default-color-focus: #444;
$button-default-color-over: #444;
$button-default-color-pressed: #444;

// Border
$button-default-border-color: #ddd;
$button-default-border-color-disabled: #ccc;
$button-default-border-color-focus: #ddd;
$button-default-border-color-over: #ccc;
$button-default-border-color-pressed: #ccc;


/* 
	White Button Override
*/

// Background
/*$button-default-background-color: white;
$button-default-background-color-focus: #eee;
$button-default-background-color-over: #eee;
$button-default-background-color-pressed: #eee;

// Border
$button-default-border-color: #ccc;
$button-default-border-color-disabled: #999;
$button-default-border-color-focus: #ccc;
$button-default-border-color-over: #ccc;
$button-default-border-color-pressed: #ccc;*/


/* 

	Toolbar buttons - this includes sub-panels etc.
	
*/

// Background
$button-toolbar-background-color: white;
$button-toolbar-background-color-disabled: white;
$button-toolbar-background-color-focus: white;
$button-toolbar-background-color-over: #e4e4e4;

$button-toolbar-background-gradient: none;
$button-toolbar-background-gradient-disabled: none;
$button-toolbar-background-gradient-focus: none;
$button-toolbar-background-gradient-pressed: none;
$button-toolbar-background-gradient-over: none;

// Text Color


// Border
$button-toolbar-border-color: white;
$button-toolbar-border-color-focus: white;
$button-toolbar-border-color-pressed: #aaa;
$button-toolbar-border-color-over: #e4e4e4;


/* 

	Small Button 
	
*/

$button-small-padding: 2px 2px 2px 2px;
$button-small-border-radius: 3px;
$button-small-font-weight: normal;
$button-small-text-padding: 0px 5px;
$button-small-font-size: 13px;
$button-small-padding: 0px 2px 2px 2px;

.rs-header-toolbar .x-box-menu-after {
  background-color: transparent;
  border-style: none;
}

.rs-header-toolbar a.x-box-menu-after:hover {
  background-color: rgba(249, 249, 242, 0.15); 
}
