/* this is to override the extjs4 setting */
.x-body {
font-size: 85.01%; /* 12px [1] */
font-family: arial;
}

body {
  margin: 0;
  padding: 0em;
  min-width: 50em;
  font-size: 85.01%; /* 12px [1] */
  line-height: 1.5em; /* 18px [2] */
  background: white;
  color: black;
  font-family: arial;
}

body a:link, body a:visited {
  color: blue;
  font-weight: normal;
}

h1 {
  font-size: 1.5em; /* 18px */
  line-height: 1.33em; /* 24px */
  margin: 0.89em 0; /* 16px 0 */
}
h2 {
  font-size: 1.25em; /* 15px */
  line-height: 1.4em; /* 21px  */
  margin: 1.07em 0; /* 16px 0 */
}
h3 {
  font-size: 1em; /* 12px */
  font-style: italic;
  margin: 1.33em 0; /* 16px 0 */
}
h4, h5, h6 {
  font-size: .75em; /* 9px */
  line-height: 2em; /* 18px */
  margin: 1.56em 0; /* 14px 0 */
}
h6 {
  font-style: italic;
}
code {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */
}
pre {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */
}

