
.left {
  display: block;
  float: left;
  clear: left;
  width: 200px;
  margin: 2px;
  padding: 5px;
  border: 1px solid #CCCCCC;
}

.center {
  display: block;
  margin-left: 240px;
}

.centered {
  margin: auto;
}
