/* Presentation stylesheet */

body {
  width: 100%;
  margin: 0 auto;
}

/* classes */
.box,
.main-content {
  margin: 0.5em;
}
.cols-wrapper {
  margin: 0 -1px;
  border-left: none;
}
.hide-left .cols-wrapper {
  border-left: none;
  border-right: 1px solid;
  border-color: #DDDDDD;
  margin-left: 0;
}
.hide-right .cols-wrapper {
  border-left: none;
  border-right: none;
  border-color: #DDDDDD;
  margin-right: 0;
}
.hide-both .cols-wrapper {
  border-right: none;
  border-left: none;
  border-color: #DDDDDD;
  margin: 0;
}
.large .cols-wrapper {
  border-right: 1px solid;
  border-color: #DDDDDD;
}

.box {
  font-size: 92%;
  line-height: 1.3em;
}

.sidecol {
  color: #333;
}

.sidecol ul {
  padding: 0 0 0 1.5em;
}

/* dom-tree */
.dom-tree {
  padding: 0 0 0 1.5em;
  color: #999;
}
.dom-tree code {
  font-weight: bold;
}
.dom-tree ul ul ul  {
  list-style: disc;
}
.dom-tree ul ul ul ul  {
  list-style: circle;
}
.dom-tree ul ul ul ul ul {
  list-style: square;
}
.dom-tree dl,
.dom-tree dt,
.dom-tree dd {
  color: black;
  margin: 0;
  padding: 0;
  display: inline; /* IE 5.x doesn't like this */
}
.dom-tree dd {
  font-style: italic;
}
