/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.x-grid3-cell {
padding: 1px 0px 1px 1px;
border-right: solid 1px #EDEDED;
}

.addedFilter {
    background-color: PaleGreen !important;
}

.deletedFilter {
    background-color: tomato !important;
}

.diffFilter {
    background-color: LightGoldenRodYellow !important;
}

.defaultFilter {
    background-color: transparent !important;
}

.dialogVPanel {
  margin: 5px;
}

.linkButton {
    background-image: url(../images/link.gif);
    text-decoration: none !important;
}

.searchButton {
    background-image: url(../images/search.gif);
    background-position: center;
    text-decoration: none !important;
}

.filterOutButton {
    background-image: url(../images/minus.gif);
    background-position: center;
    text-decoration: none !important;
}

.showMatchingButton {
    background-image: url(../images/plus.gif);
    background-position: center;
    text-decoration: none !important;
}

.referenceButton {
    background-image: url(../images/reference_list.gif);
    text-decoration: none !important;
}

.clearButton {
    background-image: url(../images/remove.gif);
    text-decoration: none !important;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
