
.rssfeed {
  padding: 10px;
  border: 1px dotted #003366;
  width: 30%;
}

.rsschanneltitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  background-color: #BDDE7B;
}

.rssitemtitle {
  margin-bottom: 5px;
}

.rssitem {
  margin-bottom: 10px;
}


