BODY
{
	background-color: white;
}

TABLE
{
	background-color: white;
}

TR.nav_header_stripe
{
	background-color: rgb(102, 153, 204);
	color: white;
}

TR.header
{
	background-color: rgb(102, 153, 204);
	color: white;
}

LINK.header
{
	color: white;
}

DIV.caption
{
	color: white;
	background-color: rgb(102, 153, 204);
}

.navheader
{
	color: rgb(102, 153, 204);
}

DIV.text_caption
{
	color: rgb(102, 153, 204);
}

BUTTON, INPUT.button
{
	color: white;
	background-color: rgb(102, 153, 204);
	border-color: #666666;
	border-width: 2px;
}

BUTTON.login
{
	color: null;
	background-color: null;
	border-color: null;
	border-width: null;
}

BUTTON.header
{
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
  border-style: solid;
	color: white;
	background-color: rgb(102, 153, 204);
	border-color: white;
	border-width: 1px;
}

BUTTON.widebutton
{
  WIDTH: 100%;
  font-weight: normal;
  cursor: hand;
  border-style: solid;
	color: white;
	border-color: white;
	border-width: 1px;
}

BUTTON.nav_header_button
{
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
  border-style: solid;
	color: white;
	background-color: rgb(102, 153, 204);
	border-color: white;
	border-width: 1px;
}

.pointerhand {
  cursor: pointer;
  cursor: hand;
}

.separator {
  position: relative;
  margin: 3px;
  border-left: 1px solid ButtonShadow;
  border-right: 1px solid ButtonHighlight;
  width: 0px;
  height: 16px;
  padding: 0px;
}

TD.label
{
	color: black;
	background-color: #dddddd;
}

TD.transparentlabel
{
	color: black;
}

TABLE.label_left
{
	color: black;
	background-color: #dddddd;
}

TD.label_left
{
	color: black;
	background-color: #dddddd;
}

TD.label_right
{
	color: black;
	background-color: #dddddd;
}

TD.mandatory, SPAN.mandatory
{
	color: white;
	background-color: #cc0000;
}

TD.foreign, SPAN.foreign
{
	color: black;
	background-color: silver;
}

TD.error
{
	color: white;
	background-color: khaki;
}

TD.column_head
{
	color: white;
}

TD.vt 
{
   vertical-align: top;
}

TD.bannerLeft 
{

}
TD.bannerCenter
{

}
TD.bannerRight
{

}

TR.even
{
	background-color: #dddddd;
	color: black;
}

TR.odd
{
	background-color: white;
	color: black;
}

TR.low
{
	background-color: khaki;
	color: black;
}

TR.medium
{
	background-color: orange;
	color: black;
}

TR.high
{
	background-color: tomato;
	color: black;
}

TR.survey
{
	background-color: khaki;
	color: black;
}

TR.list_banner_line
{
	background-color: black;
}

A
{
	color: WindowText;
}

A.column_head
{
	color: white;
}

A.header
{
	color: white;
}

A.spell_check
{
	color: ForestGreen;
}

A.button
{
	color: black;
}

A.breadcrumb
{
	color: blue;
}

A.web
{
	color: blue;
}

A.relatedcrumb
{  
	color: blue;
}

A.blend
{
	color: WindowText;
}

IMG.cls
{  
    margin-right: 0px;
    margin-top:5px; 
    margin-bottom:5px; 
    height:10px
}

IMG.clsshort
{
    margin-right: 0px;
    margin-top:2px; 
    margin-bottom:2px; 
}
.menutitle
{
	background-color: #eeeeee;
	color: black;
	border-color: #bbbbbb;
	border-width: 1px;
}

.context_menu
{
	border-color: black;
	border-width: 1px;
	background-color: menu;
}

.context_item
{
	color: black;
}

.slushheader
{
  border-width: 1px;
  border-color: #CCCCCC;;
  background-color: #F0F0F0;
}

.treeviewCell
{
	background-color: #f0f0f0;
}

.treeviewOuterBody
{
	background-color: #F0F0F0;
	border-width: 1px;
	border-color: #D0D0D0;
}

.filerTable
{
	background-color: #F0F0F0;
}

.filerTableButton
{
	background-color: #F0F0F0;
	border-width: 1px;
	border-color: black;
}

.report_table_body
{
	background-color: #F0F0F0;
}

.column_head_light
{
	background-color: #dddddd;
	color: black;
}

.assnav
{
	background-color: #F0F0F0;
	border-width: 1px;
	border-color: #bbbbbb;
}

.outputmsg_info
{
	color: black;
}

.outputmsg_error
{
	color: black;
}

SPAN.changed {
	background-color: #00cc00;
}

BODY
{
  font-family: Arial;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  border: 0;
}

TABLE.navpage
{
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

LABEL, A.label
{
  margin-left: 3px;
  margin-right: 5px;
}

DIV.label
{	
	color: black;
	background-color: #dddddd;
	width: 100%;
}

TD.chart
{
  margin-right: 10px;
  font-weight: bold;
}

LABEL.header
{
  font-weight: normal;
}

LABEL.groupheader
{
  text-decoration: none;
}

TD.item_action
{
  width: 8px; 
  text-align: center; 
  padding:2px;
}

TD.label
{
  text-align: left;
  width: 150px;
}

TD.label_left
{
  text-align: left;
}

TD.label_right
{
  text-align: right;
}

TD.mandatory
{
  text-align: left;
  width: 150px;
}

TD.foreign
{
  text-align: left;
  width: 150px;
}

TD.error
{
  text-align: left;
}

A.web {
  text-decoration: underline;
} 

A.attachment {
	font-size: 8pt;
	color: #555555;
}

A
{
  text-decoration: none;
  padding: 0px;
  cursor: pointer;
  cursor: hand;
}

A.column_head
{
  font-weight: bold;
  white-space: nowrap;
}

A.menu
{
  text-decoration: none;
  padding: 0px;
  white-space: nowrap;
}

A.spell_check
{
  font-weight: bold;
}

A.button
{
  font-weight: bold;
}

A:hover
{
  text-decoration: underline;
}

A.linked
{
  text-decoration: underline;
  white-space: nowrap;
}

A.blend
{
  text-decoration: none;
}

A.breadcrumb
{
  text-decoration: underline;
  white-space: wrap;
}

TD.condition
{  
  font-size: 8pt;
  font-family: Tahoma, Verdana;
  font-style: italic
}

A.relatedcrumb
{  
  font-size: 8pt;
  font-family: Tahoma, Verdana;
  text-decoration: underline;
}

IMG
{
  border: 0px;
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
}

TABLE.navbody 
{
  width: 100%;
  height: 100%;
}

TABLE.wide
{
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

TABLE.widelist
{
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px; 
}

TABLE.widelistportlet
{
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  border-collapse: separate;
}

TD.vsplit
{
  vertical-align: top;
}

TR.even
{
}

TR.odd
{
}

TR.low
{
}

TR.medium
{
}

TR.high
{
}

TR.survey
{
}

TD.column_head
{
  font-weight: bold;
}

TD.title
{
  font-weight: bold;
}

TR.list_banner_line
{
  height: 2px;
}

DIV.hspacer
{
  margin-top: 5px;
}

IMG.button
{
  cursor: pointer;
  cursor: hand;
}

IFRAME
{
  height: 100%;
  width: 100%;
}

.menutitle
{
  cursor: pointer;
  cursor: hand;
  margin-bottom: 5px;
  padding: 3px;
  text-align: left;
  font-weight: bold;
  font-family: Arial, Verdana;
  font-size: 8pt;
  border-style: solid;
}

.menulabel
{
  cursor: pointer;
  cursor: hand;
  text-align: left;
  font-family: Arial, Verdana;
  font-size: 8pt;
}

.submenu
{
  margin: 8px 0px 8px 0px;
  display: none;
}

.compact
{
  padding: 0;
  margin: 0;
  border: 0;
}

INPUT.decimal
{
  text-align: right;
}
/* not formatted with commas */
INPUT.integer
{
  text-align: right;
}

/* list check boxes */
INPUT.list_action {
 height:10px; 
 width:10px; 
 margin-left: 0px; 
 margin-top: 0px; 
 margin-bottom:0px
}

TEXTAREA
{
  font-family: arial;
}

BODY, TABLE, INPUT, SELECT, BUTTON, INPUT.TEXT, TEXTAREA, INPUT.button
{
  font-size: 10pt;
}

UL
{
}

LI
{
}

A.header
{
}

/*
  Context (right button) menu support
*/
.context_menu
{
  position: absolute;
  width: 165px;
  border-style: solid;
  font-family: Arial;
  line-height: 20px;
  cursor: default;
  z-index: 100;
}

.context_item
{
  font-size: 10pt;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}

.spacer
{
  margin-left: 5px;
  margin-right: 5px;
}

.nav_header
{
  font-size: 24;
  font-family: verdana, arial;
  position: relative;
  bottom: 2px;
}

.nav_header_description
{
  font-size: 24;
  font-family: verdana, arial;
  margin-left: 4px;
  color: #808080;
}

.slushheader
{
  border-style: solid;
  font-size: 8pt;
  font-family: verdana, arial;
}

.slushbody
{
  font-size: 8pt;
  font-family: verdana, arial;
  text-align: center;
}

.slushselect
{
  font-size: 8pt;
  font-family: verdana, arial;
  width: 230px;
}

.slushselectmtm
{
  font-size: 8pt;
  font-family: verdana, arial;
  width: 340px;
}

.treeviewCell
{
  font-size: 8pt;
  font-family: Verdana, Tahoma;
}

.treeviewOuterBody
{
  font-size: 8pt;
  font-family: Verdana, Tahoma;
  padding-left: 3px;
  border-style: solid;
}

.treeviewOuterHeaderCell
{
  padding: 2px;
  padding-left: 6px;
}

.filerTable
{
}

.filerTableButton
{
  font-size: 9pt;
  font-family: Verdana, Tahoma;
  margin-right: 5px;
  border-style: solid;
  cursor: pointer;
  cursor: hand;
}

.filerTableSelect
{
  font-size: 8pt;
  font-family: Tahoma, Verdana;
}

.filerTableInput
{
  font-size: 8pt;
  font-family: Tahoma, Verdana;
}

.listbar_select
{
  font-size: 8pt;
}

.listbar_text
{
  font-size: 8pt;
}

.listbar_navto
{
  text-align: right;
}

.report_table_body
{
  padding: 2px;
}

/* used by OLAP */
.column_head_light
{
  font-weight: bold;
}

SPAN.label
{
  margin-right: 5px;
}

TD.navpage_left {
  width: 18%;
}

TD.navpage_right {
  width: 82%;
}

TR.header
{
  font-weight: bold;
}

LINK.header
{
  font-weight: bold;
}

DIV.caption
{
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 2px;
}

DIV.text_caption
{
  font-weight: bold;
  padding-left: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
}


BUTTON, INPUT.button
{
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
}

BUTTON.treeheader
{
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
}

.assnav
{
	border-style: solid;
}

.outputmsg_info
{
	font-weight: normal;
	font-size: 11pt;
}

.outputmsg_error
{
	font-weight: normal;
	font-size: 11pt;
}
.taboff {
	margin-left: 2px;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: bold;
	border-color: #888888;
	border-style: solid;
	font-size: 9pt;
	font-family: Tahoma, Verdana;
}

.tabon {
	margin-left: 2px;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: bold;
	border-color: #888888;
	background-color: #dddddd;
	border-style: solid;
	font-size: 9pt;
	font-family: Tahoma, Verdana;
}

.tdSash {
  background: #cccccc; 
  width: 4px;
  cursor: col-resize;
}

TD.tdwrap {
	white-space: normal;
}

INPUT.questionsettext {
  width: 250px;
}

.question_category_label  {
	font-weight: bold;
	text-decoration: underline;
}

.questionsetcheckbox {
  font-weight: bold;
}

.drag_section {
	border: 1px solid #dddddd;
	width: 100%;
	margin-bottom: 6px;
	z-index: 100;
}

.drag_section_selected {
	border: 1px solid #aabbdd;
	width: 100%;
	margin-bottom: 6px;
	z-index: 100;
}

.drag_section_dragging {
	border: 1px dashed #222222;
	width: 100%;
	margin-bottom: 6px;
	z-index: 100;
}

.drag_section_hilight {
	border: 1px solid #00ff00;
	width: 100%;
	margin-bottom: 6px;
	z-index: 100;
}

.drag_section_hilight_neighbors {
	border: 2px solid #ff9900;
	width: 100%;
	margin-bottom: 6px;
	z-index: 100;
}

.drag_section_picker {
	border: 1px solid #dddddd;
	border-right: 1px solid #444444;
	border-bottom: 1px solid #444444;
	margin-bottom: 6px;
	z-index: 500;
	width: 300px;
}

.drag_section_top {
	background-color: #eeeeee;
}

.drag_section_header, .drag_section_header_active {
	font-weight: bold;
	padding: 3px;
	width: 100%;
}

.drag_section_header {
	background-color: #eeeeee;
}

.drag_section_header_active {
	background-color: #ccddff;
}

.drag_section_movearea {
	white-space: nowrap;
	width: 100%;
}


.linkButton {
    background-image: url(../images/link.gif);
    text-decoration: none !important;
}

.searchButton {
    background-image: url(../images/search.gif);
    background-position: center;
    text-decoration: none !important;
}

.showMatchingButton {
    background-image: url(../images/plus.gif);
    background-position: center;
    text-decoration: none !important;
}

.filterOutButton {
    background-image: url(../images/minus.gif);
    background-position: center;
    text-decoration: none !important;
}

.clearButton {
    background-image: url(../images/remove.gif);
    text-decoration: none !important;
}
