
@import "xwiki.css";
@import "wiki.css";
@import "page.css";
@import "rss.css";

#xwikinav_footer, #xwikiwebusermenu, .wiki-table th, .rsschanneltitle,
#xwikilanguagemenu a.xwikilanguageactive, #xwikilanguagemenu a:visited.xwikilanguageactive 
{
    background-color: #6699CC;
}


.xwikiactions a, 
.xwikiactions a:link, 
.xwikiactions a:visited, 
#xwikiwebusermenu a,
#xwikiwebusermenu a:link, 
#xwikiwebusermenu a:visited 
#xwikiwebusermenu b
{
    background-color: #6699CC;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-size: 12px;
    height: 21px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: arial;
    float: right;
    color: white;
}

.xwikiactionsleft a, 
.xwikiactionsleft a:link, 
.xwikiactionsleft a:visited, 
#xwikiwebusermenuleft a:link, 
#xwikiwebusermenuleft a:visited 
#xwikiwebusermenuleft b
{
    background-color: #6699CC;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-size: 12px;
    height: 21px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: arial;
    float: left;
    color: white;
}

#xwikiwebusermenutitlespace
{
    background-color: #6699CC;
    border-color: #FFFFFF;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    font-size: 12px;
    height: 21px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: arial;
    float: right;
    color: white;
}


#xwikiwebusermenutitle
{
    background-color: #6699CC;
    border-width: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: arial;
    float: left;
    color: white;
}

#resolve_action
{
    color: red;
}

#resolve_noaction
{
    color: grey;
}

#toc
{
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
}

div.base {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    font-size: 8pt;
}
div.base#graph {
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    background: url('/xwiki/model/images/grid.gif');
}

TABLE
{
	background-color: none;
}

TR.nav_header_stripe
{
	background-color: #6699CC;
	color: white;
}

TR.header
{
	background-color: #6699CC;
	color: white;
}

TD.label
{
	color: black;
	background-color: #dddddd;
}

TD.transparentlabel
{
	color: black;
}

TABLE.label_left
{
	color: black;
	background-color: #dddddd;
}

TD.label_left
{
	color: black;
	background-color: #dddddd;
}

TD.label_right
{
	color: black;
	background-color: #dddddd;
}

TD.mandatory, SPAN.mandatory
{
	color: white;
	background-color: #cc0000;
}

TD.foreign, SPAN.foreign
{
	color: black;
	background-color: silver;
}

TD.error
{
	color: white;
	background-color: khaki;
}

TD.column_head
{
	color: white;
}

TD.vt 
{
   vertical-align: top;
}

TD.bannerLeft 
{

}
TD.bannerCenter
{

}
TD.bannerRight
{

}

TR.even
{
	background-color: #dddddd;
	color: black;
}

TR.odd
{
	background-color: white;
	color: black;
}

TR.low
{
	background-color: khaki;
	color: black;
}

TR.medium
{
	background-color: orange;
	color: black;
}

TR.high
{
	background-color: tomato;
	color: black;
}

TR.survey
{
	background-color: khaki;
	color: black;
}

TR.list_banner_line
{
	background-color: black;
}

