
.rs-fontcolor-icon {
	background-image:url(../images/fontcolor.gif);
}
.rs-linecolor-icon {
    background-image:url(../images/linecolor.gif);
}
.rs-fillcolor-icon {
    background-image:url(../images/fillcolor.gif);
}

/* First Row */
.hex333333 {
	background-position: 0 0;
}

.hex000000 {
	background-position: -17px 0;
}

.hex993300 {
	background-position: -34px 0;
}

.hex333300 {
	background-position: -51px 0;
}

.hex003300 {
	background-position: -68px 0;
}

.hex003366 {
	background-position: -85px 0;
}

.hex000080 {
	background-position: -102px 0;
}

.hex333399 {
	background-position: -119px 0;
}

/* 2nd Row */
.hex808080 {
	background-position: 0 -17px;
}

.hex800000 {
	background-position: -17px -17px;
}

.hexFF6600 {
	background-position: -34px -17px;
}

.hex808000 {
	background-position: -51px -17px;
}

.hex008000 {
	background-position: -68px -17px;
}

.hex008080 {
	background-position: -85px -17px;
}

.hex0000FF {
	background-position: -102px -17px;
}

.hex666699 {
	background-position: -119px -17px;
}

/* 3nd Row */
.hexD3D3D3,
.hex969696 {
	background-position: 0 -34px;
}

.hexFF0000 {
	background-position: -17px -34px;
}

.hexFF9900 {
	background-position: -34px -34px;
}

.hex99CC00 {
	background-position: -51px -34px;
}

.hex339966 {
	background-position: -68px -34px;
}

.hex33CCCC {
	background-position: -85px -34px;
}

.hex3366FF {
	background-position: -102px -34px;
}

.hex800080 {
	background-position: -119px -34px;
}

/* 4th Row */
.hexDDDDDD,
.hexC0C0C0 {
	background-position: 0 -51px;
}

.hexFF00FF {
	background-position: -17px -51px;
}

.hexFFCC00 {
	background-position: -34px -51px;
}

.hexFFFF00 {
	background-position: -51px -51px;
}

.hex00FF00 {
	background-position: -68px -51px;
}

.hex00FFFF {
	background-position: -85px -51px;
}

.hex357EC7 {
	background-position: -102px -51px;
}

.hex993366 {
	background-position: -119px -51px;
}

/* 5th Row */
.hexF1EFEF {
	background-position: 0 -68px;
}

.hexFF99CC {
	background-position: -17px -68px;
}

.hexFFCC99 {
	background-position: -34px -68px;
}

.hexFFFF99 {
	background-position: -51px -68px;
}

.hexA6F3A6 {
	background-position: -68px -68px;
}

.hexADD8E6 {
	background-position: -85px -68px;
}

.hex00CCFF {
	background-position: -102px -68px;
}

.hexCC99FF {
	background-position: -119px -68px;
}

/* 6th Row */
.hexFFFFFF {
	background-position: 0 -85px;
}

.hexFDD6E9 {
	background-position: -17px -85px;
}

.hexF1E0CF {
	background-position: -34px -85px;
}

.hexF5F5DC {
	background-position: -51px -85px;
}

.hexE0FDE0 {
	background-position: -68px -85px;
}

.hexCCFFFF {
	background-position: -85px -85px;
}

.hex99CCFF {
	background-position: -102px -85px;
}

.hexDBD3E4 {
	background-position: -119px -85px;
}

/* Fine-Uploader */
.qq-upload-file {
	width: 420px;
}

.qq-total-progress-bar-container {
	width: 100%;
}

.qq-btn {
	border: 1px solid gray;
	background-color: transparent;
	color: grey;
	text-shadow: none;
	box-shadow: none;
}

.qq-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.qq-btn-container {
	vertical-align: middle;
	float: right;
}

.qq-upload-success {
	display: none;
}

.uploadword .qq-upload-list,
.uploadword.qq-uploader {
	min-height: 260px;
	padding: 5px;
}
.qq-uploader {
	border-radius : 0;
	border: 1px dashed #b7b7b7;
}
