.rs-user-section2 .x-field-label-cell > label {
	position: relative;
	left: 20px;
}

.rs-rbac-checkbox {
	min-width: 120px;
	max-width: 120px;
}

.rs-user-header label {
	font-weight: bold;
}

.rs-user-invalidpermission {
	visibility: hidden!important;
	pointer-events: none;
}

.group-no-roles .x-panel-header-text,
.users-no-roles-no-groups .x-panel-header-text {
	height: 16px;
	width: 16px;
	background-image: url(../../css/resources/images/form/exclamation.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 20px;
}

.group-roles-tip.tooltip-hidden,
.user-roles-groups-tip.tooltip-hidden {
	display: none;
}
