import com.resolve.util.XDoc;
#if ($BLOCK == true)
import java.util.List;
import java.util.ArrayList;
#end
import com.resolve.util.StringUtils;
#if ($RESULT_TYPE == "String")

String DATA = "";
#if ($BLOCK == true)
List<String> LIST_DATA = new ArrayList<String>();
#end
#elseif  ($RESULT_TYPE == "List")

List<String> DATA = new ArrayList<String>();
#if ($BLOCK == true)
List<List<String>> LIST_DATA = new ArrayList<List<String>>();
#end
#elseif  ($RESULT_TYPE == "Map")
import java.util.Map;
import java.util.HashMap;

Map<String, String> DATA = new HashMap<String, String>();
#if ($BLOCK == true)
List<Map<String, String>> LIST_DATA = new ArrayList<Map<String, String>>();
#end
#elseif  ($RESULT_TYPE == "ListMap")
import java.util.Map;
import java.util.HashMap;

List<Map<String, String>> DATA = new ArrayList<Map<String, String>>();
#if ($BLOCK == true)
List<List<Map<String, String>>> LIST_DATA = new ArrayList<List<Map<String, String>>>();
#end

#end

#if ($RESULT_TYPE)
String xPathExpression = "$XPATH_EXPRESSION";
#else
XDoc DATA = null;
#end

String currentBlock = RAW;

#if ($BLOCK == true)
    List <String> DATA_LIST = new ArrayList<String>();
    boolean block = true;
#if ($BLOCK_START == true)
    String blockStartText = "$BLOCK_START_TEXT";
#end
#if ($BLOCK_END == true)
    String blockEndText = "$BLOCK_END_TEXT";
#end
#if ($BLOCK_SEPERATOR_TEXT != "")
    String seperatorString = "$BLOCK_SEPERATOR_TEXT";
#end
#end

try
{
#if ($BLOCK == true)
#if ($LINE == true)
    currentBlock = StringUtils.getContentBetweenLines(currentBlock, $START_LINE, $END_LINE);
#end
    String remainingBlocks = currentBlock;

#if ($BLOCK_LOOP == true || ($BLOCK_START == true && $BLOCK_END == true))
#if ($BLOCK_LOOP == true )
    while (StringUtils.isNotEmpty(remainingBlocks.trim()))
    {
#end
        currentBlock = StringUtils.substringBetween(remainingBlocks, blockStartText, blockEndText);
        if (currentBlock == null)
        {
#if ($BLOCK_LOOP == true )
            break;
#else
            return DATA;
#end
        }
#elseif ($BLOCK_START == true)
    currentBlock = StringUtils.substring(currentBlock, currentBlock.indexOf(blockStartText)+blockStartText.length() , currentBlock.length());
#elseif ($BLOCK_END == true)
    currentBlock = StringUtils.substring(currentBlock, 0, currentBlock.indexOf(blockEndText) - blockEndText.length());
#end

#if ($BLOCK_SEPERATOR_TEXT != "")
    String[] rawDataArray = currentBlock.split(seperatorString); 
    for (String str : rawDataArray)
    {
        XDoc doc = new XDoc(str);
#else
    XDoc doc = new XDoc(currentBlock);
#end
#else
    XDoc doc = new XDoc(currentBlock);
#end

#if ($RESULT_TYPE == "String")
    DATA = doc.getStringValue(xPathExpression);
#elseif  ($RESULT_TYPE == "List")
    DATA = doc.getListValue(xPathExpression);
#elseif  ($RESULT_TYPE == "Map")
    DATA = doc.getMapValue(xPathExpression);
#elseif  ($RESULT_TYPE == "ListMap")
    DATA = doc.getListMapValue(xPathExpression);
#elseif  (! $RESULT_TYPE)
    DATA = doc;
#end

#if ($BLOCK == true && ($BLOCK_SEPERATOR_TEXT != "" || $BLOCK_LOOP == true))
#if ($BLOCK_SEPERATOR_TEXT != "")
        DATA_LIST.add(DATA);
    }
#end
#if ($BLOCK_SEPERATOR_TEXT == "" && $BLOCK_LOOP == true)
            DATA_LIST.add(DATA);
#end

#if ($BLOCK_LOOP == true)
        if (remainingBlocks.indexOf(blockEndText) == -1)
        {
            remainingBlocks = "";
        }
        else
        {
            remainingBlocks = StringUtils.substring(remainingBlocks, remainingBlocks.indexOf(blockEndText)+blockEndText.length(), remainingBlocks.length());
        }
    }
#end
}
catch (Exception e)
{
    LOG.error(e.getMessage(), e);
    DEBUG.println(e.getMessage());
    
    DATA_LIST.add(e.getMessage());
}

return DATA_LIST.toString();
#else
}
catch (Exception e)
{
    LOG.error(e.getMessage(), e);
    DEBUG.println(e.getMessage());
    
    DATA = e.getMessage();
}

return DATA;
#end