#set ($jServletToken=$jutils.getCSRFTokenForPage($request, '/resolve/JavaScriptServlet'))
#set ($tokenParams=$jServletToken.get(0)+'='+$jServletToken.get(1))
<html style="height:100%">
  <head>
    <title>Resolve RBA</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta http-equiv="Expires" CONTENT="-1">
    <meta http-equiv="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT">  
    <script src="/resolve/JavaScriptServlet?$tokenParams"></script>

    $commonLoader
    
    $cssInclude
    
    <script type="text/javascript">
      
    var wikiDocumentName = '$wiki.getWikiDocumentFullName($wikiContext)';
    var problemId = '$!wikiContext.getAttribute("PROBLEMID")';
    var sirProblemId = '$!wikiContext.getAttribute("SIR_PROBLEMID")';
    var sirSelectedActivity = '$!wikiContext.getAttribute("SIR_SELECTED_ACTIVITY")';

    if (sirSelectedActivity) {
      sirSelectedActivity = JSON.parse(sirSelectedActivity);
    }

    window.addEventListener('message', function(event){
      if (event.data != "beforedestroy")
        return;

      var event = document.createEvent("Event");
      event.initEvent('beforedestroy', true, false);
      document.dispatchEvent(event);    
    });
    Ext.onReady(function() {        
      //Initialize State Management
      if (Ext.supports.LocalStorage) Ext.state.Manager.setProvider(new Ext.state.LocalStorageProvider())
      else Ext.state.Manager.setProvider(new Ext.state.CookieProvider())

      //Initialize extjs tooltips
      Ext.tip.QuickTipManager.init()

      //Configure glu for optimal performance
      glu.asyncLayouts = true
      
      //Configure bridge to client if one exists
      clientVM = getResolveRoot().clientVM;
      //If no client is configured, then this is being loaded outside of the rsclient.jsp (not recommended, but possible)
      if( !clientVM ){
          clientVM = glu.model({mtype: 'RS.client.Main'}) //also happens to be the client that would have normally been loaded through rsclient.jsp
          clientVM.init()
      }
      // In SIR Context we will use this PROBLEMID instead.         
      clientVM.SIR_PROBLEMID = sirProblemId;
      clientVM.SIR_SELECTED_ACTIVITY = sirSelectedActivity;
      if (sirProblemId || problemId) {
         clientVM.updateProblemInfo(sirProblemId || problemId);
      }           
     
      //Register event listeners on clientVM for problemId change event
      var handleProblemIdChanged = function() {
          if(startTask)
              return startTask(5000)
          //console.log('freed script stuff');
          return 'discard'
      }
      clientVM.on('problemIdChanged', handleProblemIdChanged);
      document.addEventListener("beforedestroy", function(){
          clientVM.removeListener('problemIdChanged', handleProblemIdChanged);
      })
      //Process any manually created legacy links
      processLegacyWikiLinks();
      
      //Go through the load events configured by the users and execute them
      Ext.Array.forEach(addLoadEvents, function(evt){
          if( Ext.isFunction(evt) ) evt()
          else if( Ext.isString(evt) && Ext.isFunction(window[evt])) window[evt]()
      })

      //decodeMacroHTML();
	  var wikiBody = document.getElementsByClassName('wikiBody')[0];
      clientVM.injectCSRFTokensToWiki(wikiBody);
  })

    /*
    function decodeMacroHTML() {
      var counter = 0;
      var wgS = setInterval(function() {
        var wikiBody;
        var scripts = '';
  
        wikiBody = document.getElementsByClassName('wikiBody')[0];
        if (wikiBody) {
        var encodedHtmls = wikiBody.getElementsByClassName('encodedHtml');

        while (encodedHtmls.length) {
          var encodedHtml = encodedHtmls[0];
          var pageInfo = this.processCurrentPageInfo(encodedHtml.innerHTML);
          encodedHtml.innerHTML = pageInfo.html.innerHTML;
          encodedHtml.classList.remove('encodedHtml');
          encodedHtml.classList.add('decodedHtml');
          scripts += pageInfo.scripts;
  
          encodedHtmls = wikiBody.getElementsByClassName('encodedHtml');
        }

        var jsFunctions = new Function(scripts);
        jsFunctions();
        clearTimeout(wgS); // exit 
      }

      counter++;
      if (counter >= 10) {
        clearTimeout(wgS); // exit 
      }
    }, 250);
  }
  */

  function processMacroEncodedHtml(html) {
    var tempEl = document.createElement('div');
    var decodedHTML = RS.common.decodeHTML(html);
    var scripts = '';
    var cleaned = decodedHTML.replace(/<script[^>]*>([\s\S]*?)<\/script>/gi, function() {
      scripts += arguments[1] + '\n';
      return '';
    });
    tempEl.innerHTML = cleaned;

    Ext.fly(tempEl).remove();
    
    return {
      html : tempEl,
      scripts : scripts
    } 
  }

  function expandCollapseNotes(id) {
    var texteditorDiv = document.getElementById(id);
    var hideShowDiv = texteditorDiv.getElementsByClassName('hideShowIcon');
    var notesDiv = texteditorDiv.getElementsByClassName('texteditorNotes');
  
    if (hideShowDiv[0].classList.contains('icon-file-text')) {
      hideShowDiv[0].classList.remove('icon-file-text');
      hideShowDiv[0].classList.add('icon-file-text-alt');
      notesDiv[0].style.display = 'none';
    } else {
      hideShowDiv[0].classList.add('icon-file-text');
      hideShowDiv[0].classList.remove('icon-file-text-alt');
      notesDiv[0].style.display = 'block';
    }
  }

    </script>
  </head>
  <body class="wikiBody rs-body" style="height:100%">
    $wiki.includeForm($mainWikiDocToView, $sectionname, $wikiContext, false, $revisionNo)
  </body>
</html>