
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">Ace</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (3)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_Ace.createEditSession" data-id="Ace.createEditSession" class="memberLink"><a href="#Ace.createEditSession" class="" title="Ace.createEditSession (class method)" data-id="Ace.createEditSession">createEditSession</a>
              </li>
              <li id="dropdown_Ace.edit" data-id="Ace.edit" class="memberLink"><a href="#Ace.edit" class="" title="Ace.edit (class method)" data-id="Ace.edit">edit</a>
              </li>
              <li id="dropdown_Ace.require" data-id="Ace.require" class="memberLink"><a href="#Ace.require" class="" title="Ace.require (class method)" data-id="Ace.require">require</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="Ace" data-title="Ace (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>The main class required to set up an Ace instance in the browser.</p>

        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="Ace.createEditSession" data-title="Ace.createEditSession (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Ace.createEditSession" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Ace.createEditSession" class="member-name methodClicker"><span class="sigClassName">Ace.</span><span class="sigMemberName">createEditSession</span></span>(<span class="sigArgList"><a href="document.html" class="argument methodClicker" title="Document (class)" data-id="Document">Document</a> | <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="argument methodClicker" title="String" data-id="String">String</a> text, <a href="https://github.com/ajaxorg/ace/blob/master/lib/ace/mode/text.js" class="argument methodClicker" title="TextMode" data-id="TextMode">TextMode</a> mode</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Ace.createEditSession" class="ellipsis_description"><p>Creates a new <a href="edit_session.html" class="link-short" title="EditSession (class)" data-id="EditSession"><code>EditSession</code></a>, and returns the associated <a href="document.html" class="link-short" title="Document (class)" data-id="Document"><code>Document</code></a>.</p>

            </div>
            <div class="description"><p>Creates a new <a href="edit_session.html" class="link-short" title="EditSession (class)" data-id="EditSession"><code>EditSession</code></a>, and returns the associated <a href="document.html" class="link-short" title="Document (class)" data-id="Document"><code>Document</code></a>.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">text</td><td class="argType" "><a href="document.html" class="" title="Document (class)" data-id="Document">Document</a> | <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="" title="String" data-id="String">String</a></td><td class="argDescription "><p>Required. If <code>text</code> is a <code>Document</code>, it associates the <code>EditSession</code> with it. Otherwise, a new <code>Document</code> is created, with the initial text</p>
</td></tr><tr class="argumentRow "><td class="argName ">mode</td><td class="argType" "><a href="https://github.com/ajaxorg/ace/blob/master/lib/ace/mode/text.js" class="" title="TextMode" data-id="TextMode">TextMode</a></td><td class="argDescription "><p>Required. The inital language mode to use for the document</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Ace.edit" data-title="Ace.edit (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Ace.edit" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Ace.edit" class="member-name methodClicker"><span class="sigClassName">Ace.</span><span class="sigMemberName">edit</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="argument methodClicker" title="String" data-id="String">String</a> | <a href="https://developer.mozilla.org/en/DOM/element" class="argument methodClicker" title="DOMElement" data-id="DOMElement">DOMElement</a> el</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Ace.edit" class="ellipsis_description"><p>Embeds the Ace editor into the DOM, at the element provided by <code>el</code>.</p>

            </div>
            <div class="description"><p>Embeds the Ace editor into the DOM, at the element provided by <code>el</code>.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">el</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="" title="String" data-id="String">String</a> | <a href="https://developer.mozilla.org/en/DOM/element" class="" title="DOMElement" data-id="DOMElement">DOMElement</a></td><td class="argDescription "><p>Required. Either the id of an element, or the element itself</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Ace.require" data-title="Ace.require (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Ace.require" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Ace.require" class="member-name methodClicker"><span class="sigClassName">Ace.</span><span class="sigMemberName">require</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="argument methodClicker" title="String" data-id="String">String</a> moduleName</span>)
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="returnType " title="Object" data-id="Object">Object</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Ace.require" class="ellipsis_description"><p>Provides access to require in packed noconflict mode</p>

            </div>
            <div class="description"><p>Provides access to require in packed noconflict mode</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">moduleName</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/String" class="" title="String" data-id="String">String</a></td><td class="argDescription "><p>Required. </p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>