
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">Anchor</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Events (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_Anchor.event.change" data-id="Anchor.event.change" class="memberLink"><a href="#Anchor.event.change" class="" title="Anchor.event.change (event)" data-id="Anchor.event.change">change</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Constructors (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_Anchor.new" data-id="Anchor.new" class="memberLink"><a href="#Anchor.new" class="" title="Anchor.new (constructor)" data-id="Anchor.new">new</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (6)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_Anchor.detach" data-id="Anchor.detach" class="memberLink"><a href="#Anchor.detach" class="" title="Anchor.detach (class method)" data-id="Anchor.detach">detach</a>
              </li>
              <li id="dropdown_Anchor.getDocument" data-id="Anchor.getDocument" class="memberLink"><a href="#Anchor.getDocument" class="" title="Anchor.getDocument (class method)" data-id="Anchor.getDocument">getDocument</a>
              </li>
              <li id="dropdown_Anchor.getPosition" data-id="Anchor.getPosition" class="memberLink"><a href="#Anchor.getPosition" class="" title="Anchor.getPosition (class method)" data-id="Anchor.getPosition">getPosition</a>
              </li>
              <li id="dropdown_Anchor.onChange" data-id="Anchor.onChange" class="memberLink"><a href="#Anchor.onChange" class="" title="Anchor.onChange (class method)" data-id="Anchor.onChange">onChange</a>
              </li>
              <li id="dropdown_Anchor.setPosition" data-id="Anchor.setPosition" class="memberLink"><a href="#Anchor.setPosition" class="" title="Anchor.setPosition (class method)" data-id="Anchor.setPosition">setPosition</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="Anchor" data-title="Anchor (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>Defines the floating pointer in the document. Whenever text is inserted or deleted before the cursor, the position of the cursor is updated.</p>

        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Constructors</h3>
    <article id="Anchor.new" data-title="Anchor.new (constructor)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.new" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="constructorIdentifier">new </span><span id="Anchor.new" class="member-name methodClicker">Anchor</span>(<span class="sigArgList"><a href="document.html" class="argument methodClicker" title="Document (class)" data-id="Document">Document</a> doc, <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> row, <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> column</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.new" class="ellipsis_description"><p>Creates a new <code>Anchor</code> and associates it with a document.</p>

            </div>
            <div class="description"><p>Creates a new <code>Anchor</code> and associates it with a document.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">doc</td><td class="argType" "><a href="document.html" class="" title="Document (class)" data-id="Document">Document</a></td><td class="argDescription "><p>Required. The document to associate with the anchor</p>
</td></tr><tr class="argumentRow "><td class="argName ">row</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The starting row position</p>
</td></tr><tr class="argumentRow "><td class="argName ">column</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The starting column position</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Events</h3>
    <article id="Anchor.event.change" data-title="Anchor.event.change (event)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.event.change" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="eventObjName">Anchor</span><span class="eventListenerStart">.on("</span><span id="Anchor.event.change" class="member-name eventMember methodClicker">change</span><span class="eventListenerClose">", </span><span class="eventFunctionOpen">function(</span><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> e<span class="eventFunctionClose">))</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.event.change" class="ellipsis_description"><p>Fires whenever the anchor position changes.</p>

            </div>
            <div class="description"><p>Fires whenever the anchor position changes.</p>
<p>Both of these objects have a <code>row</code> and <code>column</code> property corresponding to the position.</p>
<p>Events that can trigger this function include <a href="#Anchor.setPosition" class="link-short" title="Anchor.setPosition (class method)" data-id="Anchor.setPosition"><code>setPosition()</code></a>.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">e</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. An object containing information about the anchor position. It has two properties:  </p>
<ul>
<li><code>old</code>: An object describing the old Anchor position</li>
<li><code>value</code>: An object describing the new Anchor position</li>
</ul>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="Anchor.detach" data-title="Anchor.detach (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.detach" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Anchor.detach" class="member-name methodClicker"><span class="sigClassName">Anchor.</span><span class="sigMemberName">detach</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.detach" class="ellipsis_description"><p>When called, the <code>&#39;change&#39;</code> event listener is removed.</p>

            </div>
            <div class="description"><p>When called, the <code>&#39;change&#39;</code> event listener is removed.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Anchor.getDocument" data-title="Anchor.getDocument (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.getDocument" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Anchor.getDocument" class="member-name methodClicker"><span class="sigClassName">Anchor.</span><span class="sigMemberName">getDocument</span></span><span class="emptyArgumentList">()</span>
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="document.html" class="returnType " title="Document (class)" data-id="Document">Document</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.getDocument" class="ellipsis_description"><p>Returns the current document.</p>

            </div>
            <div class="description"><p>Returns the current document.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Anchor.getPosition" data-title="Anchor.getPosition (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.getPosition" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Anchor.getPosition" class="member-name methodClicker"><span class="sigClassName">Anchor.</span><span class="sigMemberName">getPosition</span></span><span class="emptyArgumentList">()</span>
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="returnType " title="Object" data-id="Object">Object</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.getPosition" class="ellipsis_description"><p>Returns an object identifying the <code>row</code> and <code>column</code> position of the current anchor.</p>

            </div>
            <div class="description"><p>Returns an object identifying the <code>row</code> and <code>column</code> position of the current anchor.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Anchor.onChange" data-title="Anchor.onChange (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.onChange" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Anchor.onChange" class="member-name methodClicker"><span class="sigClassName">Anchor.</span><span class="sigMemberName">onChange</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                  <li><span class="label undocumented">Undocumented</span></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.onChange" class="ellipsis_description">
            </div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="Anchor.setPosition" data-title="Anchor.setPosition (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="Anchor.setPosition" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="Anchor.setPosition" class="member-name methodClicker"><span class="sigClassName">Anchor.</span><span class="sigMemberName">setPosition</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> row, <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> column, <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="argument methodClicker" title="Boolean" data-id="Boolean">Boolean</a> noClip</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_Anchor.setPosition" class="ellipsis_description"><p>Sets the anchor position to the specified row and column. If <code>noClip</code> is <code>true</code>, the position is not clipped.</p>

            </div>
            <div class="description"><p>Sets the anchor position to the specified row and column. If <code>noClip</code> is <code>true</code>, the position is not clipped.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">row</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The row index to move the anchor to</p>
</td></tr><tr class="argumentRow "><td class="argName ">column</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The column index to move the anchor to</p>
</td></tr><tr class="argumentRow "><td class="argName ">noClip</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="" title="Boolean" data-id="Boolean">Boolean</a></td><td class="argDescription "><p>Required. Identifies if you want the position to be clipped</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>