
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">BackgroundTokenizer</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Events (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_BackgroundTokenizer.event.update" data-id="BackgroundTokenizer.event.update" class="memberLink"><a href="#BackgroundTokenizer.event.update" class="" title="BackgroundTokenizer.event.update (event)" data-id="BackgroundTokenizer.event.update">update</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Constructors (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_BackgroundTokenizer.new" data-id="BackgroundTokenizer.new" class="memberLink"><a href="#BackgroundTokenizer.new" class="" title="BackgroundTokenizer.new (constructor)" data-id="BackgroundTokenizer.new">new</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (7)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_BackgroundTokenizer.fireUpdateEvent" data-id="BackgroundTokenizer.fireUpdateEvent" class="memberLink"><a href="#BackgroundTokenizer.fireUpdateEvent" class="" title="BackgroundTokenizer.fireUpdateEvent (class method)" data-id="BackgroundTokenizer.fireUpdateEvent">fireUpdateEvent</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.getState" data-id="BackgroundTokenizer.getState" class="memberLink"><a href="#BackgroundTokenizer.getState" class="" title="BackgroundTokenizer.getState (class method)" data-id="BackgroundTokenizer.getState">getState</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.getTokens" data-id="BackgroundTokenizer.getTokens" class="memberLink"><a href="#BackgroundTokenizer.getTokens" class="" title="BackgroundTokenizer.getTokens (class method)" data-id="BackgroundTokenizer.getTokens">getTokens</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.setDocument" data-id="BackgroundTokenizer.setDocument" class="memberLink"><a href="#BackgroundTokenizer.setDocument" class="" title="BackgroundTokenizer.setDocument (class method)" data-id="BackgroundTokenizer.setDocument">setDocument</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.setTokenizer" data-id="BackgroundTokenizer.setTokenizer" class="memberLink"><a href="#BackgroundTokenizer.setTokenizer" class="" title="BackgroundTokenizer.setTokenizer (class method)" data-id="BackgroundTokenizer.setTokenizer">setTokenizer</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.start" data-id="BackgroundTokenizer.start" class="memberLink"><a href="#BackgroundTokenizer.start" class="" title="BackgroundTokenizer.start (class method)" data-id="BackgroundTokenizer.start">start</a>
              </li>
              <li id="dropdown_BackgroundTokenizer.stop" data-id="BackgroundTokenizer.stop" class="memberLink"><a href="#BackgroundTokenizer.stop" class="" title="BackgroundTokenizer.stop (class method)" data-id="BackgroundTokenizer.stop">stop</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="BackgroundTokenizer" data-title="BackgroundTokenizer (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>Tokenizes the current <a href="document.html" class="link-short" title="Document (class)" data-id="Document"><code>Document</code></a> in the background, and caches the tokenized rows for future use. </p>
<p>If a certain row is changed, everything below that row is re-tokenized.</p>

        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Constructors</h3>
    <article id="BackgroundTokenizer.new" data-title="BackgroundTokenizer.new (constructor)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.new" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="constructorIdentifier">new </span><span id="BackgroundTokenizer.new" class="member-name methodClicker">BackgroundTokenizer</span>(<span class="sigArgList"><a href="tokenizer.html" class="argument methodClicker" title="Tokenizer (class)" data-id="Tokenizer">Tokenizer</a> tokenizer, <a href="editor.html" class="argument methodClicker" title="Editor (class)" data-id="Editor">Editor</a> editor</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.new" class="ellipsis_description"><p>Creates a new <code>BackgroundTokenizer</code> object.</p>

            </div>
            <div class="description"><p>Creates a new <code>BackgroundTokenizer</code> object.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">tokenizer</td><td class="argType" "><a href="tokenizer.html" class="" title="Tokenizer (class)" data-id="Tokenizer">Tokenizer</a></td><td class="argDescription "><p>Required. The tokenizer to use</p>
</td></tr><tr class="argumentRow "><td class="argName ">editor</td><td class="argType" "><a href="editor.html" class="" title="Editor (class)" data-id="Editor">Editor</a></td><td class="argDescription "><p>Required. The editor to associate with</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Events</h3>
    <article id="BackgroundTokenizer.event.update" data-title="BackgroundTokenizer.event.update (event)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.event.update" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="eventObjName">BackgroundTokenizer</span><span class="eventListenerStart">.on("</span><span id="BackgroundTokenizer.event.update" class="member-name eventMember methodClicker">update</span><span class="eventListenerClose">", </span><span class="eventFunctionOpen">function(</span><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> e<span class="eventFunctionClose">))</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.event.update" class="ellipsis_description"><p>Fires whenever the background tokeniziers between a range of rows are going to be updated.</p>

            </div>
            <div class="description"><p>Fires whenever the background tokeniziers between a range of rows are going to be updated.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">e</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. An object containing two properties, <code>first</code> and <code>last</code>, which indicate the rows of the region being updated.</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="BackgroundTokenizer.fireUpdateEvent" data-title="BackgroundTokenizer.fireUpdateEvent (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.fireUpdateEvent" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.fireUpdateEvent" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">fireUpdateEvent</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> firstRow, <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> lastRow</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.fireUpdateEvent" class="ellipsis_description"><p>Emits the <code>&#39;update&#39;</code> event. <code>firstRow</code> and <code>lastRow</code> are used to define the boundaries of the region to be updated.</p>

            </div>
            <div class="description"><p>Emits the <code>&#39;update&#39;</code> event. <code>firstRow</code> and <code>lastRow</code> are used to define the boundaries of the region to be updated.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">firstRow</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The starting row region</p>
</td></tr><tr class="argumentRow "><td class="argName ">lastRow</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The final row region</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.getState" data-title="BackgroundTokenizer.getState (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.getState" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.getState" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">getState</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> row</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.getState" class="ellipsis_description"><p>Returns the state of tokenization at the end of a row.</p>

            </div>
            <div class="description"><p>Returns the state of tokenization at the end of a row.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">row</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The row to get state at</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.getTokens" data-title="BackgroundTokenizer.getTokens (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.getTokens" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.getTokens" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">getTokens</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> row</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.getTokens" class="ellipsis_description"><p>Gives list of tokens of the row. (tokens are cached)</p>

            </div>
            <div class="description"><p>Gives list of tokens of the row. (tokens are cached)</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">row</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The row to get tokens at</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.setDocument" data-title="BackgroundTokenizer.setDocument (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.setDocument" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.setDocument" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">setDocument</span></span>(<span class="sigArgList"><a href="document.html" class="argument methodClicker" title="Document (class)" data-id="Document">Document</a> doc</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.setDocument" class="ellipsis_description"><p>Sets a new document to associate with this object.</p>

            </div>
            <div class="description"><p>Sets a new document to associate with this object.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">doc</td><td class="argType" "><a href="document.html" class="" title="Document (class)" data-id="Document">Document</a></td><td class="argDescription "><p>Required. The new document to associate with</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.setTokenizer" data-title="BackgroundTokenizer.setTokenizer (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.setTokenizer" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.setTokenizer" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">setTokenizer</span></span>(<span class="sigArgList"><a href="tokenizer.html" class="argument methodClicker" title="Tokenizer (class)" data-id="Tokenizer">Tokenizer</a> tokenizer</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.setTokenizer" class="ellipsis_description"><p>Sets a new tokenizer for this object.</p>

            </div>
            <div class="description"><p>Sets a new tokenizer for this object.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">tokenizer</td><td class="argType" "><a href="tokenizer.html" class="" title="Tokenizer (class)" data-id="Tokenizer">Tokenizer</a></td><td class="argDescription "><p>Required. The new tokenizer to use</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.start" data-title="BackgroundTokenizer.start (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.start" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.start" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">start</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> startRow</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.start" class="ellipsis_description"><p>Starts tokenizing at the row indicated.</p>

            </div>
            <div class="description"><p>Starts tokenizing at the row indicated.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">startRow</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The row to start at</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="BackgroundTokenizer.stop" data-title="BackgroundTokenizer.stop (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="BackgroundTokenizer.stop" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="BackgroundTokenizer.stop" class="member-name methodClicker"><span class="sigClassName">BackgroundTokenizer.</span><span class="sigMemberName">stop</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_BackgroundTokenizer.stop" class="ellipsis_description"><p>Stops tokenizing.</p>

            </div>
            <div class="description"><p>Stops tokenizing.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>