
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">PlaceHolder</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Constructors (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_PlaceHolder.new" data-id="PlaceHolder.new" class="memberLink"><a href="#PlaceHolder.new" class="" title="PlaceHolder.new (constructor)" data-id="PlaceHolder.new">new</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (7)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_PlaceHolder.cancel" data-id="PlaceHolder.cancel" class="memberLink"><a href="#PlaceHolder.cancel" class="" title="PlaceHolder.cancel (class method)" data-id="PlaceHolder.cancel">cancel</a>
              </li>
              <li id="dropdown_PlaceHolder.detach" data-id="PlaceHolder.detach" class="memberLink"><a href="#PlaceHolder.detach" class="" title="PlaceHolder.detach (class method)" data-id="PlaceHolder.detach">detach</a>
              </li>
              <li id="dropdown_PlaceHolder.hideOtherMarkers" data-id="PlaceHolder.hideOtherMarkers" class="memberLink"><a href="#PlaceHolder.hideOtherMarkers" class="" title="PlaceHolder.hideOtherMarkers (class method)" data-id="PlaceHolder.hideOtherMarkers">hideOtherMarkers</a>
              </li>
              <li id="dropdown_PlaceHolder.onCursorChange" data-id="PlaceHolder.onCursorChange" class="memberLink"><a href="#PlaceHolder.onCursorChange" class="" title="PlaceHolder.onCursorChange (class method)" data-id="PlaceHolder.onCursorChange">onCursorChange</a>
              </li>
              <li id="dropdown_PlaceHolder.onUpdate" data-id="PlaceHolder.onUpdate" class="memberLink"><a href="#PlaceHolder.onUpdate" class="" title="PlaceHolder.onUpdate (class method)" data-id="PlaceHolder.onUpdate">onUpdate</a>
              </li>
              <li id="dropdown_PlaceHolder.setup" data-id="PlaceHolder.setup" class="memberLink"><a href="#PlaceHolder.setup" class="" title="PlaceHolder.setup (class method)" data-id="PlaceHolder.setup">setup</a>
              </li>
              <li id="dropdown_PlaceHolder.showOtherMarkers" data-id="PlaceHolder.showOtherMarkers" class="memberLink"><a href="#PlaceHolder.showOtherMarkers" class="" title="PlaceHolder.showOtherMarkers (class method)" data-id="PlaceHolder.showOtherMarkers">showOtherMarkers</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="PlaceHolder" data-title="PlaceHolder (class)" class="article">
    </article>
    <h3 class="sectionHeader">Constructors</h3>
    <article id="PlaceHolder.new" data-title="PlaceHolder.new (constructor)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.new" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="constructorIdentifier">new </span><span id="PlaceHolder.new" class="member-name methodClicker">PlaceHolder</span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.new" class="ellipsis_description"><ul>
<li>session (Document): The document to associate with the anchor</li>
<li>length (Number): The starting row position</li>
<li>pos (Number): The starting column position</li>
<li>others (String):</li>
<li>mainClass (String):</li>
<li>othersClass (String):</li>
</ul>

            </div>
            <div class="description"><ul>
<li>session (Document): The document to associate with the anchor</li>
<li>length (Number): The starting row position</li>
<li>pos (Number): The starting column position</li>
<li>others (String):</li>
<li>mainClass (String):</li>
<li>othersClass (String):</li>
</ul>

            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="PlaceHolder.cancel" data-title="PlaceHolder.cancel (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.cancel" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.cancel" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">cancel</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.cancel" class="ellipsis_description"><p>PlaceHolder.cancel()</p>

            </div>
            <div class="description"><p>PlaceHolder.cancel()</p>
<p>TODO</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.detach" data-title="PlaceHolder.detach (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.detach" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.detach" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">detach</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.detach" class="ellipsis_description"><p>PlaceHolder.detach()</p>

            </div>
            <div class="description"><p>PlaceHolder.detach()</p>
<p>TODO</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.hideOtherMarkers" data-title="PlaceHolder.hideOtherMarkers (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.hideOtherMarkers" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.hideOtherMarkers" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">hideOtherMarkers</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.hideOtherMarkers" class="ellipsis_description"><p>PlaceHolder.hideOtherMarkers()</p>

            </div>
            <div class="description"><p>PlaceHolder.hideOtherMarkers()</p>
<p>Hides all over markers in the <a href="edit_session.html" class="link-short" title="EditSession (class)" data-id="EditSession"><code>EditSession</code></a> that are not the currently selected one.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.onCursorChange" data-title="PlaceHolder.onCursorChange (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.onCursorChange" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.onCursorChange" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">onCursorChange</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> event</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.onCursorChange" class="ellipsis_description"><p>PlaceHolder@onCursorChange(e)</p>

            </div>
            <div class="description"><p>PlaceHolder@onCursorChange(e)</p>
<p>Emitted when the cursor changes.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">event</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. </p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.onUpdate" data-title="PlaceHolder.onUpdate (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.onUpdate" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.onUpdate" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">onUpdate</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> event</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.onUpdate" class="ellipsis_description"><p>PlaceHolder@onUpdate(e)</p>

            </div>
            <div class="description"><p>PlaceHolder@onUpdate(e)</p>
<p>Emitted when the place holder updates.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">event</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. </p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.setup" data-title="PlaceHolder.setup (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.setup" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.setup" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">setup</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.setup" class="ellipsis_description"><p>PlaceHolder.setup()</p>

            </div>
            <div class="description"><p>PlaceHolder.setup()</p>
<p>TODO</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="PlaceHolder.showOtherMarkers" data-title="PlaceHolder.showOtherMarkers (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="PlaceHolder.showOtherMarkers" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="PlaceHolder.showOtherMarkers" class="member-name methodClicker"><span class="sigClassName">PlaceHolder.</span><span class="sigMemberName">showOtherMarkers</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_PlaceHolder.showOtherMarkers" class="ellipsis_description"><p>PlaceHolder.showOtherMarkers()</p>

            </div>
            <div class="description"><p>PlaceHolder.showOtherMarkers()</p>
<p>TODO</p>

            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>