
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">RenderLoop</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="RenderLoop" data-title="RenderLoop (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>Batches changes (that force something to be redrawn) in the background.</p>

        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>