
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">ScrollBar</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Events (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_ScrollBar.event.scroll" data-id="ScrollBar.event.scroll" class="memberLink"><a href="#ScrollBar.event.scroll" class="" title="ScrollBar.event.scroll (event)" data-id="ScrollBar.event.scroll">scroll</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Constructors (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_ScrollBar.new" data-id="ScrollBar.new" class="memberLink"><a href="#ScrollBar.new" class="" title="ScrollBar.new (constructor)" data-id="ScrollBar.new">new</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (5)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_ScrollBar.getWidth" data-id="ScrollBar.getWidth" class="memberLink"><a href="#ScrollBar.getWidth" class="" title="ScrollBar.getWidth (class method)" data-id="ScrollBar.getWidth">getWidth</a>
              </li>
              <li id="dropdown_ScrollBar.onScroll" data-id="ScrollBar.onScroll" class="memberLink"><a href="#ScrollBar.onScroll" class="" title="ScrollBar.onScroll (class method)" data-id="ScrollBar.onScroll">onScroll</a>
              </li>
              <li id="dropdown_ScrollBar.setHeight" data-id="ScrollBar.setHeight" class="memberLink"><a href="#ScrollBar.setHeight" class="" title="ScrollBar.setHeight (class method)" data-id="ScrollBar.setHeight">setHeight</a>
              </li>
              <li id="dropdown_ScrollBar.setInnerHeight" data-id="ScrollBar.setInnerHeight" class="memberLink"><a href="#ScrollBar.setInnerHeight" class="" title="ScrollBar.setInnerHeight (class method)" data-id="ScrollBar.setInnerHeight">setInnerHeight</a>
              </li>
              <li id="dropdown_ScrollBar.setScrollTop" data-id="ScrollBar.setScrollTop" class="memberLink"><a href="#ScrollBar.setScrollTop" class="" title="ScrollBar.setScrollTop (class method)" data-id="ScrollBar.setScrollTop">setScrollTop</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="ScrollBar" data-title="ScrollBar (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>A set of methods for setting and retrieving the editor&#39;s scrollbar.</p>

        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Constructors</h3>
    <article id="ScrollBar.new" data-title="ScrollBar.new (constructor)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.new" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="constructorIdentifier">new </span><span id="ScrollBar.new" class="member-name methodClicker">ScrollBar</span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en/DOM/element" class="argument methodClicker" title="DOMElement" data-id="DOMElement">DOMElement</a> parent</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.new" class="ellipsis_description"><p>Creates a new <code>ScrollBar</code>. <code>parent</code> is the owner of the scroll bar.</p>

            </div>
            <div class="description"><p>Creates a new <code>ScrollBar</code>. <code>parent</code> is the owner of the scroll bar.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">parent</td><td class="argType" "><a href="https://developer.mozilla.org/en/DOM/element" class="" title="DOMElement" data-id="DOMElement">DOMElement</a></td><td class="argDescription "><p>Required. A DOM element</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Events</h3>
    <article id="ScrollBar.event.scroll" data-title="ScrollBar.event.scroll (event)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.event.scroll" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="eventObjName">ScrollBar</span><span class="eventListenerStart">.on("</span><span id="ScrollBar.event.scroll" class="member-name eventMember methodClicker">scroll</span><span class="eventListenerClose">", </span><span class="eventFunctionOpen">function(</span><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> e<span class="eventFunctionClose">))</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.event.scroll" class="ellipsis_description"><p>Emitted when the scroll bar, well, scrolls.</p>

            </div>
            <div class="description"><p>Emitted when the scroll bar, well, scrolls.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">e</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. Contains one property, <code>&quot;data&quot;</code>, which indicates the current scroll top position</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="ScrollBar.getWidth" data-title="ScrollBar.getWidth (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.getWidth" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="ScrollBar.getWidth" class="member-name methodClicker"><span class="sigClassName">ScrollBar.</span><span class="sigMemberName">getWidth</span></span><span class="emptyArgumentList">()</span>
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="returnType " title="Number" data-id="Number">Number</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.getWidth" class="ellipsis_description"><p>Returns the width of the scroll bar.</p>

            </div>
            <div class="description"><p>Returns the width of the scroll bar.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="ScrollBar.onScroll" data-title="ScrollBar.onScroll (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.onScroll" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="ScrollBar.onScroll" class="member-name methodClicker"><span class="sigClassName">ScrollBar.</span><span class="sigMemberName">onScroll</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                  <li><span class="label undocumented">Undocumented</span></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.onScroll" class="ellipsis_description">
            </div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="ScrollBar.setHeight" data-title="ScrollBar.setHeight (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.setHeight" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="ScrollBar.setHeight" class="member-name methodClicker"><span class="sigClassName">ScrollBar.</span><span class="sigMemberName">setHeight</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> height</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.setHeight" class="ellipsis_description"><p>Sets the height of the scroll bar, in pixels.</p>

            </div>
            <div class="description"><p>Sets the height of the scroll bar, in pixels.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">height</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The new height</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="ScrollBar.setInnerHeight" data-title="ScrollBar.setInnerHeight (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.setInnerHeight" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="ScrollBar.setInnerHeight" class="member-name methodClicker"><span class="sigClassName">ScrollBar.</span><span class="sigMemberName">setInnerHeight</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> height</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.setInnerHeight" class="ellipsis_description"><p>Sets the inner height of the scroll bar, in pixels.</p>

            </div>
            <div class="description"><p>Sets the inner height of the scroll bar, in pixels.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">height</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The new inner height</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="ScrollBar.setScrollTop" data-title="ScrollBar.setScrollTop (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="ScrollBar.setScrollTop" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="ScrollBar.setScrollTop" class="member-name methodClicker"><span class="sigClassName">ScrollBar.</span><span class="sigMemberName">setScrollTop</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="argument methodClicker" title="Number" data-id="Number">Number</a> scrollTop</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_ScrollBar.setScrollTop" class="ellipsis_description"><p>Sets the scroll top of the scroll bar.</p>

            </div>
            <div class="description"><p>Sets the scroll top of the scroll bar.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">scrollTop</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Number" class="" title="Number" data-id="Number">Number</a></td><td class="argDescription "><p>Required. The new scroll top</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>