
<div id="documentation" class="span9">
  <div class="classContent">
    <div class="membersBackground"></div>
    <div class=" members pos0">
      <div class=" membersContent pos0">
        <h1 class="memberHeader"><span class="name">UndoManager</span>
        </h1>
        <ul data-tabs="tabs" class="nav tabs pos0">
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Constructors (1)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_UndoManager.new" data-id="UndoManager.new" class="memberLink"><a href="#UndoManager.new" class="" title="UndoManager.new (constructor)" data-id="UndoManager.new">new</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Functions (6)</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="dropdown_UndoManager.execute" data-id="UndoManager.execute" class="memberLink"><a href="#UndoManager.execute" class="" title="UndoManager.execute (class method)" data-id="UndoManager.execute">execute</a>
              </li>
              <li id="dropdown_UndoManager.hasRedo" data-id="UndoManager.hasRedo" class="memberLink"><a href="#UndoManager.hasRedo" class="" title="UndoManager.hasRedo (class method)" data-id="UndoManager.hasRedo">hasRedo</a>
              </li>
              <li id="dropdown_UndoManager.hasUndo" data-id="UndoManager.hasUndo" class="memberLink"><a href="#UndoManager.hasUndo" class="" title="UndoManager.hasUndo (class method)" data-id="UndoManager.hasUndo">hasUndo</a>
              </li>
              <li id="dropdown_UndoManager.redo" data-id="UndoManager.redo" class="memberLink"><a href="#UndoManager.redo" class="" title="UndoManager.redo (class method)" data-id="UndoManager.redo">redo</a>
              </li>
              <li id="dropdown_UndoManager.reset" data-id="UndoManager.reset" class="memberLink"><a href="#UndoManager.reset" class="" title="UndoManager.reset (class method)" data-id="UndoManager.reset">reset</a>
              </li>
              <li id="dropdown_UndoManager.undo" data-id="UndoManager.undo" class="memberLink"><a href="#UndoManager.undo" class="" title="UndoManager.undo (class method)" data-id="UndoManager.undo">undo</a>
              </li>
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li data-dropdown="dropdown" class="dropdown">
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <article id="UndoManager" data-title="UndoManager (class)" class="article">
      <div class="section description">
        <div class="memberContent"><p>This object maintains the undo stack for an <a href="edit_session.html" class="link-short" title="EditSession (class)" data-id="EditSession"><code>EditSession</code></a>.</p>

        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Constructors</h3>
    <article id="UndoManager.new" data-title="UndoManager.new (constructor)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.new" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span class="constructorIdentifier">new </span><span id="UndoManager.new" class="member-name methodClicker">UndoManager</span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.new" class="ellipsis_description"><p>Resets the current undo state and creates a new <code>UndoManager</code>.</p>

            </div>
            <div class="description"><p>Resets the current undo state and creates a new <code>UndoManager</code>.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <h3 class="sectionHeader">Methods</h3>
    <article id="UndoManager.execute" data-title="UndoManager.execute (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.execute" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.execute" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">execute</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="argument methodClicker" title="Object" data-id="Object">Object</a> options</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.execute" class="ellipsis_description"><p>Provides a means for implementing your own undo manager. <code>options</code> has one property, <code>args</code>, an <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Array" class="link-short" title="<code>Array</code>" data-id="<code>Array</code>"><code>Array</code></a>, with two elements:</p>

            </div>
            <div class="description"><p>Provides a means for implementing your own undo manager. <code>options</code> has one property, <code>args</code>, an <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Array" class="link-short" title="<code>Array</code>" data-id="<code>Array</code>"><code>Array</code></a>, with two elements:</p>
<ul>
<li><code>args[0]</code> is an array of deltas</li>
<li><code>args[1]</code> is the document to associate with</li>
</ul>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">options</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Object" class="" title="Object" data-id="Object">Object</a></td><td class="argDescription "><p>Required. Contains additional properties</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="UndoManager.hasRedo" data-title="UndoManager.hasRedo (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.hasRedo" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.hasRedo" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">hasRedo</span></span><span class="emptyArgumentList">()</span>
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="returnType " title="Boolean" data-id="Boolean">Boolean</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.hasRedo" class="ellipsis_description"><p>Returns <code>true</code> if there are redo operations left to perform.</p>

            </div>
            <div class="description"><p>Returns <code>true</code> if there are redo operations left to perform.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="UndoManager.hasUndo" data-title="UndoManager.hasUndo (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.hasUndo" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.hasUndo" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">hasUndo</span></span><span class="emptyArgumentList">()</span>
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="returnType " title="Boolean" data-id="Boolean">Boolean</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.hasUndo" class="ellipsis_description"><p>Returns <code>true</code> if there are undo operations left to perform.</p>

            </div>
            <div class="description"><p>Returns <code>true</code> if there are undo operations left to perform.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="UndoManager.redo" data-title="UndoManager.redo (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.redo" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.redo" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">redo</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="argument methodClicker" title="Boolean" data-id="Boolean">Boolean</a> dontSelect</span>)</li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.redo" class="ellipsis_description"><p>Perform a redo operation on the document, reimplementing the last change.</p>

            </div>
            <div class="description"><p>Perform a redo operation on the document, reimplementing the last change.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">dontSelect</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="" title="Boolean" data-id="Boolean">Boolean</a></td><td class="argDescription "><p>Required. If <code>true</code>, doesn&#39;t select the range of where the change occured</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="UndoManager.reset" data-title="UndoManager.reset (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.reset" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.reset" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">reset</span></span><span class="emptyArgumentList">()</span></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.reset" class="ellipsis_description"><p>Destroys the stack of undo and redo redo operations.</p>

            </div>
            <div class="description"><p>Destroys the stack of undo and redo redo operations.</p>

            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="UndoManager.undo" data-title="UndoManager.undo (class method)" class="article">
      <div class="section method">
        <div class="memberContent">
          <div class="title"><i id="UndoManager.undo" class="methodToggle methodClicker inactive icon-caret-right"></i>
            <ul class="signatures">
              <li class="signature">
                <ul>
                  <li class="signature-call"><span id="UndoManager.undo" class="member-name methodClicker"><span class="sigClassName">UndoManager.</span><span class="sigMemberName">undo</span></span>(<span class="sigArgList"><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="argument methodClicker" title="Boolean" data-id="Boolean">Boolean</a> dontSelect</span>)
                    <li class="signature-returns">
                      <ul class="argument-types">
                        <li class="argument-type"><a href="range.html" class="returnType " title="Range (class)" data-id="Range">Range</a></li>
                      </ul>
                    </li></li>
                </ul>
                <ul class="metaInfo">
                </ul>
              </li>
            </ul>
          </div>
          <div class="sideToggler">
            <div id="ellipsis_UndoManager.undo" class="ellipsis_description"><p>Perform an undo operation on the document, reverting the last change.</p>

            </div>
            <div class="description"><p>Perform an undo operation on the document, reverting the last change.</p>

              <h4>Arguments</h4><table class="argumentTable argument-list table table-striped table-bordered"><tr class="argumentRow "><td class="argName ">dontSelect</td><td class="argType" "><a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Boolean" class="" title="Boolean" data-id="Boolean">Boolean</a></td><td class="argDescription "><p>Required. If <code>true</code>, doesn&#39;t select the range of where the change occured</p>
</td></tr></table>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script defer src="./resources/javascripts/ux.js"></script>
  <script src="./resources/javascripts/clicker.js"></script>
  <script src="./resources/javascripts/jquery-scrollspy.js"></script>
  <script defer src="./resources/javascripts/disqus-ext.js"></script>
  <script defer src="./resources/javascripts/ga.js"></script>
  <div id="disqus_thread"></div>
</div>