
#menus{
	float: left;
	background: none;
	padding:40px 0px 0px 0px;
	width: 15%;
	height: 100%;
	background-color:#47b412;
}

.menuItem {
	height:15px;
	margin:20px 0px 0px 0px;
	text-align: center;
	font-size: 16px;
}
.center {
	display: inline-block;
	margin:0 auto;
	width: 100%;
	height: 100%;
	margin: 10px;
	white-space:nowrap;
}
.resolveGroup {
	height:10px;
	margin:20px;
	text-align: left;
	color: white;
	font-family: arial;
	text-indent: 20px;
	font-size: 20px;
}
.container {
	width:100%;
	min-width:1280px;
	height:850px;
	overflow:hidden;
}

.urlconfig {
	padding: 10px;
}
.submit {
	padding-top: 2px;
	padding-left: 595px;
}

.instance_url {
	padding-right: 5px;
	padding-bottom: 2px;
}

.block label {
	display: inline-block;
	text-align: right;
	padding-right: 8px;
	width: 70px;
	font-size:15px;
}

.input_field {
	width: 550px;
}

.config_header {
	font-size: 20px;
	padding: 10px 0px 10px 76px;
	font-weight: bold;
}

.image---pages-enterprise---* {
	padding-top: 8px;
}
