/* Menu CSS */
.rs-menu-section{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #068ccf;
	z-index: 2;
}

.rs-menu-section-hover{
	z-index: 1000;
	overflow: visible;
}

.rs-menu-section-body{
	background-color: #068ccf;	
	z-index: 2;
	float: left;	
	padding: 0px 0px 10px 0px;
	border: 1px solid #999 !important;
}

.rs-menu-section-body-hover{
	background-color: $rs-menu-background-color-over !important;
	z-index: 1000;
	overflow: visible;
	position: absolute;
	border: 1px solid #999 !important;
}

.rs-menu-section-arrow{
    float: right;
    font-size: 0px; 
    line-height: 0%; 
    width: 0px;
    border-top: 10px solid $rs-menu-text-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index:1;
    position: relative;
}

.rs-menu-section-arrow-hover{
	border-top: 10px solid $rs-menu-border-color !important;
}

.rs-menu-section-header{
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	color: $rs-menu-text-color;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rs-menu-section-header-hover{
	color: $rs-menu-title-color-hover !important;
}

.rs-menu-section-group{
	font-style: italic;
	font-weight: bold;
	color: $rs-menu-group-text-color;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	padding-left: 10px;
	user-select: none;
}

.rs-menu-section-group-hover{
	color: $rs-menu-section-group-text-over !important;
}

.rs-menu-section-subtext{
	padding-left: 15px;
}

.rs-menu-section-text{
	color: $rs-menu-text-color;
	opacity: 1;
	cursor: hand;
	cursor:pointer;	
	overflow-x: hidden;
	padding-left: 20px;
	white-space: pre;
}

.rs-menu-section-text-bold{
	font-weight: bold;
}

.rs-menu-section-text-hover{
	color: $rs-menu-section-text-over !important;
}

/*Changes the text of the link as users hover over it from the menu*/
.rs-menu-section-text:hover{
	color: $rs-menu-section-text-over-hover !important;
}

.rs-menu-section-bullet-hover{
	color: $rs-menu-section-bullet-over-hover !important;
}

.x-panel-header {
    border-bottom-width: 1px !important;
}

/* Social Components */
@include extjs-panel-ui(
    $ui: 'social-navigation-header',
    $ui-header-font-size: 17px,
    $ui-header-font-family: Arial,
    $ui-header-padding: 10px 10px 5px 10px,
    $ui-header-color: $base-color,
    $ui-header-font-weight: bold,
    $ui-header-line-height: 17px
);

.x-panel-header-social-navigation-header {
    border-bottom-width: 1px !important;
}

@include extjs-panel-ui(
    $ui: 'social-navigation-group',
    $ui-header-font-size: 15px,
    $ui-header-font-family: Arial,
    $ui-header-padding: 5px 10px,
    $ui-header-color: #464646
);

.x-panel-header-social-navigation-group {
    border-bottom-width: 1px !important;
}

@include extjs-panel-ui(
    $ui: 'social-navigation-stream',
    $ui-body-color: #464646,
    $ui-body-font-size: 12px
);

@include extjs-panel-ui(
    $ui: 'social-component-dialog',
    $ui-header-color: $base-color
);

@include extjs-panel-ui(
    $ui: 'social-likes-dialog',
    $ui-header-color: $base-color
);

.x-panel-header-social-likes-dialog {
    border-bottom-width: 1px !important;
}

@include extjs-panel-ui(
    $ui: 'sysinfo-dialog',
    $ui-header-color: $base-color
);

@include extjs-panel-ui(
    $ui: 'decision-tree-question',
    $ui-body-color: #464646,
    $ui-body-font-size: 14px
);

/* End Social Components */

/* User Info Components */
.userInfo-title{
	color: $base-color;
	font-size: 14px;
}
/* End User Info Components*/

.x-grid-cell-inner-action-col > .rs-fa-details {
	background: url(images/edit.png) 0 0 no-repeat;
	height: 16px;
	width: 16px;
}
/* GRID PANEL */
.rs-body .rs-grid-dark .x-panel-header {
	margin-bottom : 8px;
}
.rs-body .rs-grid-dark .x-column-header{
	background-color: #e0e0e0;
	border-color: #c0c0c0;
	color: #444;	
	line-height: 1.5em;
	padding: 0;
	min-width : 35px;
}
.rs-body .rs-grid-dark .x-column-header .x-column-header-inner{
	padding: 4px 10px 3px 10px;
	line-height: 1.5em;
}
.rs-body .rs-grid-dark .x-grid-cell .x-grid-cell-inner{	
	padding: 6px 10px 5px 10px;
}   
.rs-body .rs-grid-dark .x-grid-body ,.rs-body .rs-grid-dark .x-grid-header-ct{
	border-width: 1px !important;
	border-color: silver !important;
	background: white;
}
.rs-body .rs-grid-dark .x-grid-header-ct.x-docked-top{
	border-bottom-width: 0px !important;
	background-color: #e0e0e0;
}

