a.x-tab-default-active{
	border-width: 1px !important;
}
.rs-tabpanel-dark .x-tab-bar-strip{
	display : none;
}
.rs-tabpanel-dark .x-tab-bar-default {
	background: none;
}
.rs-tabpanel-dark .x-tab {
	margin-right: 5px !important;
	padding: 10px 20px;
	background: linear-gradient(to bottom, rgba(177,177,177,1) 1%,rgba(136,136,136,1) 100%);
	border: 1px solid #888!important;
	border-bottom: 0 !important;
}
.rs-tabpanel-dark .x-tab:not(.x-active):hover{  
	background: linear-gradient(to bottom, rgba(198,198,198,1) 1%,rgba(168,168,168,1) 100%);
}

.rs-tabpanel-dark  .x-tab.x-tab-active{
	background: white;
	border: 1px solid #dadada !important;
	border-bottom: 0 !important;
}
.rs-tabpanel-dark .x-tab-inner {  
	color: #fff;   
}
.rs-tabpanel-dark .x-tab.x-tab-active .x-tab-inner{
	color: #444;
}
.rs-tabpanel-dark .x-tab-bar-body > .x-box-inner:after {
	content: '';
	position: absolute;	
	bottom: 0;
	width: 100%;
	height: 4px;
	background: url(../resources/images/tab/bg-tab.png) center bottom no-repeat;
	z-index: -1;
	background-size: 100% 100%;
}