.playbooktemplate .x-toolbar-footer {
    border-width: 0;
    margin: 0;
    padding: 6px 0 6px 6px;
    border-top: transparent !important;
    background: transparent;
}

.no-bg-image {
    background-image: none !important;
}


.playbooktemplate .x-tree-icon-leaf,
.playbooktemplate .x-tree-icon-parent,
.playbooktemplate .x-grid-tree-node-expanded .x-tree-icon-parent {
    display: none;
}

.playbooktemplatehr {
    border-color: #e0dfdf;
    border-width: 1px;
    border-style: solid;
}

.sir-template-header > .x-panel-header .x-header-text{
    font-size:14px;
    font-weight:bold;
}
.sir-template-header > .x-panel-header {
    padding : 8px 0;
    border-bottom-width: 0px !important;
}
.playbooktemplate .x-action-col-icon.x-action-col-glyph {
    padding-left: 3px;
}

.playbook-overview-title .x-fieldset-header-text {
    font-weight: bold
}

.rs-button-hide {
    display: none;
}
.rs-button-show-with-margin {
    margin-left: 20px;
    font-family: fontawesome !important;
}

.rs-button-show {
    margin-left: 5px;
    font-family: fontawesome !important;
}

.rs-dasboard-toolbar-btn {
    border: 1px solid silver;
    border-radius: 0px;
    background: none;
}

.rs-sir-procedure-button-show {
    font-family: fontawesome !important;
}

.sc-link {
    margin-left: 4px;
}

.rs-playbook-hide-row-expander {
    display: none;
}

.rs-playbook-modindicator img {
    visibility: hidden;
}

.rs-playbook-modindicator:hover img {
    visibility: visible;
}

.rs-dashboard-refresh-tbar .x-form-trigger-wrap {
    border: none;
}

.rs-sir-dashboard .rs-sir-dashboard-banner {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.rs-sir-dashboard .x-form-display-field {
    margin-top: 9px;
    font-weight: bold;
    font-size: 15px;
    color: #686eb3;
}

.rs-sir-dashboard .x-btn-default-toolbar-small .x-btn-glyph,
.rs-sir-dashboard .x-btn-default-small .x-btn-glyph {
    color: #09050C;
    font-size: 14px;
}

.rs-sir-dashboard-record {
    height: 40px;
}

.rs-sir-dashboard-record .x-grid-cell-inner {
    position: relative;
    top: 5px;
}

.dashboard-row .x-grid-cell-inner {
    padding: 10px;
}

.playbook-main .x-panel-header {
    border-bottom: none;
    padding-left: 0px;
    padding-right: 0px;
}

.playbook-main .x-panel-header-text-container-default {
    font-size: 16px;
    font-weight: bold;
}

#playbook-iframe .x-toolbar, #playbook-iframe .x-toolbar-client-toolbar {
    visibility: hidden;
}

.playbook-overview {
    border: 1px silver solid !important;
    margin-right: 10px !important;
}

.playbook-tabpanel .x-progress-bar {
    background-color: green !important;
}

.playbook-tabpanel .x-tab-bar-body {
    padding-bottom: 0px;
}
.playbook-tabpanel .rs-dockedtoolbar {
    margin-bottom: 0px;
    padding: 10px;
    border-width: 1px 1px 0px 1px !important;
    border-right-color: silver !important;
    border-left-color: silver !important;
}

#playbook-activitiesview {
    border-top: 1px silver solid !important;
}

.rs-playbook-description {
    cursor: pointer;
}

.x-css-shadow {
    background: white;
}

.sir-activities-grid .x-grid-row,
.sir-artifacts-grid .x-grid-row{
    height: 34px;
}
.sir-activity-value,
.sir-artifact-value {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.sir-artifacts-grid .x-grid-row-selected .sir-action-icon{
    visibility: visible;
}
.sir-activity-value:hover .sir-action-icon,
.sir-artifact-value:hover .sir-action-icon{
	visibility: visible;
}

.sir-activity-value .x-btn.sir-action-icon .x-btn-arrow {
	padding-right: 0 !important;
	background-image: none !important;
}

.sir-action-icon {
    visibility: hidden;
	background: transparent;	/*#a4cc77;*/
	padding : 3px 0px 0px 2px;	/*3px 1px 1px 3px*/
	border-width: 0;			/*border: 1px solid #578423;*/
	color: #808080;
}
.sir-action-icon:hover {
	/*background: #e4e4e4;*/		/*#8BC34A;*/
	color: #000;
}
.sir-external-link-header-icon {
    background: none;
    border: none;
    padding: 0;
}
.sir-external-link-header-icon .x-btn-icon-el{
    font-size: 17px;
    color : #b2b2b2;
}
.sir-action-icon .x-btn-icon-el{
    font-size : 16px;
    /*color : white;*/
}
.sir-action-icon .x-btn-button {
	padding-right: 5px;
}
.actionTaskFilters.x-tree-panel.x-item-disabled > .x-panel-header,
.actionTaskFilters.x-tree-panel.x-item-disabled > .x-grid-header-ct,
.actionTaskFilters.x-tree-panel.x-item-disabled > .x-grid-body {
	opacity: .5;
}

.incident .qq-upload-list,
.incident.qq-uploader {
	min-height: 238px;
	max-height: 238px;
	padding: 5px;
}

.artifact-tbtext {
    font-size: 15px;
}
#artifact-action .disabled-row{
    opacity:0.7;
}