<% if (vars.availableActions.length > 0) { %>
    <ul class="event-management-extensible-actions-menu-list">
        <li>
            <a class="event-management-extensible-action" id="resolve-guided-resolution-li" style="color:#66CC33;">Resolve Guided Resolution</a>
        </li>
        <% vars._.each(vars.availableActions, function(action) { %>
            <li>
                <a class="event-management-extensible-action" data-action-name="<%- action.action_name %>">
                    <%- action.label %>
                </a>
            </li>
        <% }); %>
    </ul>
<% } else if (vars.loading === true) { %>
    <div class="alert alert-info">
        <i class="icon-alert"></i>
        <%- vars._('No Actions Available').t() %>
    </div>
<% } else { %>
    <div class="alert alert-warning">
        <i class="icon-alert"></i>
        <%- vars._('No Actions Available').t() %>
    </div>
<% } %>

<script type="text/javascript">
	$("#resolve-guided-resolution-li").click(function(){
		var queryString="";
		var contents=$(".overview-contents").find(".overview-row");
		contents.each(
			function(){
				var keys=$(this).find(".overview-field");
				var values=$(this).find(".overview-value");
				$(keys).each(
					function(index){
						var k=$(this).text();
						var key=k.substr(0,k.length-2);
						queryString+=key+'='+encodeURIComponent($(values[index]).text());
						queryString+='&';
					}
				)
			}
		)
		var eventId = $("#app-main-layout > div > div.event-management-layout > div > div.event-management-detail-list > div.event-management-detail-list-body-container > div.event-management-detail-list-body > div.event-management-detail-list-row.active").data("eventid");
		// var link = "http://10.50.2.70:8080/resolve/jsp/rsclient.jsp?displayClient=false#RS.worksheet.Worksheet/id=0c52f99a994e47728d02d35bde229752";
		var link = "https://localhost.cloud.resolvesys.com:8443/resolve/jsp/rsclient.jsp?rid=true&autoCreate=true&rule_id="+eventId+"&status=1&security_domain=threat";
		// var link = "/app/ResolveUI/resolution_routing?rid=true&autoCreate=true&rule_id="+eventId+"&status=1&security_domain=threat";
		// window.open('http://10.50.2.70:8080/resolve/jsp/rsclient.jsp?rid=true&'+queryString+'&orig_sid=scheduler__admin__itsi__ServiceStopped_at_1470093000_5147#RS.wiki.Main/name=Runbook.WebHome');
		window.open(link);
	});
</script>
