<div class="event-management-detail-panel-header">
	<div class="event-management-detail-panel-event-actions-left-container"></div>
	<div class="event-management-detail-panel-event-actions-right-container"></div>
</div>
<div class="event-management-detail-panel-body"></div>

<script type="text/javascript">

function waitForElementToDisplay(selector, timeToWaitBetweenIterations, countBailOut, functionToExecute) {
	if(document.querySelector(selector) != null) {
		// alert("Selector '" + selector + "' is available...");
		functionToExecute();
		return;
	}
	else {
		setTimeout(function() {
			if (countBailOut > 0) {
				countBailOut--;
				waitForElementToDisplay(selector, timeToWaitBetweenIterations, countBailOut, functionToExecute);
			} else {
				// alert("Bail out on '" + selector + "' selector to show up.");
				return;
			}
		}, timeToWaitBetweenIterations);
	}
}

function canAppendResolveTab() {
	if (document.querySelector("div.tab-layout-container ul.nav-tabs li#resolve-splunk-app-tab") == null) {
		$("div.tab-layout-container ul.nav-tabs").append('<li role="presentation" data-tab-id="resolve-splunk-app-tab" id="resolve-splunk-app-tab"><a role="tab" class="tab-label" style="color:#66CC33; font-weight: bold">Resolve Guided Resolution</a></li>');
		$("#resolve-splunk-app-tab").click(function() {
			var queryString="";
			$(".nav-tabs").find("li").each(
				function() {
					$(this).removeClass("active");
				}
			);
			$("div.tab-content-scroll-wrapper div.tab-content").find("div.tab-pane").each(
				function() {
					$(this).removeClass("active");
				}
			);
			$("#resolve-splunk-app-tab").addClass("active");
			var eventId = $("#app-main-layout > div > div.event-management-layout > div > div.event-management-detail-list > div.event-management-detail-list-body-container > div.event-management-detail-list-body > div.event-management-detail-list-row.active").data("eventid");
			var link = "https://localhost.cloud.resolvesys.com:8443/resolve/jsp/rsclient.jsp?rid=true&autoCreate=true&rule_id="+eventId+"&status=1&security_domain=threat&displayClient=false";
			var activeTabPane=$(".tab-content-scroll-wrapper div.tab-content div.tab-pane.active"),
				height = parseInt($(".event-management-detail-panel-body").css("height"));
				height -= parseInt($("div.event-management-detail-panel-body-header").css("height"));
				height -= parseInt($("div.event-management-detail-panel-body-header").css("margin-bottom"));
				height -= parseInt($("ul.nav-tabs").css("height"));
				height -= parseInt($("ul.nav-tabs").css("margin-bottom"));
				height -= 8;

			if ($("#resolve-splunk-app-tab") != undefined) {
				$("div.tab-content-scroll-wrapper div.tab-content").append("<div role='tabpanel' class='tab-pane' id='resolve-splunk-app-tab-pane'><iframe id='resolve-ext-iframe' src='"+link+"' width='100%' height='"+height+"' style='border: 0px;'></iframe></div>");
			}
			$("#resolve-splunk-app-tab-pane").addClass("active");
		});
	}
	if ($("table.table-chrome.table-striped.wrapped-results") == undefined) {
		waitForElementToDisplay("table.table-chrome.table-striped.wrapped-results", 100, 100, canAppendResolveTab);
	} else {
		waitForElementToDisplay("table.table-chrome.table-striped.wrapped-results tbody tr td:first-child", 100, 100, appendResolveTab);
	}
}

function appendResolveTab() {
	var fullText = $("table.table-chrome.table-striped.wrapped-results").first().text();
	if (fullText.indexOf("WorksheetID=") > -1) {
		var
			wsIndexStart = fullText.indexOf("WorksheetID=") + 12,
			wsIndexEnd = wsIndexStart + 32,
			wsId = fullText.substr(wsIndexStart, wsIndexEnd);
			console.log("RWS_ID : " + wsId);
	} else {
		return;
	}
	$("#resolve-ext-tab").remove();
	$("div.tab-layout-container ul.nav-tabs").append('<li role="presentation" data-tab-id="resolve-ext-tab" id="resolve-ext-tab"><a role="tab" class="tab-label" style="color:#66CC33; font-weight: bold">Resolution Worksheet</a></li>');
	$("#resolve-ext-tab").click(function() {
		var queryString="";
		$(".nav-tabs").find("li").each(
			function() {
				$(this).removeClass("active");
			}
		);
		$("div.tab-content-scroll-wrapper div.tab-content").find("div.tab-pane").each(
			function() {
				$(this).removeClass("active");
			}
		);
		$("#resolve-ext-tab").addClass("active");
		var link = "https://localhost.cloud.resolvesys.com:8443/resolve/jsp/rsclient.jsp?displayClient=false#RS.worksheet.Worksheet/id="+wsId+"&activeTab=1";
		var activeTabPane=$(".tab-content-scroll-wrapper div.tab-content div.tab-pane.active"),
			height = parseInt($(".event-management-detail-panel-body").css("height"));
			height -= parseInt($("div.event-management-detail-panel-body-header").css("height"));
			height -= parseInt($("div.event-management-detail-panel-body-header").css("margin-bottom"));
			height -= parseInt($("ul.nav-tabs").css("height"));
			height -= parseInt($("ul.nav-tabs").css("margin-bottom"));
			height -= 8;

		if ($("#resolve-ext-iframe") != undefined) {
			$("div.tab-content-scroll-wrapper div.tab-content").append("<div role='tabpanel' class='tab-pane' id='resolve-ext-tab-pane'><iframe id='resolve-ext-iframe' src='"+link+"' width='100%' height='"+height+"' style='border: 0px;'></iframe></div>");
		}
		$("#resolve-ext-tab-pane").addClass("active");
	});
}

waitForElementToDisplay("div.tab-layout-container ul.nav-tabs", 100, 100, canAppendResolveTab);
$(".event-management-detail-list-row").click(function() {
	canAppendResolveTab();
});

function resolveGuidedResolution() {
	var queryString="";
	var contents=$(".overview-contents").find(".overview-row");
	contents.each(
		function(){
			var keys=$(this).find(".overview-field");
			var values=$(this).find(".overview-value");
			$(keys).each(
				function(index){
					var k=$(this).text();
					var key=k.substr(0,k.length-2);
					queryString+=key+'='+encodeURIComponent($(values[index]).text());
					queryString+='&';
				}
			)
		}
	)
}
</script>
