/*
 * Ext JS Library 2.1
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

html, body {
	font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
/*	overflow: hidden;*/
	height: 100%;
}

.ext-el-mask {
    background:#dadadb;
}
.x-grid3-td-title b {
    font-family:tahoma, verdana;
    display:block;
    color:#333;
}
.x-grid3-td-title b i {
    font-weight:normal;
    font-style: normal;
    color:#000;
}
.x-grid3-td-title .topic {
    padding-left:20px;
}
.x-grid3-td-title .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-title a {
    color: #385F95;
    text-decoration:none;
}
.x-grid3-td-title a:hover {
    text-decoration:underline;
}
.x-grid3-row-body p {
    margin:5px 20px 10px 25px !important;
    color:#555;
}
.post-date {
    font-weight:bold;
    color:#333;
}
.author {
    color:#333;
}
.x-tree {
    background:#fff !important;
}
.x-border-layout-ct {
    background:transparent;
}
body.x-border-layout-ct {
    background:#c3d5ed url(../images/bg.gif) repeat-x left top !important;
}
.x-layout-split {
    background-color:transparent !important;
}
.x-tree-node div.feeds-node{
    background:#eee url(../images/bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}
.feeds-node .x-tree-node-icon {
    display:none;
}
.forum-ct a span {
    font-weight:bold;
    color:#222;
}
.feed {
    border:1px solid #fff;
    margin:3px;
}
.feed .x-tree-ec-icon {
    display:none;
}
.cut-icon {
    background-image:url(../images/cut.gif) !important;
}
.copy-icon {
    background-image:url(../images/copy.gif) !important;
}
.paste-icon {
    background-image:url(../images/paste.gif) !important;
}
.undo-icon {
    background-image:url(../images/undo.gif) !important;
}
.redo-icon {
    background-image:url(../images/redo.gif) !important;
}
.group-icon {
    background-image:url(../images/group.gif) !important;
}
.ungroup-icon {
    background-image:url(../images/ungroup.gif) !important;
}
.grid-icon {
    background-image:url(../images/grid.gif) !important;
}
.connect-icon {
    background-image:url(../images/connect.gif) !important;
}
.bold-icon {
    background-image:url(../images/bold.gif) !important;
}
.italic-icon {
    background-image:url(../images/italic.gif) !important;
}
.underline-icon {
    background-image:url(../images/underline.gif) !important;
}
.preferences-icon {
    background-image:url(../images/preferences.gif) !important;
}
.fit-icon {
    background-image:url(../images/fit.gif) !important;
}
.preview-icon {
    background-image:url(../images/preview.gif) !important;
}
.select-icon {
    background-image:url(../images/select.gif) !important;
}
.pan-icon {
    background-image:url(../images/pan.gif) !important;
}
.print-icon {
    background-image:url(../images/print.gif) !important;
}
.press-icon {
    background-image:url(../images/press.gif) !important;
}
.zoom-icon {
    background-image:url(../images/zoom.gif) !important;
}
.zoomin-icon {
    background-image:url(../images/zoomin.gif) !important;
}
.zoomout-icon {
    background-image:url(../images/zoomout.gif) !important;
}
.zoomactual-icon {
    background-image:url(../images/zoomactual.gif) !important;
}
.collapse-icon {
    background-image:url(../images/collapse.gif) !important;
}
.expand-icon {
    background-image:url(../images/expand.gif) !important;
}
.new-icon {
    background-image:url(../images/new.gif) !important;
}
.open-icon {
    background-image:url(../images/open.gif) !important;
}
.save-icon {
    background-image:url(../images/save.gif) !important;
}
.saveas-icon {
    background-image:url(../images/saveas.gif) !important;
}
.gear-icon {
    background-image:url(../images/gear.gif) !important;
}
.tree-icon {
    background-image:url(../images/tree.gif) !important;
}
.diagram-icon {
    background-image:url(../images/diagram.gif) !important;
}
.left-icon {
    background-image:url(../images/left.gif) !important;
}
.right-icon {
    background-image:url(../images/right.gif) !important;
}
.center-icon {
    background-image:url(../images/center.gif) !important;
}
.top-icon {
    background-image:url(../images/top.gif) !important;
}
.bottom-icon {
    background-image:url(../images/bottom.gif) !important;
}
.middle-icon {
    background-image:url(../images/middle.gif) !important;
}
.fillcolor-icon {
    background-image:url(../images/fillcolor.gif) !important;
}
.linecolor-icon {
    background-image:url(../images/linecolor.gif) !important;
}
.fontcolor-icon {
    background-image:url(../images/fontcolor.gif) !important;
}
.collapse-icon {
    background-image:url(../images/collapse.gif) !important;
}
.expand-icon {
    background-image:url(../images/expand.gif) !important;
}
.up-icon {
    background-image:url(../images/up.gif) !important;
}
.home-icon {
    background-image:url(../images/house.gif) !important;
}
.down-icon {
    background-image:url(../images/down.gif) !important;
}
.delete-icon {
    background-image:url(../images/delete.gif) !important;
}
.x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
.x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#15428b;
    font-weight:bold;
}

#topic-grid .x-panel-tbar .x-toolbar {
   /* border-top:0 none; */
}


#main-tabs .x-tab-panel-body {
    background:transparent;
    border:0 none;
}

/* Preview classes */

.preview .x-panel-body {
    background:#fff;
    color:#222;
    font:normal 12px tahoma,verdana,arial,sans-serif;
}

.preview .x-panel-body p {
    line-height:18px;
    margin:8px 0;
}

.preview .x-panel-body ul {
    margin-left:18px;
}

.preview .x-panel-body ul li {
    display:list-item;
    list-style-image:none !important;
    list-style-position:outside !important;
    list-style-type:disc !important;
    margin-left:18px;
}

.preview .x-panel-body pre, #preview .x-panel-body code {
    background:#f1f1f1;
    display:block;
}

.preview .x-panel-body h4.post-author {
    font-weight:normal;
    color:#555;
    font-size:11px;
}
.preview .x-panel-body span.post-date {
    font-weight:normal;
    color:#555;
    float:right;
    font-size:11px;
}
.preview .x-panel-body div.post-data {
    background:#f1f2f4;
    padding:5px;
    border-bottom:1px solid #dadadb;
}
.preview .x-panel-body div.post-body {
    padding:10px;
}
/*.single-preview .x-toolbar, #right-preview .preview .x-toolbar {
    border-top:0 none;
}*/
.reading-menu .x-menu-item-checked {
   border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
	padding:0;
}
.x-tab-panel-header {
    border-bottom-width:0 !important;
}
#suggested {
    border-top:0 none;
}
#suggested a {
    text-decoration:none;
    font-size:11px;
    color:#15428B;
    display:block;
    padding:3px;
    float:right;
    margin-right:4px;
}
#suggested a:hover {
    text-decoration:underline;
    color:#15428B;
}
.x-combo-list-item {
    zoom:1;
}
.x-combo-list-item strong {
    color:#777;
    font-size:11px;
    font-style: normal;
    float:left;
}
.x-combo-list-item em {
    color:#222;
    font-size:12px;
    font-style: normal;
    float:left;
    width:325px;
}
.x-node-ctx {
    background:#eee !important;
    border:1px solid #ccc !important;
}
