.hideReadOnlyBorder .x-form-readonly .x-form-trigger-wrap{
	border-color: white;
}
.hideReadOnlyBorder .x-form-checkboxgroup-body{
	padding: 0;
}
.hideReadOnlyBorder input[readonly]{
	border-color: white;
}
.hideReadOnlyBorder .x-form-readonly .x-form-trigger-wrap{
	border-color: white;
}
.msg-ct-wrapper{	
	box-shadow: gray 0px 0px 6px; 
	border-radius : 4px;	
	margin-top:5px;
}
.msg-ct-wrapper[type='success']{
	background:rgba(116,181,114,0.9);
}
.msg-ct-wrapper[type='success']:hover{
	background:rgba(116,181,114,1);
}
.msg-ct-wrapper[type='info']{
	background:rgba(89, 171, 195,0.9);
}
.msg-ct-wrapper[type='info']:hover{
	background:rgba(89, 171, 195,1);
}
.msg-ct-wrapper[type='error']{
	background:rgba(202, 95, 89,0.9);
}
.msg-ct-wrapper[type='error']:hover{
	background:rgba(202, 95, 89,1);
}
.icon-wrapper{
	min-height: 110px;
	width:18%; 
	display: inline-block; 
	vertical-align: middle;	
}
.msg-ct-wrapper[type='success'] .icon-wrapper{	
	background:url("ssuccess.png") no-repeat center; 
}
.msg-ct-wrapper[type='error'] .icon-wrapper{
	background:url("serror.png") no-repeat center; 
}
.msg-ct-wrapper[type='info'] .icon-wrapper{
	background:url("sinfo.png") no-repeat center; 
}
.msg-wrapper{
	width: 77%; 
	padding : 8px 0;
	display: inline-block; 
	vertical-align: middle; 
	text-align:left; 
	color:white;
	cursor : pointer;
}
.msg-wrapper h3{
	margin: 0 0 5px 0;	
}
.msg-wrapper p {
	margin: 0;	
}