$rs-brand-color-primary: #41a510;
$rs-brand-color-primary-over: #66CC33; 
$rs-brand-color-primary-disabled: #41a510; 
$rs-brand-color-secondary: #B4B4B4;
$base-color: #4d4d4d;

$font-family: verdana, Tahoma, sans-serif;
$font-size: 13px;

$body-background-color: transparent !default;

$rs-text-color: #464646;
$rs-border-color: #ccc;
$rs-accent-color: #999;




$rs-good-color: #68b23b;
$rs-warning-color: #e0b300;
$rs-error-color: #e6191e;
$rs-severe-color: #e2181c;
$rs-empty-color:gray;
$rs-unknown-color: lightcyan;
  
a {
  color: #00e;
}

a:visited {
  color: #00e;
}

.x-form-item-label {
  color: #888888;
}

.x-toolbar-text.rs-display-name {
  font-size: 16px;
  font-weight: bold;
}

.rs-boolean-renderer{
  color: $rs-accent-color !important;
}

.rs-monospace{
  font-family: 'lucida console', monospace !important;
}

.rs-menu-icon{
  color: $rs-accent-color;
}

pre{
  font-family: 'lucida console', monospace !important;
  margin: 0px;
}

em{
  font-weight: bold;
}

ul,ol{
  margin: 0px;
}

.rs-link{
  color: $rs-text-color;
  text-decoration: none;
}
.rs-link:hover{
  text-decoration: underline;
  cursor: pointer;
}
.rs-link:visited{
  color: $rs-text-color;
  text-decoration: none;
}
.rs-accent{
  color: $rs-accent-color;
}
.rs-body *:not([role="combobox"])[readonly]{
  background : #f6f6f6;
}
/*Loading Mask*/
.rs-body > .x-mask[role='presentation'] { 
  opacity: 0.4;
  background: #000; 
}
.rs-body .x-mask {
  background : none;
}
.rs-body .x-mask-msg {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  padding: 8px;
  background: rgba(62, 60, 60, 0.5);
}
.rs-body .x-mask-msg-inner {
  text-align: center;
}
.rs-body .x-mask-msg-text {
  padding: 26px 0 0;
  color: white;
  font-size: 11px;
  background-image: url(images/loadmask/ring.gif);
}
.x-css-shadow{
  box-shadow : rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
}
/*Scrollbar Style*/
::-webkit-scrollbar {
background: transparent;
    overflow: visible;
    width: 18px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 20px;
}
::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 20px;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

/*Msg Style*/
.msg-ct-wrapper{  
  box-shadow: gray 0px 0px 6px; 
  border-radius : 4px;  
  margin-top:5px;
}
.msg-ct-wrapper[type='success']{
  background:rgba(116,181,114,0.9);
}
.msg-ct-wrapper[type='success']:hover{
  background:rgba(116,181,114,1);
}
.msg-ct-wrapper[type='info']{
  background:rgba(89, 171, 195,0.9);
}
.msg-ct-wrapper[type='info']:hover{
  background:rgba(89, 171, 195,1);
}
.msg-ct-wrapper[type='error']{
  background:rgba(202, 95, 89,0.9);
}
.msg-ct-wrapper[type='error']:hover{
  background:rgba(202, 95, 89,1);
}
.icon-wrapper{
  min-height: 110px;
  width:18%; 
  display: inline-block; 
  vertical-align: middle; 
}
.msg-ct-wrapper[type='success'] .icon-wrapper{  
  background:url("ssuccess.png") no-repeat center; 
}
.msg-ct-wrapper[type='error'] .icon-wrapper{
  background:url("serror.png") no-repeat center; 
}
.msg-ct-wrapper[type='info'] .icon-wrapper{
  background:url("sinfo.png") no-repeat center; 
}
.msg-wrapper{
  width: 77%; 
  padding : 8px 0;
  display: inline-block; 
  vertical-align: middle; 
  text-align:left; 
  color:white;
  cursor : pointer;
}
.msg-wrapper h3{
  margin: 0 0 5px 0;  
}
.msg-wrapper p {
  margin: 0;  
}

/*GLYPHS STYLE*/
.x-action-col-glyph {font-size:16px; line-height:16px; color:gray; width:20px}
.x-action-col-glyph:hover{color:#464646}
@import 'social';
@import 'messagebox';
@import 'worksheet';
@import 'sysadmin';
@import 'wiki';
@import 'impex';
@import 'decisiontreeviewer';
@import 'catalog';
@import 'search';
@import 'extjs';
@import 'user';
@import 'formbuilder';
@import 'formviewer';
@import 'formwizard';

@import 'macros/view.scss';
@import 'macros/menupanel.scss';
@import 'macros/userOverrides.scss';

@import 'resolutionbuilder.scss';
@import 'client.scss';
@import 'resolutionrouting.scss';

@import 'ResolveVariables.scss';
