.training.x-panel .x-grid-body {
background:#fafafa;
border:1px solid #d2d2d2;
margin:0;
padding:0;
}

.training.x-grid-cell-inner {
margin-left:-15px;
}

.training .x-grid-row .x-grid-cell {
// border-bottom:1px solid #ebebeb;
color:gray;
font:bold 9pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-left:0;
position:relative;
left:0;
padding:6px 0 6px 10px;
}

.training .x-grid-row:nth-child(even) .x-grid-cell {
background:#fafafa;
}

.training .x-grid-row:nth-child(odd) .x-grid-cell {
background:#fafafa;
}

.training .x-grid-row .lab {
display:inline-block;
background:grey;
height:15px;
width:15px;
vertical-align:top;
margin:2px 10px 0 -25px;
}

.training .x-grid-row-selected .x-tree-icon-leaf {
color:#fff;
background:transparent no-repeat!important;
background-size:16px 16px!important;
}

.training .x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div {
background: #8ec447; /* Old browsers */
background: -moz-linear-gradient(top, #8ec447 0%, #74a434 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec447), color-stop(100%,#74a434)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8ec447 0%,#74a434 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8ec447 0%,#74a434 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8ec447 0%,#74a434 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #8ec447 0%,#74a434 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec447', endColorstr='#74a434',GradientType=0 ) !important; /* IE6-9 */
color:#fff;
}

.training .x-grid-row-selected.x-grid-tree-node-expanded .x-grid-cell-first {
background: #309ac8; /* Old browsers */
background: -moz-linear-gradient(top, #309ac8 0%, #0977b4 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#309ac8), color-stop(100%,#0977b4)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #309ac8 0%,#0977b4 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #309ac8 0%,#0977b4 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #309ac8 0%,#0977b4 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #309ac8 0%,#0977b4 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309ac8', endColorstr='#0977b4',GradientType=0 ) !important; /* IE6-9 */
color:#fff;
}

.training .x-grid-view .x-panel-header-text-default,.training .x-tree-expander,.training .x-grid-view .x-panel-header-default img {
visibility:hidden!important;
}

.training .x-tree-elbow,.training .x-tree-elbow-end,.training .x-tree-elbow-plus,.training .x-tree-elbow-end-plus,.training .x-tree-elbow-empty,.training .x-tree-elbow-line {
visibility:hidden;
}

.training .x-tree-icon-leaf {
background:transparent no-repeat!important;
background-size:16px 16px!important;
margin-right:10px;
}

.training .x-tree-icon-parent {
width:14px;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-left:7px solid #858585;
background:none;
margin-top:5px;
margin-right:8px;
margin-left:4px;
}

.training .x-grid-tree-node-expanded .x-tree-icon {
background:none;
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:7px solid #858585;
margin-top:7px;
margin-right:14px;
margin-left:2px;
}

.training .x-grid-row-selected .x-tree-icon-parent {
width:14px;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-left:7px solid #fff;
background:none;
margin-top:5px;
margin-right:8px;
margin-left:4px;
}

.training .x-grid-row-selected.x-grid-tree-node-expanded .x-tree-icon-parent {
background:none;
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:7px solid #fff;
margin-top:5px;
margin-right:14px;
margin-left:2px;
}

.training .icon-pushpin{
	color: gray;
}

.x-tree-icon-catalog{
	width: 120px;
	height: 90px;
}

.x-icon-over{
	cursor: pointer;
	cursor: hand;
	color: #999;
}