.side-menu .x-tree-expander, .side-menu .x-tree-elbow, .side-menu .x-tree-elbow-end, .side-menu .x-tree-icon-parent, .side-menu .x-tree-icon-leaf{
  display:none;
}

.side-menu .x-tree-elbow-img{
	width: 10px;
}

.side-menu .x-toolbar{
	padding: 2px 0 2px 2px;
}

.side-menu .side-menu-header {
	cursor: pointer;
	background-color:#eee;
	border-top:1px solid silver;
	line-height: 30px;
}

.side-menu .side-menu-header-first {
	cursor: pointer;
	background-color:#eee;
	line-height: 30px;
}

.side-menu .side-menu-group {
	font-weight:bold;
	color:#555;
}

.side-menu .side-menu-item {
	color:#555;
}