.decision-tree-questions-container{
	background-color: #fafafa !important;
}

.decision-tree-question-unselected{
	cursor: pointer;
	cursor: hand;
	padding: 10px 10px 10px 20px !important;
}

.decision-tree-question-selected{
	cursor: pointer;
	cursor: hand;
	padding: 10px 10px 10px 20px !important;
	background: $rs-brand-color-primary;
	color:#fff;
}

.decision-tree-question-body{
	font-weight: bold;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.decision-tree-question-body-unselected{
	background: transparent !important;
	color: gray !important;
}

.decision-tree-question-body-selected{
	background:transparent !important; 
	color: white !important;
}
