/* tree_wrap should be set as the cls for your TreePanel, under Ext.AbstractComponent
  However, this will place tree-wrap several div's up the heirarchy from the actual 
  element you are targeting. So, x-grid-cell-inner is used with a descendent selector
  to be more precise. Hopefully, the combination will avoid applying the styles to
  anything unintended.
  
  Only the height and white-space are actually needed. The other lines make it pretty.
*/
div[class~="tree_wrap"] div[class~="x-grid-cell-inner"] span
 {
 height:    auto   !important;
 white-space:  normal  !important;
 // text-indent: -3.3em  !important;
 padding-left: 0.3em   !important;
 padding-right: 9em  !important;
 display: inline-block;
 }