.my-row-highlight-class {
	background-color: red;
}

.x-panel-dd-spacer {
	border-style: dashed;
	border-width: 1px;
	border-color: #99BCE8;
}

.formControlContainer, .formControlSectionContainer{
	padding: 5px 10px 5px 10px
}

.formControlContainerBody {
	background-color: transparent;
}

.formControlFocus{
	background-color: red;
}

/*.availableFields{
	background-color: #D0D0D0;
}*/

.notice {
margin: 10px 10px 0 10px;
padding: 25px 20px 25px 20px;
background-color: white;
border: 1px solid $rs-border-color;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

.notice-small {
margin: 5px 5px 0 5px;
padding: 12px 10px 12px 10px;
background-color: white;
border: 1px solid $rs-border-color;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
text-align: center;
}

.notice h2 {
font-size: 155%;
margin: 0 0 5px 0;
color: $base-color !important;
font-weight: bold;
}

.notice strong{
	font-weight: bold;
}

.notice p {
/*margin-left: 25px;*/
line-height: 135%;
}

.notice b {
color: #FF0000;
}

.x-message-box .ext-mb-save {
    background: url("/resolve/images/document-save.png") no-repeat scroll 6px 0px transparent;
    height: 52px!important;
}