/* = STEPS LAYOUT
----------------------------*/
.wizard-steps {
	padding:0px;
	position: relative;
	clear:both;
	font-weight: bold;
	height:30px;
	background-color: transparent;
}

.wizard-steps div{
	border-style: none;
	border-bottom: 0px !important;
	box-shadow: none;
	background-image: none;
	background-color: white; 
}

.wizard-steps .x-tab-bar-body {
	height: 30px !important;
}

.wizard-steps .x-tab-bar-body .x-box-inner div{
	height: 30px !important;
}

.wizard-steps .x-tab-default-active{
	border-width: 0px !important;
}

/* = DEFAULT STEPS
----------------------------*/
.wizard-steps a {
	position:relative;
	display:block;
	width:auto;
	height:24px;
	margin-right: 18px !important;
	margin-left: 4px !important;
	padding:3px 10px 0px 3px;
	float: left;
	font-size:11px;
	line-height:24px;
	color:#666;
	background: #EAEAEA;
	text-decoration:none;
	text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}
.wizard-steps a:before {
	width:0px;
	height:0px;
	border-top: 12px solid #EAEAEA;
	border-bottom: 12px solid #EAEAEA;
	border-left:12px solid transparent;
	position: absolute;
	content: "";
	top: 0px;
	left: -11px;
	display: block;
}
.wizard-steps a:after {
	width: 0px;
	height: 0px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #EAEAEA;
	position: absolute;
	content: "";
	top: 0px;
	right: -11px;
	display: block;
}

.wizard-steps a span{
	color: #666666;
	padding-left: 3px;
}

.wizard-steps button{
	height: 23px !important;
}

/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .x-tab-active a {
	color:#A3C1C9;
	background: #15498B;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}

.wizard-steps .x-tab-active a:before {
	border-top: 12px solid #15498B;
	border-bottom: 12px solid #15498B;
}
.wizard-steps .x-tab-active a:after {
	border-left: 12px solid #15498B;
}

.wizard-steps .x-tab-active a span{
	color: #ffffff;
}

/* = HOVER STATES
----------------------------*/
.wizard-steps .x-tab-over a {
	color:#fff;
	background: #D0D0D0 !important;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .x-tab-over a:before {
	border-top: 12px solid #D0D0D0;
	border-bottom: 12px solid #D0D0D0;
}
.wizard-steps .x-tab-over a:after {
	border-left: 12px solid #D0D0D0;
}
.wizard-steps .x-tab-over span {
	color:$base-color !important;
}

/* DISABLED STATES*/
.wizard-steps .x-tab-disabled a {
	color:#A3C1C9;
	background: #E7DFDF;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .x-tab-disabled a:before {
	border-top: 12px solid #E7DFDF;
	border-bottom: 12px solid #E7DFDF;
}
.wizard-steps .x-tab-disabled a:after {
	border-left: 12px solid #E7DFDF;
}
.wizard-steps .x-tab-disabled a span{
	color: #666666;
}
.wizard-steps .x-tab-disabled button{
	cursor:default;
}

.x-ie8 .wizard-steps .x-tab-top-disabled{
	background-image: none !important;
}

/* IE Overrides */
.x-ie8 .wizard-steps .x-tab-top{
	background-image: none;
}

/* IE 8 Overrides */
.x-ie8 .wizard-steps .x-tab-default-top-ml{
	background-color: #EAEAEA !important;
	background-image: none !important;
	background-repeat: no-repeat !important;
	padding-left: 10px !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-mc{
	background-color: #EAEAEA !important;
	background-image: none !important;
	background-repeat: no-repeat !important;
	padding-left: 10px !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-mc{
	background-color: #EAEAEA !important;
	background-image: none !important;
	background-repeat: no-repeat !important;
	padding-left: 10px !important;
}
.x-ie8 .wizard-steps .x-tab-top-active .x-frame-mr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-top-mr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-mr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-tc{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-tr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-tl{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-tl{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-tc{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-tr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-bl{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-bc{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-br{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top-active .x-frame-mr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-tl{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-tc{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-tr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-bl{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-bc{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-br{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top .x-frame-mr{
	background-image: none !important;
	background-color: #EAEAEA !important;
}
.x-ie8 .wizard-steps .x-tab-default-top{
	margin-right: 10px !important;
}
