.x-form-user-trigger {
	background-image : url('/resolve/images/user-trigger.gif');
}

.x-form-jump-trigger{
	background-image: url('/resolve/images/jump-trigger.gif');
}

.x-form-field-readOnly{
	background-image: none;
	border: none;
}

.x-form-field.post-message,
.x-form-field.comment-message,
.x-form-field.x-form-text{
	height: 25px;
}
