.manifest-component .x-grid-group-hd .x-grid-group-title {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 17px;
}

.manifest-component .x-grid-group-hd .x-grid-group-title {
  background-image: url(images/grid/group-collapse.png);
}

.manifest-component .x-grid-group-hd-collapsed .x-grid-group-title {
  background-image: url(images/grid/group-expand.png);
}

.manifest-component .grpCheckbox {
  background-image: url(images/form/checkbox.png);
  height: 15px;
  width: 15px;
  line-height: 15px;
  display: inline-block;
  margin: 0 5px 1px 3px;
  vertical-align: middle;
}

.manifest-component .grpCheckbox.checked {
  background-position: 0 -15px;
}
