.btn {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	*padding: 2px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	background-color: $rs-border-color;
	background-repeat: no-repeat;
	border: 1px solid $rs-border-color;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5)
}
.btn {
	background-color: #ddd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#fff),to(#ddd));
	background-image: -moz-linear-gradient(#fff,#ddd);
	background-image: -ms-linear-gradient(#fff,#ddd);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
	background-image: -webkit-linear-gradient(#fff,#ddd);
	background-image: -o-linear-gradient(#fff,#ddd);
	background-image: linear-gradient(#fff,#ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd')
}
.btn:hover {
	text-decoration: none;
	background-color: #d8d8d8;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d8d8d8));
	background-image: -moz-linear-gradient(#f8f8f8,#d8d8d8);
	background-image: -ms-linear-gradient(#f8f8f8,#d8d8d8);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#d8d8d8));
	background-image: -webkit-linear-gradient(#f8f8f8,#d8d8d8);
	background-image: -o-linear-gradient(#f8f8f8,#d8d8d8);
	background-image: linear-gradient(#f8f8f8,#d8d8d8);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-color: #bbb
}
.btn:active {
	border-color: #bbb;
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5)
}
.btn:focus {
	text-decoration: none
}
.primary-btn {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: $base-color;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from($base-color),to($base-color));
	background-image: -moz-linear-gradient($base-color,$base-color);
	background-image: -ms-linear-gradient($base-color,$base-color);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$base-color),color-stop(100%,$base-color));
	background-image: -webkit-linear-gradient($base-color,$base-color);
	background-image: -o-linear-gradient($base-color,$base-color);
	background-image: linear-gradient($base-color,$base-color);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$base-color',endColorstr='$base-color',GradientType=0);
	border-color: #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}
.primary-btn:hover, .primary-btn:focus {
	color: #fff;
	background-color: #518cc9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#518cc9),to(#518cc9));
	background-image: -moz-linear-gradient(#518cc9,#518cc9);
	background-image: -ms-linear-gradient(#518cc9,#518cc9);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#518cc9),color-stop(100%,#518cc9));
	background-image: -webkit-linear-gradient(#518cc9,#518cc9);
	background-image: -o-linear-gradient(#518cc9,#518cc9);
	background-image: linear-gradient(#518cc9,#518cc9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518cc9',endColorstr='#518cc9',GradientType=0);
	border-color: #096eb3
}
.primary-btn:active {
	background-image: none;
	border-color: #096eb3
}
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	background-color: #fff
}
body, label, input, textarea, select, button {
	font-family: "Helvetica Neue", Arial, sans-serif
}
a {
	color: #0084b4;
	text-decoration: none
}
a:focus {
	outline: 0
}
a:hover, a:focus {
	text-decoration: underline
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #333;
	text-rendering: optimizeLegibility
}
h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1
}
h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px
}
h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1
}
h4 {
	font-size: 12px;
	line-height: 18px
}
h5, h6 {
	font-size: 10px
}
p {
	margin: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
small {
	font-size: 12px
}
ul, ol {
	padding: 0;
	margin: 0
}
ul {
	list-style: none
}
ol {
	margin-left: 20px;
	list-style: decimal
}
button {
	margin: 0
}
img {
	border: 0
}
hr {
	height: 0;
	padding: 0;
	margin: 14px 0 0;
	border: 0;
	border-top: 1px solid #eee
}
i {
	display: inline-block;
	vertical-align: text-top;
	background-image: url(../img/twitter_web_sprite_icons.png);
	background-position: 0 0;
	background-repeat: no-repeat
}
body {
	overflow-y: scroll
}
html, body {
	height: 100%
}
s {
	text-decoration: none
}
b {
	font-weight: normal
}
.username {
	font-size: 12px;
	color: $rs-accent-color;
}
.title {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0px 0px 15px;
	color: #444
}
.error{
	height: 50px !important;
}
.flex-table {
	width: 100%;
}
.flex-table-primary, .flex-table-secondary {
	vertical-align: top;
	padding-right: 10px;
}
.flex-table-primary {
	width: 99%;
	padding-right: 5px;
	padding-left: 12px;
}
.flex-table-secondary {
	width: 1%;
	max-width: 1%
}
.flex-table-form {
	float: left;
	width: 100%
}
.flex-table-input {
	display: block;
	width: 100%;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
.flex-table-btn {
	float: right;
	width: auto;
	white-space: nowrap
}
form {
	font-size: 12px;
	margin-bottom: 0
}
legend {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	border-bottom: 1px solid #eee
}
label, input, textarea, select {
	margin: 0;
	font-size: 13px;
	line-height: 20px
}
label {
	display: block;
	margin-bottom: 5px;
	color: #333;
	cursor: pointer
}
button {
	border: 0
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
/*input, textarea, select {
	display: inline-block;
	width: 210px;
	padding: 4px;
	margin: 0;
	outline: 0;
	background-color: #fff;
	border: 1px solid $rs-border-color;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
input[type=checkbox] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	line-height: normal;
	border: 0;
	background-color: transparent;
	cursor: pointer
}*/
select {
	height: 30px;
	line-height: 30px
}
textarea {
	height: auto
}
/*input, textarea {
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.075);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background
}
input:focus, textarea:focus {
	outline: 0;
	color: #333;
	border-color: #56b4ef;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 0 8px rgba(82,168,236,.6)
}
input[type=checkbox]:focus, select:focus {
	outline: 1px dotted #666;
	outline: auto 5px -webkit-focus-ring-color;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}*/
.placeholding-input {
	position: relative;
	overflow: visible
}
.placeholding-input .placeholder {
	position: absolute;
	/*top: 1px;*/
	/*right: 1px;*/
	bottom: 1px;
	/*left: 2px;*/
	z-index: 1;
	height: 20px;
	padding: 4px;
	font-size: 13px;
	line-height: 20px;
	color: $rs-accent-color;;
	white-space: nowrap;
	cursor: text;
	-webkit-transition: opacity .1s, font-size .1s;
	-moz-transition: opacity .1s, font-size .1s;
	-o-transition: opacity .1s, font-size .1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none
}
.placeholding-input input:focus+ .placeholder {
	-moz-opacity: .6;
	opacity: .6;
	-ms-filter: "alpha(opacity=60)";
	filter: alpha(opacity=60)
}
.signin .password, .signin .username {
	/*width: 150px;*/
	font-size: 13px
}
.signin .remember {
	margin-left: 12px;
	text-align: left;
	color: #333;
	line-height: 30px
}
.front-signin {
	width: 300px;
}
.front-signin {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.front-signin {
	background: #ffffff;
	/*background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,#f8f8f8 0,#ddd 100%);
	background: -moz-linear-gradient(top,#f8f8f8 0,#ddd 100%);
	background: -ms-linear-gradient(top,#f8f8f8 0,#ddd 100%);
	background: -o-linear-gradient(top,#f8f8f8 0,#ddd 100%);
	background: linear-gradient(top,#f8f8f8 0,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd',GradientType=0);
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px $rs-border-color;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1)*/
}
.front-signin .placeholding-input {
	height: 30px
}
.front-signin .username .text-input {
	width: 266px;
}
.front-signin .username {
	padding-left: 12px;
	padding-bottom: 5px;
	padding-top: 10px;
	color: #333
}
.front-signin .password {
	width: 100%
}
.front-signin .password-signin {
	padding-left: 12px;
}
.front-signin .submit {
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff
}
.front-signin .remember-forgot {
	padding-left: 12px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.front-signin .remember, .front-signin .forgot {
	display: inline;
	margin: 0;
	font-size: 11px;
	line-height: 13px;
	color: $rs-accent-color;;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.6);
	-moz-text-shadow: 0 1px 0 rgba(255,255,255,.6);
	text-shadow: 0 1px 0 rgba(255,255,255,.6)
}
.front-signin .remember input[type=checkbox] {
	margin: 0;
	height: 13px;
	vertical-align: text-top
}
.front-signin .rememberSeparator {
	margin: 0 1px 0 2px;
	font-weight: bold;
	color: $rs-accent-color;
}
