#msg-div {
    position:absolute;
    right: 10px;
    bottom: 10px;
    width:400px;
    margin-left:-200px;
    z-index:20000;
}
#msg-div .msg {
    background: white;
    border: 2px solid $rs-border-color;
    margin-top: 2px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
}
#msg-div .msg h3.success{
  color: $base-color;
}
#msg-div .msg h3.fail{
  color: #ff0000;
}
#msg-div .msg p {
    margin: 0;
    padding: 15px;
	word-wrap: break-word;
}
#msg-div .msg-header{
  border-bottom: 1px solid $rs-border-color;
  padding: 5px 15px 5px 15px;
  font-size: 17px;
}
#msg-div .msg-footer{
  background-color: #f9f9f9;
  border-top: 1px solid $rs-border-color !important;
}

.message-close{
  cursor: pointer;
  cursor: hand;
  color: #666;
  opacity: 0.5;
}

.message-close:hover{
  opacity: 0.7;
}

.message-box-toolbar-footer{
  background-color: #f9f9f9 !important;
}

div.message-box-toolbar-footer{
  border-top: 1px solid $rs-border-color !important;
}