/* Task style */
.entrySelection{
	border:1px solid #000 !important;
}
.entryHover{
	border:1px solid #000 !important;
}
/*.entryHover .currentEntryAction{
	visibility: visible;
}*/
.action{
	
}
.taskEntry *{
	background-color:rgb(240,240,240)!important;
}
.runbookEntry *{
	background-color:rgb(240,240,240) !important;
}
.ifEntry{
	border:1px solid rgb(230,230,230)!important;
}
.conditionEntry{
	border:1px dashed rgb(230,230,230)!important;
}
.connectionEntry{
	border: 2px solid rgb(230,230,230)!important;
}
.loopEntry{
	border: 1px dotted rgb(230,230,230)!important;
}
.rs-action-button{
	color: #aaa !important;
  	font-size: 19px !important;
  	top: -1px !important;
}

.rs-action-button-over{
	color:#000 !important;
}

/* Rule style*/


.rs-rb-rule {
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
  border-right: 1px solid #eee !important;
}

.rs-rb-section{
	border:2px solid white !important; 
}

.rs-rb-section-collapsed{
	border-bottom:1px solid #ccc !important;
}

.rs-rb-section-hover{
	border:2px solid rgb(223, 240, 248) !important;
}

.rs-rb-rule-result-over{
	cursor:pointer;
	border:1px solid #93CCFF;
}

.rs-rb-rule-selected{
  border: 1px dashed #93CCFF !important;
}

/* XML Parser */

.xpath{
	color:#33CC8F;
	padding-top: 3px;
	cursor: default;
}
.xpath-element{
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
}
.xpath-element:hover{
	background-color:#DEECFF;
}
.xpath-predicate{
	color:#000000;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
}
.xpath-predicate:hover{
	background-color:#DEECFF;
}
.xpath-predicate-text{
	color:#000000;
	padding: 1px;
}
.xpath-predicate-text:hover{
	background-color:#91C0FF;
	border-radius: 5px;
}
.xpath-predicate-attribute{
	color:#CF37ED;
	padding: 1px;
}
.xpath-predicate-attribute:hover{
	background-color:#91C0FF;
	border-radius: 5px;
}
.xpath-selector-attribute{
	color:#CF37ED;
	padding: 1px;
}
.xpath-selector-text{
	color:#000000;
	padding: 1px;
}
