.search-link {
color:#385F95;
text-decoration:none;
}

.render-title {
	color: #0088cc !important;
	font-weight: 700!important;
	font-size: 14px!important;
	cursor: pointer;
}

.render-hover .x-panel-body {
background-color:#dff0f8!important;
}

.render-title-hover {
text-decoration:underline;
}

.render-body {
border-bottom:1px solid #ccc!important;
}

.render-body a {
color:$rs-accent-color!important;
text-decoration:none!important;
}

.render-body a:hover {
text-decoration:underline!important;
}

.render-selected .x-panel-body {
background-color:#bbdff1!important;
}

.rating [class^=icon-] {
	color: #0088cc !important;
}

.render-info .x-form-item-label-left,.render-info .x-form-display-field {
color:$rs-accent-color!important;
}

