/* For the toolbar to notify users */
.social-attention{
	color: #ff9900 !important;
}
/* Streams */
.stream-unselected{
	cursor: pointer;
	cursor: hand;
	padding: 3px 0px 3px 30px !important
}

.stream-selected{
	cursor: pointer;
	cursor: hand;
	padding: 3px 0px 3px 30px !important;
	background-color: rgba($base-color, 0.15) !important
}

.stream-over{
	background-color: rgba($base-color, 0.15) !important;
}

.stream-over span{
	text-decoration: underline !important;
}

// .stream-over .social-follow .x-tool-img{
// 	display:inline !important;
// }

.social-group-follow .x-tool-img{
	display: none;
}

.stream-over .social-group-follow .x-tool-img{
	display:inline !important;
}

.social-follow .x-tool-img{
	display: none;
}

.social-follow.icon-share-alt{
	display:none;
}

.social-main-follow.icon-share-alt{
	display:inline;
	color: $rs-accent-color;
	opacity: 0.7
}

.social-main-follow img{
	display: none
}

.social-main-follow.icon-share-alt:hover{
	opacity: 0.8
}

.stream-over .social-follow.icon-share-alt{
	color: $rs-accent-color;
	display:inline !important;
}

.stream-menu-icon{
	color: $rs-accent-color;
}
/* End Streams */

/* End Profile */

/* Posting Area */

.toLabelOver{
	text-decoration: underline;
	cursor: pointer !important;
	cursor: hand !important;
}

.post-message{
	cursor: pointer;
	cursor: hand;
}

/* End Posting Area */

/* Posts */

.post-menu-icon{
	color: $rs-accent-color;
}

.post-toolbar-footer.x-toolbar-footer{
	background-color: white !important;
	border-top: 0px !important;
}

.post-link:hover{
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.post-star{
	cursor: pointer;
	cursor: hand;
	color: #FFD801 !important;
}

.post-starred{
	color: #FFD801 !important;
}

.post-read{
	cursor: pointer;
	cursor: hand;
	color: $rs-accent-color !important;
}

.post-date{
	color: #a9a9a9 !important;
}

.post-author{
	color: gray !important;
	cursor: pointer;
	cursor: hand;
}
.post-author:hover{
	text-decoration: underline;
}

.x-toolbar-text.post-author-subject,
.x-toolbar-text.post-subject{
	color: $base-color;
	font-weight: bold;
	font-size: 14px;
}
.post-author-subject:hover{
 	text-decoration: underline;
	cursor:pointer;
}

.comment-author{
	color: $base-color !important;
	font-weight: bold !important;
	font-size: 12px !important;
	cursor: pointer;
	cursor: hand;
}
.comment-author:hover{
	text-decoration: underline;
}

.post-arrow{
	color: gray !important;
}

.post-component{
	color: gray !important;
	cursor: pointer;
	cursor: hand;
}

.post-component:hover{
	text-decoration: underline;
}

.x-toolbar-text.post-forum-subject{
	color: #00e;
	font-weight: bold;
	font-size: 14px;
}
.x-toolbar-text.post-forum-subject:hover{
	text-decoration: underline;
	cursor:pointer;
}

.comment-message{
	cursor: pointer;
	cursor: hand;
}

.post-hand{
	cursor: pointer;
	cursor: hand;
}

.post-like-hand{
	color: #53b02c !important;
}

.social-post-toolbar{
	color: #666;
	opacity: 0.5;
	font-size: 17px !important;
}

.x-btn-pressed,
.x-btn-menu-active {
	.social-post-toolbar{
		color: #fff;
		opacity: 1.0;
	}
}

.social-post-toolbar:hover{
	opacity: 0.7;
}

.social-post-toolbar-page{
	color: #666;
	opacity: 0.7;
	font-size: 17px !important;
}

.post-menu{
	cursor: pointer;
	cursor: hand;
}

.post-display-comments{
	padding: 5px 0px 0px 18px;
	font-style:italic;
	cursor: pointer;
	cursor: hand;
}

.post-display-comments-caret{
	padding: 5px 0px 0px 5px;
	cursor: pointer;
	cursor: hand;
}

.post-forum-answered{
	color: #73a550 !important;
	font-weight: bold !important;
	font-size: 13px !important;
}

.post-forum-unanswered{
	color: gray !important; // was #c0462e
	font-weight: bold !important;
	font-size: 13px !important;
}

.post-forum-subject:hover{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.post-forum-answer:hover{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.post-forum-border{
	border-bottom: 1px solid $rs-border-color !important;
}

/* End Posts */

/* Like Dialog */
.like-username{
	font-size: 14px;
	color: $base-color;
	cursor: pointer;
	cursor: hand;
}

.like-following{
	color: $base-color !important;
	padding: 0px 5px 0px 0px;
}
.like-follow{
	color: green !important;
	padding: 0px 5px 0px 0px;
}
.like-follow-text{
	cursor: hand;
	cursor: pointer;
}

/* End Like Dialog */

/* Component Dialog */

.component-toolbar-footer{
	background-color: #f9f9f9 !important;
}

div.component-toolbar-footer{
	border-top: 1px solid $rs-border-color !important;
}

.component-description{
	color: #777 !important;
}

/* End Component Dialog*/

/*Box Select css*/
.x-boxselect.x-form-text {
    height: auto;
	cursor: text;
    padding: 0;
    overflow-y: auto;
}
.x-boxselect ul.x-boxselect-list {
    padding: 1px 3px;
}
ul.x-boxselect-list.x-boxselect-singleselect {
    white-space: nowrap;
    overflow: hidden;
}
.x-boxselect input {
	border: none;
	background: none;
	line-height: 18px;
	height: 20px;
	width: 100%;
}
.x-boxselect-input, .x-boxselect-item {
	display: inline-block;
	position: relative;
	*display:inline; /* IE7 */
	zoom:1; /* IE */
}
.x-boxselect-stacked .x-boxselect-item {
	display: block;
}
.x-boxselect-item {
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; o-border-radius: 6px; khtml-border-radius: 6px; border: 1px solid #08C;
	padding: 0px 1px 0px 5px !important;
	margin: 1px 1px 1px 0;
	background-color: rgba($base-color, 0.3);
	cursor: default;
}
.x-field:not(.x-item-disabled) .x-boxselect-item:hover {
	background: rgba($base-color, 0.8);
	border: 1px solid $base-color;
}
.x-field:not(.x-item-disabled) .x-boxselect-item.selected {
	border: 1px solid $base-color !important;
	background: rgba($base-color, 0.8) !important;
}
.x-boxselect-item-text {
	line-height: 16px;
	padding-right: 20px !important;
}
.x-boxselect-item-close {
	cursor: pointer;
}
.x-boxselect-hideselections .x-boundlist-selected {
    display: none;
}
.x-boxselect-item-close {
	width		: 11px;
	height		: 11px;
	background-image: url(/resolve/js/extjs4/resources/ext-theme-classic/images/tab/tab-default-close.gif) !important;
	filter		: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity		: 0.6;
	top		: 2px;
	right		: 2px;
}
.x-boxselect-list {
	margin:0px;
}

/*End Box Select css*/

/* Social Mini */
.social-mini-post-title{
	font-size: 13px !important;
	font-weight: bold !important;
}

.social-mini-toolbar-footer{
	background-color: #f9f9f9 !important;
}

div.social-mini-toolbar-footer{
	border-top: 1px solid $rs-border-color !important;
}

.social-mini-toolbar-header{
	background-color: #f9f9f9 !important;
}

div.social-mini-toolbar-header{
	border-bottom: 1px solid $rs-border-color !important;
}
/* End Social Mini*/