
.wikiBody{
	padding : 0 10px;
}

.pre-code {
background-color:$rs-border-color;
padding:3px 10px;
}

code {
font-family:'lucida console', monospace;
color:#000;
}

.wiki-external-link {
color:#FFF;
opacity:.5;
}

.wiki-external-link:hover {
opacity:.7;
}

.rating-star {
display:inline-block;
float:left;
cursor:pointer;
color:#f6ab00;
margin:2px 0 0;
padding:2px;
}

.current-star{
	display:inline-block;
	float:left;
	cursor:pointer;
	color:#0088cc;
	margin:2px 0 0;
	padding:2px;
}

.starOnGrid {
display:inline-block;
}

.starHiddenClearMode {
clear:left;
}

.starReset {
display:inline-block;
float:left;
margin:2px 0 0;
padding:2px;
}

.ratingDisplayText {
display:inline-block;
float:left;
margin:2px 2px 0;
padding:0 0 0 2px;
}

.usefulDisplayText {
display:inline-block;
float:left;
}

.usefulNo,.usefulYes {
cursor:pointer;
display:inline-block;
float:left;
}

.usefulNoSelected,.usefulYesSelected {
color:#f6ab00;
cursor:pointer;
display:inline-block;
float:left;
font-weight:700;
}

.wikiError{
	color: red;
}

.sectionPicker-section{
	float: left;
	padding: 8px 17px;
	margin: 5px;
	text-align: center;
	line-height: 14px;
	color: #333;
	height: 130px;
	width: 140px;
	overflow: hidden;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.sectionPicker-section-hover{
	background-color: #eee;
}

.sectionPicker-section-selected{
	background-color: #ddd;
}

.sectionPicker-section img{
	margin-bottom: 1px;
}

.sectionPicker-section strong{
	color: #000;
	display: block;
}

.sectionContainer{
	cursor: hand;
	cursor: pointer;
}

.rs-wiki-link{
  color: $base-color;
  text-decoration: none;
}
.rs-wiki-link:hover{
  text-decoration: underline;
  cursor: pointer;
}
.rs-wiki-link:visited{
  color: $base-color;
  text-decoration: none;
}

.x-import-worddoc {background: url(images/tools/fa-upload.png) 0 0 no-repeat !important;}
.x-edit-wordpaste {background: url(images/tools/edit-word-text.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(images/tools/edit-table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(images/tools/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(images/tools/edit-indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(images/tools/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(images/tools/edit-outdent.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(images/tools/edit-subscript.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(images/tools/edit-superscript.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(images/tools/edit-removeFormat.png) 0 0 no-repeat !important;}
.x-edit-image {background: url(images/tools/edit-image.png) 0 0 no-repeat !important;}
.x-edit-findandreplace {background: url(images/tools/edit-findandreplace.png) 0 0 no-repeat !important;}
.x-edit-undo {background: url(images/tools/edit-undo.png) 0 0 no-repeat !important;}
.x-edit-redo {background: url(images/tools/edit-redo.png) 0 0 no-repeat !important;}
.x-edit-formatblock-h1 {background: url(images/tools/edit-heading-h1.png) 0 0 no-repeat !important;}
.x-edit-formatblock-h2 {background: url(images/tools/edit-heading-h2.png) 0 0 no-repeat !important;}

.word-styling h1{
	font-size:19px;
	color:#2E74B5;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling h2{
	font-size:18px;
	color:#5B9BD5;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling h3{
	font-size:15px;
	color:#5B9BD5;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling h4{
	font-style:italic;
	font-size:15px;
	color:#5B9BD5;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling h5{
	font-size:15px;
	color:#1F4D78;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling h6{
	font-style:italic;
	font-size:15px;
	color:#1F4D78;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling p.MsoHeading7{
	font-style:italic;
	font-size:15px;
	color:#404040;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling p.MsoHeading8{
	font-style:normal;
	font-size:14px;
	color:#5B9BD5;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling p.MsoHeading9{
	font-style:italic;
	font-size:14px;	
	color:#404040;
	margin-top: 1em;
	margin-bottom: 0.67em;	
}

.word-styling .MsoTitle{
	font-size:35px;
	color:#323E4F;
	margin-bottom: 0;
}

.word-styling .Name{
	font-size: 32px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.word-styling .MsoSubtitle{
	font-style:italic;
	font-size:16px;
	color:#4F81BD;
}

.word-styling .MsoSubtleEmphasis{
	font-style:italic;
	color:#808080;
}

.word-styling .MsoEmphasis{
	font-style:italic;
	font-size:15px;
}

.word-styling .MsoIntenseEmphasis{
	font-style:italic;
	color:#4F81BD;
	font-weight:bold;
}

.word-styling .MsoStrong{
	font-style:italic;
	font-size:15px;
	font-weight:bold;
}

.word-styling .MsoQuote{
	font-style:italic;
}

.word-styling .MsoIntenseQuote{
	font-style:italic;
	color:#4F81BD;
}

.word-styling .MsoSubtleReference{
	font-variant:small-caps;	
	color:#C0504D;
	text-decoration:underline;
}

.word-styling .MsoIntenseReference{
	font-variant:small-caps;	
	color:#C0504D;
	text-decoration:underline;
	font-weight:bold;
}

.word-styling .MsoBookTitle{
	font-variant:small-caps;
	font-weight:bold;
}

.word-styling .MsoListParagraph{
	margin-left:30px;
}

.word-styling .MsoNoSpacing{
  margin: 0.5em 0;
}

.word-styling .MsoNormal{
  margin: 1em 0;
}

.word-styling ul, .word-styling ol{
	margin-top: 1em;
	margin-bottom: 1em;
}

.word-styling ul ul, .word-styling ol ol, .word-styling ul ol, .word-styling ol ul{
	margin-top: 0;
	margin-bottom: 0;
}
.rs-component-picker-plus {
  background: url(images/tools/fa-plus.png) 0 0 no-repeat !important;
  height: 26px !important; 
  width: 26px !important;
}

a.rs-component-picker-plus {
  padding: 0px 0px 0px 0px !important;
  border-style: none !important;
}

