.rs-worksheet-status-good{
	background-color: $rs-good-color !important;
	border-right: 1px solid #ededed !important;
}

.rs-worksheet-status-bad{
	background-color: $rs-error-color !important;
	border-right: 1px solid #ededed !important;
}

.rs-worksheet-status-critical{
	background-color: $rs-error-color !important;	
	border-right: 1px solid #ededed !important;
}

.rs-worksheet-status-severe{
	background-color: $rs-severe-color !important;	
	border-right: 1px solid #ededed !important;
}

.rs-worksheet-status-warning{
	background-color: $rs-warning-color !important;	
	border-right: 1px solid #ededed !important;
}

.rs-worksheek-status-unknown{
	background-color: $rs-unknown-color !important;	
	border-right: 1px solid #ededed !important;
}



.rs-results-status-good{
	color: $rs-good-color !important;
}

.rs-results-status-bad{
	color: $rs-error-color !important;
}

.rs-results-status-critical{
	color: $rs-error-color !important;	
}

.rs-results-status-severe{
	color: $rs-severe-color !important;	
}

.rs-results-status-warning{
	color: $rs-warning-color !important;	
}

.rs-results-status-empty{
	color: $rs-empty-color !important;	
}

.no-icon{
	display: none;
}
