.x-resizable-handle {
	position: absolute;
	z-index: 100;
	font-size: 1px;
	line-height: 4px;
	overflow: hidden;
	zoom: 1;
	background-color: #ddd;
	background-repeat: no-repeat;
	border: 1px solid #bbb;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;	
}

.x-resizable-handle-south {
	width: 10%;
	height: 6px;
	left: 45%;
	bottom: 0;
	border-bottom: none;
}

.reverse-handle-borders .x-resizable-handle-south {
	border-bottom: 1px solid #bbb;
}