.rs-body .rs-modal-popup.x-window-default{
  border-radius: 0px;
  border: 1px solid gray;
}
.rs-body .rs-modal-popup .x-window-header-default {
  border-width: 1px !important;
  border-radius: 0;
  padding : 8px 15px;
}
.rs-body .rs-modal-popup.x-window-default .x-header-text{ 
  font-size: 15px;
}
.rs-body .rs-modal-popup .x-toolbar-footer{
  padding : 10px 0 0 0;
  background: none;
}

.rs-body .x-message-box {
  border-radius: 0px;
  border: 1px solid gray;
}
.rs-body x-message-box  .x-window-header-default {
  border-width: 1px !important;
  border-radius: 0;
  padding : 8px 15px;
}
.rs-body .x-message-box .x-header-text-container{
	text-align : center;
}
.rs-body .x-message-box .x-header-text{ 
  font-size: 15px; 
}
.rs-body .x-message-box .x-toolbar-footer{ 
  background: none;
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn{ 
  	min-width: 110px;   
    padding : 5px 10px;
    border: 1px solid gray; 
    border-radius: 0px;    
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn:first-child,
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(2){
	background: gray;
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn:first-child:hover,
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(2):hover{ 
  	background: #949494;
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn:first-child  span.x-btn-inner,
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(2) span.x-btn-inner{  
    color: white;
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(3),
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(4){
	background: none;
}
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(3):hover,
.rs-body .x-message-box .x-toolbar-footer a.x-btn:nth-child(4):hover{
	background: #efefef;
}
.rs-body .x-message-box .x-window-body {
 padding : 30px;
}
.rs-body .x-message-box .x-form-display-field{
	text-align : center;
}
