$panel-header-background-color: white !default;
$panel-header-border-color: $rs-border-color !default;
$panel-header-font-size: 16px !default;
$panel-header-font-family: $font-family;
$panel-header-color: #000;
$panel-header-padding: 5px 10px !default;
$panel-header-color: $rs-text-color !default;
$panel-header-font-weight: normal !default;
$panel-header-line-height: 20px;

$rs-menu-title-color: white;
$rs-menu-group-text-color: white;
$rs-menu-text-color: white;
$rs-menu-title-color-hover: lighten($base-color, 5%);
$rs-menu-background-color: $base-color;
$rs-menu-background-color-over: #f8f8f8;
$rs-menu-background-color-hover: #f8f8f8;
$rs-menu-border-color: #aaa;
$rs-menu-section-text-over: $rs-accent-color;
$rs-menu-section-group-text-over: $rs-accent-color;
$rs-menu-section-text-over-hover: $rs-brand-color-primary;
$rs-menu-section-bullet-over-hover: black;

$panel-tool-background-image: 'tools/tool-sprites-dark' !default;