$grid-row-cell-font-size: 12px !default;
$grid-row-cell-font-weight: normal !default;
$grid-row-cell-line-height: 15px !default;
$grid-row-cell-font-family: $font-family;
$grid-row-cell-font: $grid-row-cell-font-weight #{$grid-row-cell-font-size}/#{$grid-row-cell-line-height} $grid-row-cell-font-family !default;
$grid-row-cell-selected-background-color: #bbdff1;
$grid-row-cell-over-background-color: #dff0f8;