@font-face {
  font-family: 'Lato';
  src: url('/resolve/font/Lato-Regular.eot');
  src: url('/resolve/font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  		url('/resolve/font/Lato-Regular.woff') format('woff'),
		url('/resolve/font/Lato-Regular.woff2') format('woff2'),
  		url('/resolve/font/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/resolve/font/Lato-Bold.eot');
  src: url('/resolve/font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  		url('/resolve/font/Lato-Bold.woff') format('woff'),
		url('/resolve/font/Lato-Bold.woff2') format('woff2'),
  		url('/resolve/font/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.iframe-container {
	border: none;
	width: 100%;
	height: 100%;
}
#wiki_frame {
	border: none;
	width: 100%;
	height: 100%;
}
.wikiBody .encodedHtml {
	display: none;
}
.wikiBody .decodedHtml {
	display: block;
}

.wikiBody .texteditor .icon-file-text-alt,
.wikiBody .texteditor .icon-file-text {
	float: right;
	margin: 5px 10px 0 5px;
}
.wikiBody .texteditor .icon-file-text-alt:hover,
.wikiBody .texteditor .icon-file-text:hover {
	cursor: pointer;
}
.wikiBody .texteditor .rs-display-name {
	font-size: 14px;
}
.wikiBody .texteditor .notes.icon-remove-sign,
.wikiBody .texteditor .notes.icon-pencil {
	position: relative;
	top: -2px;
}

.x-btn-icon-el.rs-social-button.icon-copy {
	font-size: 16px !important;
}

/*new menu css classes*/
.rs-client-menucontainer > span {
	height: inherit!important;
}

.rs-client-menucontainer > span > div {
	padding: 0 15px 15px 0px;
	height: inherit!important;
	display: flex !important;
	flex-flow: column wrap;
	align-content: flex-start;
	justify-content: flex-start;
}

.rs-client-menublock .x-toolbar {
	padding-left: 0px!important;
	padding-bottom: 2px;
	border-bottom: 1px black solid!important;
}

.rs-client-historybutton .x-btn-glyph{
	opacity: 1;
}

.rs-client-displayname {
	font-size: 16px;
	font-weight: bold;
}

.rs-client-menublocktitle {
	font-size: 18px;
	font-weight: bold;
	color: #66cc33;
}

.rs-client-menuglyph {
	pointer-events: none;
}

.rs-client-menuglyph .x-btn-glyph {
	opacity: 1;
}

.rs-client-iconmedium {
	color: black;
}

.rs-client-menugroup {
	font-size: 13px;
	margin-top: 6px;
	letter-spacing: 0.4px;
	font-weight: bold;
}

.rs-client-menulink {
	position: relative;
	margin: 6px 0 0 0;
	left: 0px;
	font-size: 13px;
	letter-spacing: 0.4px;
	cursor: pointer;
	color: #1d1d1d;
}

.rs-client-menulink:hover {
	font-weight:bold;
	color: black;
	letter-spacing: 0px;
}

.licenseMsg .licenseMsgText {
	font-weight: bold;
	font-size: 18px;
	padding: 0 5px;
}

.licenseMsg .rs-small-btn .x-btn-button {
	top: 7px;
}

.licenseMsg .rs-small-btn .x-btn-button > .x-btn-inner {
	color: #FFF;
}

.licenseMsg .rs-small-btn.rs-btn-light.rs-btn-license {
	border: 2px solid #fff;
	border-radius: 4px;
	height: 40px;
	font-weight: bold;
	background-color: transparent;
}

.licenseMsg .rs-small-btn.rs-btn-light.rs-btn-license:hover {
	background-color: transparent;
}

.licenseMsg.license-warning,
.licenseMsg.license-critical {
    color: #FFF;
    background-color: #cb902d;
	padding: 5px 0;
}

.licenseMsg.license-critical {
	background-color: #e2181c;
}

.x-btn-client-toolbar-button-small .x-btn-button > .x-btn-inner {
	opacity: .75;
	color: #fff;
}

.x-btn-client-toolbar-button-small.x-btn-over .x-btn-button > .x-btn-inner {
	opacity: 1;
}

.x-toolbar-client-toolbar .rs-header-toolbar .right-toolbar-item {
	padding-right: 15px !important;
}

.x-toolbar-client-toolbar .rs-header-toolbar .right-toolbar-item .x-form-trigger-wrap {
	border: none;
	border-radius: 4px;
}

.x-toolbar-client-toolbar .rs-header-toolbar .right-toolbar-item .x-form-trigger-wrap .x-form-text {
	height: 35px;
	color: #fff;
	padding-left: 38px;
	background: url(/resolve/images/client/search.png) no-repeat #191e31 10px;
}

.x-toolbar-client-toolbar .rs-header-toolbar,
.x-toolbar-client-toolbar {
	background-color: #3b3e51;
}

.x-toolbar-client-toolbar .rs-client-button.icon-larger {
	font-size: 22px;
	width: 24px;
	height: 22px;
	top: -2px;
	opacity: .75;
}

.x-toolbar-client-toolbar .rs-client-button.icon-larger:hover {
	opacity: 1;
}

.rs-modal-popup.x-window-default.contact-us .x-panel-body-default,
.rs-modal-popup.x-window-default.user-info .userInfo-name,
.rs-modal-popup.x-window-default.user-info .userInfo-title,
.rs-modal-popup.x-window-default.user-info .x-btn-inner,
.x-toolbar.x-box-item.x-toolbar-client-toolbar,
.x-toolbar.x-box-item.x-toolbar-default.licenseMsg,

.toolbar-nav-menu .x-menu-item-text {
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.x-btn-client-toolbar-button-small .x-btn-arrow {
    background-image: url(/resolve/images/client/arrow-down.png);
	opacity: .75;
}

.x-btn-client-toolbar-button-small.x-btn-over .x-tool-search,
.x-btn-client-toolbar-button-small.x-btn-over .x-btn-arrow {
	opacity: 1;
}

.top-nav-menu {
    max-height: 80%;
}

.toolbar-nav-menu .x-panel-body,
.toolbar-nav-menu .x-panel-body > .x-box-inner.x-vertical-box-overflow-body {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.toolbar-nav-menu .x-vertical-box-overflow-body::-webkit-scrollbar {
    width: 1.1em;
}

.toolbar-nav-menu .x-box-scroller {
	background-color: #A9A9A9;
	display: none;
}

.toolbar-nav-menu.x-menu {
	box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
	border-radius: 2px;
	border: none;
}

.toolbar-nav-menu .toolbar-nav-menu-item > .x-menu-item-link {
	background-color: #292c3f;
	min-width: 300px;
}

.toolbar-nav-menu .toolbar-nav-menu-item > .x-menu-item-link > .x-menu-item-text {
	margin: 0 16px;
	line-height: 40px;
	color: #b2b5c3;
}

.toolbar-nav-menu .toolbar-nav-menu-item.x-menu-item-active > .x-menu-item-link > .x-menu-item-text {
	color: #fff;
}

.toolbar-nav-menu .x-menu-item-arrow {
    background-image: url(/resolve/images/client/arrow-right.png);
	width: 16px;
	height: 16px;
	right: 18px;
	top: 12px;
	opacity: .75;
}

.toolbar-nav-menu .toolbar-nav-menu-item.x-menu-item-active > .x-menu-item-link {
	box-shadow: inset 4px 0px #18b7a3;
	background-color: #3b3e51;
}

/* Organization dropdown behavior different from menu dropdown */
.orgSelection.toolbar-nav-menu .toolbar-nav-menu-item > .x-menu-item-link {
	line-height: 40px;
}

.orgSelection.toolbar-nav-menu .toolbar-nav-menu-item.x-menu-item-active > .x-menu-item-link {
	box-shadow: none;
	background-color: #18b7a3;
}

.org-wrapper-bracket {
	color: #fff;
	font-size: 14px;
	opacity: .75;
}

.org-display-name .x-btn-button > .x-btn-inner{
	color : #18b7a3;
	opacity: 1;
}
.org-display-name.x-btn-over .x-btn-inner{
	color : #18b7a3;
}

.rs-modal-popup.x-window-default.user-info {
	border: none;
	border-radius: 4px;
	min-height: 160px;
}

.rs-modal-popup.x-window-default.user-info .x-box-inner,
.rs-modal-popup.x-window-default.user-info {
	background-color: #292c3f;
}

.rs-modal-popup.user-info .x-box-inner .userInfo-name,
.rs-modal-popup.user-info .x-box-inner .userInfo-title {
	color: #b2b5c3;
}

.rs-modal-popup.x-window-default.user-info > .x-toolbar-footer {
	border: none !important;
}

.rs-modal-popup.x-window-default.user-info > .x-toolbar-footer .rs-small-btn {
	background-color: #3b3e51;
	border-radius: 4px;
	padding: 10px;
	opacity: .75;
	border: none;
}

.rs-modal-popup.user-info > .x-toolbar-footer .rs-small-btn.x-btn-over {
	opacity: 1;
}

.rs-modal-popup.user-info > .x-toolbar-footer .rs-small-btn.x-btn-disabled {
    opacity: .5;
    cursor: default;
}

