::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(96,96,96,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.iframe-container {
	-webkit-overflow-scrolling:touch !important;
	overflow: auto;
}
#wiki_frame {
	height: 99%;
	overflow: scroll;
}

