#catalogviewer .menupanel_img,
#catalogviewer .menupanel_noimg {
	overflow: hidden;
}
#catalogviewer .menupanel_noimg > div {
	width: 290px;
}
#catalogviewer .menupanel_img > div {
	width: 155px;
}
#catalogviewer .menupanel_img:hover > img {
	z-index: 2;
	position: relative;
}
#catalogviewer .menupanel_img:hover,
#catalogviewer .menupanel_noimg:hover {
	overflow: visible;
	height: 100%;
	min-height: 100px;
}
#catalogviewer .menupanel_img > div > p,
#catalogviewer .menupanel_noimg > div > p {
	line-height: 15px;
}

#catalogviewer .menupanel_img:hover > div,
#catalogviewer .menupanel_noimg:hover > div {
	position: absolute;
	width: 300px;
	background:#e4ecf2;
	z-index: 1;
	padding: 10px;
	margin-left: 0;
	border-radius:5px 5px 5px 5px;
}

#catalogviewer .menupanel_img:hover > div {
	padding-left: 135px;
}
