/*follow user and follow component hover popup*/
.popupName {
	color: #6F6F6F;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

.popupName:hover {
	cursor: hand;
	cursor: pointer;
	text-decoration: underline;
}

.popupTitle {
	font-size: 0.9em;
	font-style: italic;
	color: #7D7D84;
}

.popupData {
	font-size: 0.8em;
	color: #4D4D44;
}

/*post star*/
.starOn {
	background-image: url(../images/social/starOn.png);
	background-repeat: no-repeat;
	margin: 2px;
	height: 20px;
	width: 20px;
}

.starOff {
	background-image: url(../images/social/starOff.png);
	background-repeat: no-repeat;
	margin: 2px;
	height: auto;
	width: auto;
}

/*Feed styles*/
.feeditemtext {
	clear: both;
}

.feeditemtext pre, .feedcommenttext pre {
	font-family: 'Droid Sans Mono', sans-serif;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.feeditemtext ul li {
	list-style: disc inside none;
}

.feeditemtext ol li {
	list-style: decimal inside none;
}

.actionsOnHoverEnabled .feeditembody {
	padding-right: 15px;
}

.feedcontainer {
	font-size: 0.92em;
	padding-bottom: 5px;
	line-height: 15px;
	overflow: visible;
}

.feedcontainer .feeditemcomment, .feedcontainer .feeditemlike {
	background: #FAFAFA;
	border-bottom: 1px solid #DEE5EA;
	border-top: 1px solid white;
}

.feeditemfooter {
	display: block;
}

.feedcontainer .feeditem .feedcommentuser a {
	font-weight: bold;
}

.feedcontainer a {
	color: #015ba7;
	font-weight: normal;
	text-decoration: none;
}

.feedcontainer a:hover {
	text-decoration: underline;
}

.feeditemauthorentity a {
	font-weight: bold !important;
}

.feeditemtargetentity a {
	font-weight: bold;
}

.feedcontainer h3 {
	color: #666666;
	display: block;
	margin: 0 0 8px 0;
	font-size: 1.1em;
}

.feedcontainer .feeditem {
	min-height: 47px;
	white-space: normal;
	word-wrap: break-word;
	margin: 0 10px 0 0;
	padding: 8px 4px 8px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e6e6e6;
}

.feedcontainer .feeditemseparatingdot {
	margin: 0 3px;
}

.feedcontainer .feeditemcontent {
	display: block;
	margin-left: 10px;
	border-bottom: none;
	margin-right: 10px;
}

.feedcontainer .feeditemextras {
	margin: 3px 0 0 0;
}

.feedcontainer .feeditemcomments {
	background: none;
	padding: 0;
	margin: 0;
}

.feedcontainer .feeditemcomment, .feedcontainer .feeditemlike {
	padding: 4px 6px;
}

.feedcontainer .feeditemcomment {
	min-height: 34px;
	padding-right: 15px;
}

.feedcontainer .feeditemcommentbody {
	display: block;
	margin-left: 42px;
}

.feedcontainer .feeditemcommentnew {
	padding-right: 15px;
	margin-left: 42px;
}

.feedcontainer div.feeditemcommentnew .rspost {
	margin-bottom: 5px;
}

.feedcontainer .feeditemcommenttext textarea.rspost {
	background: #fff url('/resolve/js/extjs4/resources/themes/images/default/tree/s.gif') repeat-x scroll center top;
}

.feedclearfloat {
	clear: both;
	height: 0;
	font-size: .01em;
	line-height: 0px;
}

.feedcontainer .feeditemcommentnew .rspost {
	resize: none;
	margin: 0;
	overflow: auto; /*hidden*/
	width: 100%;
	background-color: #fff;
	border: 1px solid #c7ccce;
	padding: 4px;
	line-height: 16px;
	-webkit-line-break: after-white-space;
	/* Specifies line-breaking rules for Chinese, Japanese, and Korean text */
	word-wrap: break-word;
	/*allows long words to be able to be broken and wrap onto the next line */
	outline-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.feedcontainer .feeditemcommentnew .rspost {
	color: #222;
	background-color: #fff;
}

.feeditemextras .cxfeedcomment {
	padding-right: 15px;
}

.feeditemextras {
	padding-right: 10px;
}

.usefullinks {
	text-decoration: none;
	color: #606060;
}

.usefullinks:hover {
	cursor: hand;
	cursor: pointer;
	color: #000000;
}

.show-htmleditor-font select {
	visibility: visible !important;
}

/*Stream grouping styles*/
.rs-stream-group-title {
	color: #3764A0;
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.rs-stream-group-node {
	background: white;
	border-width: 0 0 2px 0 !important;
	border-style: solid !important;
	border-color: #99BBE8 !important;
}

/*Tab styling*/

.rs-tab .x-tab-bar-body {
	background: url(/resolve/js/extjs4/resources/themes/images/default/tree/s.gif) center left repeat-x;
	border-color: white;
	background-color: white;
}

.rs-tab .x-tab {
	background: url(/resolve/js/extjs4/resources/themes/images/default/tree/s.gif) center left repeat-x !important;
	border-color: white;
	background-color: white !important;
}

.rs-tab .x-tab-active button {
	color: red;
}

/*Toolbar styling*/
.rs-toolbar {
	background: url(/resolve/js/extjs4/resources/themes/images/default/tree/s.gif) center left repeat-x !important;
	border-color: white !important;
	background-color: white !important;
}

.x-nlg .x-toolbar-default {
	background-image: url('/resolve/js/extjs4/resources/themes/images/default/tree/s.gif') !important;
	background-repeat: repeat-x
}

/*Panel styling*/
.rs-panel .x-panel-body {
	border-color: white;
	background-color: white;
}

.rs-panel .x-panel-header {
	background: url(/resolve/js/extjs4/resources/themes/images/default/tree/s.gif) center left repeat-x;
	border-color: white;
	background-color: white;
}

/*User Image styling*/
.thumb  img {
	height: 100px;
	width: 100px;
}

.thumb {
	padding: 5px;
	padding-bottom: 0;
}

.x-grid-row-over .stream-menu{
	margin-right: 5px;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	background: url(/resolve/js/extjs4/resources/themes/images/gray/boundlist/trigger-arrow.png) no-repeat;
	background-position: center;
	background-color: white;
}
.stream-menu-expanded{
	margin-right: 5px;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	background: url(/resolve/js/extjs4/resources/themes/images/gray/boundlist/trigger-arrow.png) no-repeat;
	background-position: center;
	background-color: white;
}

.stream-tree .x-grid-row-selected .x-grid-cell-treecolumn{
	background-color: #FAFAFA !important;
}

.showHideComments{
	padding-left: 15px;
	color: #909090 !important;
}

.x-ie9m .x-panel-header-vertical .x-panel-header-text-container {
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1), progid:DXImageTransform.Microsoft.Chroma(color='#ffffff'); }