@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: url('/resolve/images/font/DroidSansMono.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('/resolve/images/font/DroidSansMono.eot') format('embedded-opentype'), url('/resolve/images/font/DroidSansMono.woff') format('woff');
}