@include extjs-button-ui(
    $ui: 'client-toolbar-button-small',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $padding: 6px 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-disabled: transparent,

    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,

    $color: white,
    $color-over: $button-default-color-over,
    $color-focus: $button-default-color-focus,
    $color-pressed: $button-default-color-pressed,
    $color-disabled: $button-default-color-disabled,

    $font-size: 14px,
    $font-size-over: 14px,
    $font-size-focus: 14px,
    $font-size-pressed: 14px,
    $font-size-disabled: 14px,

    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

.x-btn-client-toolbar-button-small-noicon .x-btn-button{
	height:17px;
}

.x-btn-client-toolbar-button-small .x-btn-inner {
    opacity: 0.9;
}
.x-btn-client-toolbar-button-small-over .x-btn-inner, .x-btn-menu-active .x-btn-inner {
  opacity: 1;
}
/*.x-btn-arrow {
  background-image: url('/resolve/images/client/arrow-white.gif');
}
.x-btn-over .x-btn-arrow, .x-btn-menu-active .x-btn-arrow {
  background-image: url('/resolve/images/client/arrow-yellow.gif');
}*/
.x-btn-display-toolbar-button-small .x-btn-arrow {
  background-image: url(images/button/default-toolbar-small-arrow.png) !important;
}

@include extjs-button-ui(
    $ui: 'display-toolbar-button-small',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: #e4e4e4, /*$rs-border-color,*/
    $border-color-focus: #e4e4e4,
    $border-color-pressed: #aaa, /*$rs-border-color,*/
    $border-color-disabled: transparent,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: white,
    $background-color-over: #e4e4e4,
    $background-color-focus: #eee,
    $background-color-pressed: #eee,
    $background-color-disabled: transparent,

    $background-gradient: transparent,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: transparent,
    $background-gradient-pressed: transparent,
    $background-gradient-disabled: transparent,

    $color: black,
    $color-over: black,
    $color-focus: black,
    $color-pressed: $base-color,

    $font-size: 14px,
    $font-size-over: 14px,
    $font-size-focus: 14px,
    $font-size-pressed: 14px,
    $font-size-disabled: 14px,

    $font-weight: bold,
    $font-weight-over: bold,
    $font-weight-focus: bold,
    $font-weight-pressed: bold,
    $font-weight-disabled: bold,

    $font-family: $font-family,
    $font-family-over: $font-family,
    $font-family-focus: $font-family,
    $font-family-pressed: $font-family,
    $font-family-disabled: $font-family,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'social-mini-toolbar-button-small',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-disabled: transparent,

    $background-gradient: none,
    $background-gradient-over: none,
    $background-gradient-focus: none,
    $background-gradient-pressed: none,
    $background-gradient-disabled: none,

    $color: black,
    $color-over: black,
    $color-focus: black,
    $color-pressed: $base-color,

    $font-size: 14px,
    $font-size-over: 14px,
    $font-size-focus: 14px,
    $font-size-pressed: 14px,
    $font-size-disabled: 14px,

    $font-weight: bold,
    $font-weight-over: bold,
    $font-weight-focus: bold,
    $font-weight-pressed: bold,
    $font-weight-disabled: bold,

    $font-family: Arial,
    $font-family-over: Arial,
    $font-family-focus: Arial,
    $font-family-pressed: Arial,
    $font-family-disabled: Arial,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'message-box-toolbar-button-small',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-disabled: transparent,

    $background-gradient: none,
    $background-gradient-over: none,
    $background-gradient-focus: none,
    $background-gradient-pressed: none,
    $background-gradient-disabled: none,

    $color: black,
    $color-over: black,
    $color-focus: black,
    $color-pressed: $base-color,

    $font-size: 12px,
    $font-size-over: 12px,
    $font-size-focus: 12px,
    $font-size-pressed: 12px,
    $font-size-disabled: 12px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'system-info-button-small-toolbar',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: $button-toolbar-border-color-over,
    $border-color-focus: $button-toolbar-border-color-focus,
    $border-color-pressed: $button-toolbar-border-color-pressed,
    $border-color-disabled: $button-toolbar-border-color-disabled,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: $button-toolbar-background-color-over,
    $background-color-focus: $button-toolbar-background-color-focus,
    $background-color-pressed: $button-toolbar-background-color-pressed,
    $background-color-disabled: $button-toolbar-background-color-disabled,

    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,

    $color: $button-toolbar-color,
    $color-over: $button-toolbar-color-over,
    $color-focus: $button-toolbar-color-focus,
    $color-pressed: $button-toolbar-color-pressed,
    $color-disabled: $button-toolbar-color-disabled,

    $font-size: 18px,
    $font-size-over: 18px,
    $font-size-focus: 18px,
    $font-size-pressed: 18px,
    $font-size-disabled: 18px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'clear-button-small-toolbar',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: $button-toolbar-border-color-over,
    $border-color-focus: $button-toolbar-border-color-focus,
    $border-color-pressed: $button-toolbar-border-color-pressed,
    $border-color-disabled: $button-toolbar-border-color-disabled,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: $button-toolbar-background-color-over,
    $background-color-focus: $button-toolbar-background-color-focus,
    $background-color-pressed: $button-toolbar-background-color-pressed,
    $background-color-disabled: $button-toolbar-background-color-disabled,

    $background-gradient: transparent,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: transparent,
    $background-gradient-pressed: transparent,
    $background-gradient-disabled: transparent,

    $color: $rs-accent-color,
    $color-over: $button-toolbar-color-over,
    $color-focus: $button-toolbar-color-focus,
    $color-pressed: $button-toolbar-color-pressed,
    $color-disabled: $button-toolbar-color-disabled,

    $font-size: 18px,
    $font-size-over: 18px,
    $font-size-focus: 18px,
    $font-size-pressed: 18px,
    $font-size-disabled: 18px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'form-builder-button-small-toolbar',

    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,

    $border-color: transparent,
    $border-color-over: $button-toolbar-border-color-over,
    $border-color-focus: $button-toolbar-border-color-focus,
    $border-color-pressed: $button-toolbar-border-color-pressed,
    $border-color-disabled: $button-toolbar-border-color-disabled,

    $padding: 3px,
    $text-padding: 0px 5px,

    $background-color: transparent,
    $background-color-over: $button-toolbar-background-color-over,
    $background-color-focus: $button-toolbar-background-color-focus,
    $background-color-pressed: $button-toolbar-background-color-pressed,
    $background-color-disabled: $button-toolbar-background-color-disabled,

    $background-gradient: transparent,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: transparent,
    $background-gradient-pressed: transparent,
    $background-gradient-disabled: transparent,

    $color: $button-toolbar-color,
    $color-over: $button-toolbar-color-over,
    $color-focus: $button-toolbar-color-focus,
    $color-pressed: $button-toolbar-color-pressed,
    $color-disabled: $button-toolbar-color-disabled,

    $font-size: 13px,
    $font-size-over: 13px,
    $font-size-focus: 13px,
    $font-size-pressed: 13px,
    $font-size-disabled: 13px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

.x-btn-client-toolbar-button-small-icon .x-btn-wrap .x-btn-button {
  overflow: visible !important;
}

.x-btn-default-toolbar-small-icon .x-btn-inner {
  width: 17px;
  padding: 0;
}

.x-btn-default-toolbar-small-icon .x-btn-icon-el {
  width: 17px;
  height: 16px;
}

.x-btn-social-mini-toolbar-button-small-icon .x-btn-icon-el{
    width: 17px;
    height: 16px;
}

.x-btn-social-mini-toolbar-button-small-icon .x-btn-inner {
  width: 17px;
  padding: 0;
}

.x-btn-system-info-button-small-toolbar-icon .x-btn-icon-el{
    width: 18px;
    height: 16px;
}

.x-btn-system-info-button-small-toolbar-icon .x-btn-inner {
  width: 18px;
  padding: 0;
}

.x-btn-clear-button-small-toolbar-icon .x-btn-icon-el{
    width: 18px;
    height: 16px;
}

.x-btn-clear-button-small-toolbar-icon .x-btn-inner {
  width: 18px;
  padding: 0;
}

.rs-btn-attach:before {
  font-family: FontAwesome;
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
  color: white;
  content: "\f0c6";
}

.rs-btn-edit {
  background-image: url(/resolve/images/common/detail.png);
  background-position: 0 !important;
  height: 16px;
  width: 16px;
  margin-top: 5px;
  cursor: pointer;
  cursor: hand;
}

.rs-icon{
    color: $rs-accent-color !important;
}

.rs-no-background {
    background: none !important;
}

.rs-icon-button {
    color: $rs-accent-color;
    font-size: 16px !important;   
}

.x-btn-pressed {
	.rs-icon-button {
		color: #aaa;
	}
}
.rs-social-button {
    color: $rs-accent-color;
    font-size: 17px !important;   
}
.x-btn-icon-el.rs-block-button {
    color: $rs-accent-color;
    font-size: 17px;
    top: -1px;
}

.rs-block-button.with-gap {
    margin-right: 10px;
}

.rs-fa-plus-square {
    background: url(images/add.png) 0 0 no-repeat;
    height: 21px;
    width: 28px;  
}

.rs-fa-plus-square-disabled {
    background: url(images/add_disabled.png) 0 0 no-repeat;
    height: 21px;
    width: 28px;
}

.rs-fa-minus-square {
    background: url(images/remove.png) 0 0 no-repeat;
    height: 15px;
    width: 28px;
}

.rs-ad-image-button {
  color: $rs-accent-color; 
  font-size: 17px !important;
  background-color: inherit;
  border: none;
}

.rs-ad-image-button.x-btn-default-small-over {
  border-color: #e4e4e4;
  background-image: none;
  background-color: #e4e4e4;
}

.x-menu-item-header.x-menu-item-indent {
    left: 26px !important;
    font-weight: bold;
}

.rs-block-button-pressed {
    color: #aaa;
}

.rs-social-menu-button{
    color: $rs-accent-color !important;
    font-size: 17px !important;
}

.x-btn-pressed {
	.rs-social-button {
		color: #aaa;
	}
}

.rs-social-button-pressed {
    color: #aaa;
}

.rs-wiki-flagged{
    color: $rs-error-color !important;
}

.rs-icon-button.rs-icon-firefox{
    top: -2px !important;
}

.rs-ticket-button{
    color: white !important;
    font-size:18px !important;
}
.rs-ticket-button.rs-icon-firefox{
    top: -2px !important;
}

.rs-worksheet-continue{
    color: white !important;
}

.rs-btn-squeeze{
    padding: 0px !important;
}

.rs-client-button{
    color: white !important;
}

/* 

	Page Tab / Selector Button
	
*/
.rs-page-tab-button {
	&.x-btn-default-toolbar-small-over {
		background-color: #eee;
		border-color: #eee;
		color: #aaa;		
	}
	
	&.x-btn-default-toolbar-small-pressed {
		background-color: #eee;
		border-color: #aaa;
		color: #aaa;		
	}
	
	&.x-btn-default-toolbar-small-menu-active .x-btn-inner,
	&.x-btn-default-toolbar-small-over .x-btn-inner,
	&.x-btn-default-toolbar-small-pressed .x-btn-inner {
		color: #666;
	}
}

/*

	Proceed Button

*/
.rs-proceed-button {
	&.x-btn {
		
		background-color: $rs-brand-color-primary;
		border-color: $rs-brand-color-primary;
		
		.x-btn-inner {
			color: #fff;
		}
		
		&.x-btn-over,
		&.x-btn-active,
		&.x-btn-focus,
		&.x-btn-pressed {
			background-color: $rs-brand-color-primary-over;
			border-color: $rs-brand-color-primary-over;		
			
			.x-btn-inner {
				color: #fff;
			}
		}
		
		&.x-btn-disabled {
			background-color: $rs-brand-color-primary-disabled;
			border-color: $rs-brand-color-primary-disabled;
		}
	}
}

.x-btn-icon-el.rs-block-button.icon-magic {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.rs-at-add-btn-enabled.rs-at-add-btn-disabled {
    background-image: url('/resolve/css/resources/images/add_disabled.png');
}

.rs-at-add-btn-enabled {
    background-image: url('/resolve/css/resources/images/add.png');
}
.rs-body .rs-small-btn.x-btn:not(.x-icon){
    min-width: 72px;
    padding: 3px 8px;  
} 
.rs-body .rs-small-btn.x-btn:not(.x-icon):last-child{
    margin : 0 
} 
.rs-body .rs-small-btn.x-btn:not(.x-icon) span.x-btn-inner{
    font-size: 12px; 
}
.rs-body .rs-med-btn.x-btn:not(.x-icon){
    min-width: 110px;   
    padding : 5px 10px;  
}
.rs-body .rs-med-btn.x-btn:not(.x-icon):last-child{
    margin : 0 
} 
.rs-body .rs-med-btn.x-btn:not(.x-icon) span.x-btn-inner{
    font-size: 13px; 
}
.rs-body .rs-big-btn.x-btn:not(.x-icon){
    min-width: 150px;   
    padding : 8px 10px;  
}
.rs-body .rs-big-btn.x-btn:not(.x-icon):last-child{
    margin : 0 
} 
.rs-body .rs-big-btn.x-btn:not(.x-icon) span.x-btn-inner{
    font-size: 14px; 
}
.rs-body .rs-btn-light.x-btn:not(.x-icon)/*,.rs-body .rs-toggle-btn.x-btn:not(.x-icon)*/{    
    border: 1px solid gray; 
    border-radius: 0px;
    background: white;
}
.rs-body .rs-btn-light.x-btn:not(.x-icon):hover/*,.rs-body .rs-toggle-btn.x-btn:not(.x-icon):hover*/{ 
    background: #efefef;
}
.rs-body .rs-toggle-btn.x-btn.x-btn-pressed:not(.x-icon) .x-btn-icon-el{
    color : white;
}
.rs-body .rs-btn-dark.x-btn:not(.x-icon){    
    border: 1px solid gray; 
    border-radius: 0px;
    background: gray;
}
.rs-body .rs-btn-dark.x-btn:not(.x-icon):hover{ 
    background: #949494;
}
.rs-body .rs-btn-dark.x-btn:not(.x-icon) span.x-btn-inner{  
    color: white;
}
.rs-body .rs-toggle-btn.x-btn.x-btn-pressed:not(.x-icon){       
    box-shadow: inset 0 0 5px #565656;
    border-radius: 0px;
    background: gray;    
}
.rs-body .rs-toggle-btn.x-btn.x-btn-pressed:not(.x-icon) span.x-btn-inner{  
    color: white;
}
.rs-custom-button .x-btn-default-small .x-btn-inner,
.rs-custom-button .x-btn-default-toolbar-small .x-btn-inner {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    padding: 0 20px;
    height: 100%;
}

.rs-custom-button .x-btn-default-small-over,
.rs-custom-button .x-btn-default-toolbar-small-over {
	border: 1px solid #3366FF;
}

.rs-custom-button .x-btn-button {
	height: inherit;
}