/* Toolbar changes for the title of a page */

@include extjs-toolbar-ui(
    'title-toolbar',

    $background-color: transparent,
    $background-gradient: black,

    $border-color: $toolbar-border-color,
    $border-width: $toolbar-border-width,
    $scroller-cursor: $toolbar-scroller-cursor,
    $scroller-cursor-disabled: $toolbar-scroller-cursor-disabled,
    $scroller-opacity-disabled: $toolbar-scroller-opacity-disabled,
    $tool-background-image: $toolbar-tool-background-image
);



@include extjs-toolbar-ui(
    'client-toolbar',

    $background-color: $base-color,
    $background-gradient: none,

    $border-width: 0px
);

@include extjs-toolbar-ui(
    'display-toolbar',
	
    $background-color: white,
    $background-gradient: none
);

.actionBar-form{
    border-bottom: 1px solid $rs-border-color !important;
}

.x-toolbar-footer{
    border-top: 1px solid $rs-border-color !important;
}

/* Toolbar changes for actions on a page */

.sysinfo-toolbar-footer{
  background-color: #f9f9f9 !important;
}

div.sysinfo-toolbar-footer{
  border-top: 1px solid $rs-border-color !important;
}

.rs-header-top {
	.rs-logo {
		&.x-img {
			padding: 10px;
		}
	} 
}

.rs-header-toolbar {
	background-color: #4d4d4d;
	padding-top: 2px;
	padding-bottom: 2px;
	
	.x-btn-client-toolbar-button-small-over .x-btn-inner,
	.x-btn-client-toolbar-button-small-focus .x-btn-inner,	
	.x-btn-client-toolbar-button-small-pressed .x-btn-inner,
	.x-btn-client-toolbar-button-small-menu-active .x-btn-inner	{
		color: $rs-brand-color-primary-over;
	}	
}

/* Prevent display title bottom from truncating */
.#{$prefix}toolbar-display-toolbar {
	.#{$prefix}box-inner {
		min-height: 19px;
	}
}

.auto-refresh-container {
    padding: 5px 4px 7px 4px;
    background-color: #fff
}

.auto-refresh-container table.x-menu-item-cmp {
    margin-top: 4px;
}

.auto-refresh-container table.x-menu-item-cmp:first-child {
    margin-top: 0;
}
.rs-dockedtoolbar, .rs-section-title{
    padding : 0;
    margin-bottom : 8px;
}
.rs-body .x-toolbar-footer {
    background : none;
}