.x-body {
	.menupanel,
	#catalogviewer,
	#menu {
		margin: auto;	
		text-align: left;		
	
		h2 {
			border-bottom: 2px solid lighten($base-color, 40%);
			cursor: pointer;
			padding-top: 6px;
			font-size: 100%;
			line-height: 13px;
			margin:auto;		
			text-align:left;	
				
			div {
				background: transparent url(../images/expand-sprites.png) no-repeat 10px 10px;
				background-position: 10px -40px;
				color: $base-color;
				font-size: 16px;
				font-family: $font-family;
				padding: 8px 6px 8px 20px;			
			}
		}
		
		ul {
			padding:0;
			
			li {
				list-style:none!important;
			}
		}
		
		dd {
		
			border: 1px solid white;
			border-radius: 3px;
			cursor:pointer;
			float:left;
			height: 100px;
			width: 300px;
			margin:5px 5px 5px 10px;		
			zoom:1;
			
			&:hover {
				background-color: lighten($base-color, 62%);
				border: 1px solid  lighten($base-color, 62%);
			}
			
			img {
				background-color: white;
				border: 1px solid #ddd;
				float: left;
				height: 90px;
				width: 120px;
				margin: 5px 0 0 5px;
				padding: 10px;
			}		

			h4 {
				color: #555;
				font-size: 11px;
				font-weight: 700;	
				margin-top: 0px;
			}
		
			p {
				color:#777;
				overflow:hidden;		
			}
		}
		
		/* Cell */
		.menupanel_img,
		.menupanel_noimg {
			& > div {
				border: 1px solid white;
				border-radius: 3px;
			}
			&:hover {
				& > div {
					background-color: lighten($base-color, 62%);
					border:1px solid  lighten($base-color, 62%);				
					border-radius: 3px;
					min-height: 102px;
					/* padding: 0px;
					   padding-top: 5px; */
				}
			}
		}
		
	}
}

.side-box a:link a:visited a:active {
	color:#516f83;
	display:block;
	line-height:1em;
	text-decoration:none;
	list-style-type:none;
	padding:5px 5px 5px 18px;
}

.side-box a:hover {
	
}

.side-box dd {
	cursor:pointer;
	float:left;
	height:25px;
	width:175px;
	zoom:1;
	border-radius:5px 5px 5px 5px;
	border:1px solid #fff;
	margin:5px 5px 5px 10px;
}


.menupanel dd div,.side-box dd div,#menu dd div {
	float:left;
	margin-left:10px;
	width:160px;
}


.menupanel .x-border-layout-ct,#menu .x-border-layout-ct {
	background-color:#fff;
	border:1px solid;
	border-color:#fafafa;
}

.menupanel .collapsed dl,#menu .collapsed dl {
	display:none;
}

.menupanel dd h4 span.new-sample,#menu dd h4 span.new-sample {
	color:red;
}

.menupanel dd h4 span.updated-sample,#menu dd h4 span.updated-sample {
	color:blue;
}

.menu-ct,#menu-ct {
	border:1px solid;
	font:11px $font-family;
	border-color:#dadada #ebebeb #ebebeb #dadada;
	padding:2px;
}

.menu-ct h2,#menu-ct h2 {
	position:relative;
}

.menu-ct h2 .back-to-top,#menu-ct h2 .back-to-top {
	color:#ccc;
	cursor:pointer;
	display:none;
	font-size:12px;
	font-weight:700;
	position:absolute;
	right:11px;
	text-align:right;
	top:9px;
	width:200px;
}

.menu-ct h2.over .back-to-top,#menu-ct h2.over .back-to-top {
	display:block;
}