/* WikiHeadingFilter */
.heading-1 {
font-size: 24px;
margin: 0px;
font-weight: normal;
}

.heading-1-1 {
font-size: 20px;
margin: 0px;
font-weight: normal;
border-bottom: 1px solid $rs-border-color;
}

.heading-1-1-1 {
font-size: 14px;
font-weight: bold;
margin: 0px;
}

.heading-1-1-1-1 {
font-size: 14px;
font-weight: bold;
font-style: italic;
margin: 0px;
}

.heading-1-1-1-1-1 {
font-size: 16px;
color: #FFF;
background-color: $base-color;
margin: 0px;
}

.heading-1-1-1-1-1-1 {
font-size: 16px;
color: #000000;
background-color: #DDDDDD;
margin: 0px;
}

.toc {
border: 1px solid #aaa;
background-color: #f9f9f9;
padding: 5px;
}
/* End WikiHeadingFilter*/

/* WikiLinkFilter */
.wikicreatelink {
text-decoration: none;
}

.wikicreatelinktext {
text-decoration: underline;
color: grey;
}

.wikicreatelinkqm {
text-decoration: none;
font-size: 90%;
color: white;
border: 0px solid black;
background: lightgrey;
padding: 3px;
padding-top: 0px;
padding-bottom: 0px;
margin: 0px;
margin-left: 3px;
}
/* End WikiLinkFilter*/

/* QuoteMacro */
.quote {
font-style: italic;
}
/* End QuoteMacro*/

/* CodeMacro */
.code {
margin-top: 4px;
margin-bottom: 4px;
padding: 5px 5px 5px 5px;
background-color: #eee;
border: 1px solid #ddd;
font-family: courier, monospace;
font-size: 12px;
line-height: 100%;
white-space: pre;
overflow: auto;
}
/* End CodeMacro*/

/* ListFilter */
ul.minus {
list-style-type:square;
}

ul.star {
list-style-type:disc;
}

ol.roman {
list-style-type:lower-roman;
}

ol.ROMAN {
list-style-type:upper-roman;
}

ol.alpha {
list-style-type:lower-alpha;
}

ol.ALPHA {
list-style-type:upper-alpha;
}

ol.hiragana {
list-style-type:hiragana;
}

ol.HIRAGANA {
list-style-type:hiragana-iroha;
}

ol.katakana {
list-style-type:katakana;
}

ol.KATAKANA {
list-style-type:katakana-iroha;
}

ol.HEBREW {
list-style-type:hebrew;
}

ol.greek {
list-style-type:lower-greek;
}


/* End ListFilter*/

/* TableMacro */
.wiki-table {
margin: auto;
empty-cells: show;
width: 95%;
font-size: 100%;
text-align: left;
border: 1px solid $rs-border-color;
border-width: 1px;
border-style: outset;
border-collapse: collapse;
}

.wiki-table th {
border: 1px solid $rs-border-color;
border-width: 1px;
border-style: inset;
text-align: left;
color: #FFF;
font-size: 100%;
font-weight: bold;
background-color: $base-color;
padding: 2px;
}

.wiki-table .table-odd {
font-size: 90%;
}

.wiki-table .table-even {
font-size: 90%;
background-color: #FAFAFA;
}

.wiki-table td {
border: 1px solid $rs-border-color;
border-width: 1px;
border-style: inset;
padding: 2px;
text-align: left;
}

/* End TableMacro*/


/* Detail Macro*/
//inline table definition example can be found in RSQA.Array To Html Table
tr.header{
	background-color: $base-color;
	color: #FFF;
}
tr.odd{
	background-color: #FFF;
	color: black;
}
tr.even{
	background-color: #ddd;
	color: #000;
}
/* End Detail Macro*/

/* Result 2 Macro */
.results .x-grid-row .x-grid-cell{
	border-bottom:1px solid #ededed;
}

/* End Result 2 Macro*/

.wikilink a:visited{
	color:rgb(0, 0, 238);
}

.wikiexternallink a:visited{
	color:rgb(0, 0, 238);
}