$tab-padding: 3px 5px;
$tab-color: $rs-text-color;
$tab-base-color: white;
$tab-border-width: 1px;
$tab-font-weight: normal;

$tab-base-color-over: #eeeeee !default;

$tab-base-color-active: white;
$tab-border-color-active: $rs-border-color;
$tab-color-active: #51abd8;
$tab-font-weight-active: bold;
