<form class="form-horizontal form-complex">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3>Resolve Guided Resolution</h3>
		</div>
		<div class="panel-body">
			<div id="resolve-container">
				<div>
					<a href="https://10.50.2.70:8443/resolve/jsp/rsclient.jsp" target="_blank" style="color: #66CC33;">Launch Resolve Systems</a>
				</div>
			</div>
		</div>
	</div>
</form>
