<form class="form-horizontal form-complex">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3>Click on Done button to associate the Resolve Resolution link</h3>
		</div>
		<div class="panel-body">
			<div id="resolve-container">
				<div>
					Please follow the Resolve Systems link under All tickets to resolve
				</div>
			</div>
		</div>
	</div>
</form>
