.x-form-display-field {
	font: normal 13px $font-family;
	color: black;
	margin-top: 5px;
}
.x-form-display-field.expression-field {
	lineHeight: 21px;
	margin-top: 0;
}
.rs-ad-image-displayfield {
  color:#666;
  margin-top: -2px;
}
.rs-displayfield-value .x-form-display-field {
  height: initial;
  word-break:break-word;
  word-wrap:break-word;
}
