.#{$prefix}form-text {
    color: $form-field-color;
    padding: $form-field-padding;
    background: $form-field-background-color repeat-x 0 0;
    border-width: $form-field-border-width; 
    border-style: $form-field-border-style;
    border-color: $form-field-border-color;
    @if not is-null($form-field-background-image) {
        background-image: theme-background-image($form-field-background-image);
    }
    /*height: auto !important;*/
    line-height: 16px; /* $form-field-content-height; */
    @if $include-ext-toolbar-toolbar and $form-toolbar-field-height != $form-field-height {
        .#{$prefix}field-toolbar & {
            height: $form-toolbar-field-height;
            line-height: $form-toolbar-field-content-height;
        }
    }

    @if $include-content-box {
        .#{$prefix}content-box & {
            height: $form-field-content-height;
        }

        @if $include-ext-toolbar-toolbar and $form-toolbar-field-height != $form-field-height {
            .#{$prefix}content-box .#{$prefix}field-toolbar & {
                height: $form-toolbar-field-content-height;
            }
        }

    }
}
