/*SUMMARY DETAIL*/
.summary-detail-grid td[status='GOOD'] div{
	color : #00bb00;	
}
.summary-detail-grid td[status='BAD'] div,.summary-detail-grid td[status='CRITICAL'] div{
	color : #cc0000;
}
.summary-detail-grid td[status='WARNING'] div{
	color : #f2cc11;
}
.summary-detail-grid td[status='SEVERE'] div{
	color : #ff8800;
}
.summary-detail-preview {
	border: 1px solid #aaa;
	background-color: #fcfaf8;
	padding : 5px;
}
/*PARSER*/
.text-parser-tag {
	border: 1px solid grey;
	padding : 5px 15px; 
	font-size:11px; 
	cursor: pointer;
	display : inline-block;
	border-radius:2px
}
.text-parser-tag:hover {
	color: white;
	background: #90ca73;
}
.text-parser-tag.selected{
	background: #5cb530;
	color : white;
	border-color: #3d9639;
}
.block-model .parser-tab-wrapper .x-tab-bar-strip{
	background: whitesmoke;
}
.block-model .rs-custom-tab .x-tab-bar-strip, .block-model .rs-custom-tab .x-tab-default{
	background: whitesmoke;
}
.block-model .parser-tab-wrapper .x-tab-bar-body > .x-horizontal-box-overflow-body{
  border-bottom: 1px solid #d4d4d4;
}
.block-model .rs-tabpanel-dark .x-tab{
	width: 180px;
	padding: 10px 10px;
}
.block-model .rs-tabpanel-dark .x-tab.x-tab-active{
	background: whitesmoke;
	border: 1px solid #888!important;
	border-bottom: 0 !important;
}
.block-model .rs-tabpanel-dark .x-tab:last-child{
	width: initial;
}
.block-model .rs-tabpanel-dark .x-tab:last-child .icon-plus{
	color: white;	
}
.capture-color-picker{
	width: 100%;
	height : 30px;
	border: none;
}
.xml-parser-wrapper .x-panel-header{
	border : none;
}
.xpath {
	color: #006699;
	padding-top: 3px;
	cursor: default;
	font-weight: bold;
}
.xpath-predicate-attribute, .xpath-selector-attribute{
    color: blue;
    padding: 1px;
    font-weight: normal;
}
pre.xpath-predicate-condition{
	display: inline;
}
.xpath-predicate-text .xpath-predicate-condition,.xpath-predicate-text .xpath-selector-tex {
	color : black;
}
.xpath-predicate-text{
	color : green;
	font-weight: normal;
}
.xpath-predicate-customized {
	font-weight: normal;
}
.xpath-element:hover {
	background: none;
	color : orange;
}
.xpath-element[selected]{
	color : orange;
	background: none;
}
.xpath-predicate:hover, .xpath-predicate-attribute:hover, .xpath-predicate-text:hover{
	background: none;
}
.xpath-predicate {
	cursor: default;
}
.xpath-detail ::-webkit-scrollbar-track-piece{
	background: transparent;
}
.xpath-detail ::-webkit-scrollbar-thumb{
	border : solid #f5f5f5;
}
.column-picker{
	width: 100%;
	height: 25px;	
}
.x-grid-rowbody .actiontaskpicker-heading {
	font-weight: 600;
}
.parser-block .x-fieldset-header-text{
	font-weight: bold;
	font-size : 13px;
}
/*STYLE IN THEME*/

.block-model .x-header-text {
	font-weight: 700;
}

.block-model .x-panel-header.x-panel-header-default {
	border-bottom: 1px solid #aaa;
}

.block-model .x-panel-header-default.header-border {
	border-bottom: 1px solid #aaa;
}

.block-model .x-panel-header-text-container-default {
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
}

.block-model textarea.x-form-text,
.block-model input.x-form-text,
.block-model .x-form-trigger-wrap {
	border-color: #aaa;
}

.block-model .no-input-border > textarea.x-form-text,
.block-model .no-input-border > textarea.x-form-text:focus {
	border: none;
}
.block-model table.no-input-border input.x-form-field.x-form-text {
	border: none;
	border-width: 0;
}

.block-model.x-panel-default {
 	border: 1px solid #aaa;
 	background-color: #f5f5f5; 	
}

.block-model.no-data .x-panel-header.x-collapsed {
	background-color: #e0e0e0;
}

.block-model.no-data .x-panel-header.x-collapsed:hover {
	background-color: #dce7ea;
}

.block-model .x-panel-body-default {
	color: #444;	
}

.block-model .x-panel-header.x-collapsed:hover {
	background-color: #dce7ea;
}

.block-model .x-panel-header-default, 
.block-model .x-panel-body-default,
.block-model .x-toolbar-default {
    background-color: inherit;
    color: inherit;
}

.block-model .x-panel-header {
	padding: 4px 15px;
}
.x-menu-item-header > .x-panel-body {
	font-weight: bold;
}

.block-model .x-form-invalid .x-form-trigger-wrap,
.block-model .x-form-invalid input.x-form-invalid-field {
	border-color: #cf4c35;
}

.block-model .description-displayfield .x-form-display-field,
.block-model .summary-displayfield .x-form-display-field,
.x-form-field.x-form-text.x-form-textarea {
	height: auto;
}
div[id^="sociallink"] > .x-panel,
div[id^="sociallink"] .x-panel-body {
	height: 40px !important;
}

.block-model .or-block {
	border: 1px solid #aaa;
	padding: 10px;
	background-color: #fff;
}

.expression-block {
	float: left;
	clear: left;
	display: inline-block;
	background-color: #fff;	
}

.expression-block:last-child {
	margin-bottom: 0 !important;
}

.expression-form {
	border: 1px solid #aaa;
	margin: 10px;
	background-color: #f4f4f4;
}

.expression-container {
	overflow: auto;	
}

.expression {
	float: left;
}

.x-form-display-field.expression-text {
	height: 21px;
	line-height: 21px;
	margin-top: 0;
	padding: 0;
}

.x-form-item-body.x-form-display-field-body > .expression-text-bold {
	height: 21px;
	line-height: 21px;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
}

.block-model .disabled-readable .x-mask {
	background: transparent;
}

.breadcrumb {
	overflow: hidden;
	counter-reset: flag; 
	list-style:none;
}

.breadcrumb li {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	display: inline-block;
	float: left;
	font-size: 14px;
	line-height: 30px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 20px 0 20px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb li:first-child {
	padding-left: 16px;
	border-left: 1px solid #aaa;
}

.breadcrumb li:first-child:before {
	left: 14px;
}
.breadcrumb li:last-child {
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb li.active, .breadcrumb li:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb li.active:after, .breadcrumb li:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb li:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -15px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 30px; 
	height: 30px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	/*
	z-index: 1;
	*/
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb li:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb li:before {
	/*
	content: counter(flag);
	counter-increment: flag;
	*/
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 6px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	text-align:center;
}


.flat li,
.flat li:after {
	background: #f5f5f5;
	color: #666;
	/*transition: all 0.5s;*/
}

.flat li:before {
	background: #f5f5f5;
	box-shadow: 0 0 0 1px #ccc;
}

.flat li:hover,
.flat li.active, 
.flat li:hover:after,
.flat li.active:after {
	background: #ccc;
}

.at-code-editor-max-length-exceeded {
	color: red;
}

.at-code-editor-length {
	color: #444;	
}

.editor-disabled > div > .ace-eclipse {
	background-color: #fcfaf8;
}
.editor-disabled > div > .ace-eclipse .ace_content {
	cursor: default !important;
}
.block-model .x-icon.x-btn-icon {    
	background-color: initial;
	border-color: transparent;
}

.automation-panel .x-btn.submit-button,
.block-model .x-btn.submit-button {
    width: 110px;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.automation-panel .x-btn.submit-button-disabled,
.block-model .x-btn.submit-button-disabled {
    border: 1px solid #d00;
}

.automation-panel .x-btn.submit-button span.x-btn-inner,
.block-model .x-btn.next-button span.x-btn-inner, 
.block-model .x-btn.submit-button span.x-btn-inner {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
}

.automation-panel .x-btn.submit-button span.x-btn-icon-el,
.block-model .x-btn.next-button span.x-btn-icon-el, 
.block-model .x-btn.submit-button span.x-btn-icon-el {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em; 
}

.block-model .x-btn.next-button {
    width: 110px;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    border: 1px solid #aedd94;
    border-radius: 4px;
}

.block-model .x-btn.next-button-disabled {
    border: 1px solid #d00;
}

.block-model .x-toolbar .x-btn.link-button {
    margin: 0;
    padding: 1px 0 0 0;
    height: 26px;    
    line-height: 25px;
    background-color: transparent;
    border: none;
}

.block-model .x-toolbar .x-btn.link-button > span span.x-btn-inner {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.block-model .x-toolbar .separator {
    margin: 0 20px;
}

.block-model .x-toolbar .text-separator {
    margin: 0 20px 0 5px;
}

.block-model .x-toolbar .separator-text {
    margin: 0 10px 0 15px;
}
.block-model .x-form-checkboxgroup-body {
  padding: 0;
}
.block-model .x-item-disabled .x-form-item-label,
.x-item-disabled .x-form-field,
.x-item-disabled .x-form-display-field,
.x-item-disabled .x-form-cb-label,
.x-item-disabled .x-form-trigger {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.block-model .no-margin.x-checkboxgroup-form-item > tbody > tr > td > input[type=button] {
	margin-top: 0;
}

.block-model .x-form-item-body.warning > .x-form-display-field {
	color: #d00;
}
/*
.block-model .x-fieldset {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
}

.block-model .x-fieldset-header-text {
	font-size: 13px;
	line-height: 1.5em;
	color: black;
	padding: 1px 0;
}

.block-model .#{$prefix}field-label-cell {
    vertical-align: baseline;
}
*/
.expression-block-container-fieldset {
    margin: 15px 0 10px 0;   
}

.expression-block {
    margin: 0 0 5px 0;
}
.block-model .x-item-disabled img.x-grid-checkcolumn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.5;
}
.block-model .x-column-header-inner {
	padding: 0 10px;
	line-height: 1.5em;
}

.block-model .x-column-header {
	border-right: 1px solid #aaa;
	color: #444;
	background-color: #e0e0e0;
	line-height: 1.5em;
	padding: 0;
}

.block-model .x-column-header:last-child  {
	border-right: none;
}

.block-model .x-column-header-over,
.block-model .x-column-header-sort-ASC,
.block-model .x-column-header-sort-DESC {
	background-image: none;
	background-color: #e0e0e0;
	color:#444;
}

.block-model .x-column-header-open {
	background-color: #e0e0e0;
}

.block-model .x-column-header-open .x-column-header-trigger {
	background-color: #e0e0e0;
}

.enlarge120 {
	zoom: 1.20;
}

.x-panel.block-model.subEditModel.x-panel-collapsed {
	height: 31px !important;
}

.block-model tr.duplicate-row>td.x-grid-cell{
	background: #fffcd6;
}
.disable-entry {
	pointer-events: none;
	opacity: 0.5;
}

.block-model .roles-grid .x-item-disabled .x-action-col-icon,
.block-model .roles-grid.default-roles-enabled .x-grid-checkcolumn,
.block-model .roles-grid.default-roles-enabled .x-action-col-icon {
	opacity: 0.5;
}

.pagination {
	height: 18px;
	width: 18px;
}
.version-pagination .first-page {
  background-image: url("/resolve/css/resources/images/grid/page-first.png");
}
.version-pagination .previous-page {
  background-image: url("/resolve/css/resources/images/grid/page-prev.png");
}
.version-pagination .next-page {
  background-image: url("/resolve/css/resources/images/grid/page-next.png");
}
.version-pagination .last-page {
  background-image: url("/resolve/css/resources/images/grid/page-last.png");
}
